<div class=" dialog-new-style <% if (data.fail) {%> dialog-fail <% } else if (data.success) {%> dialog-success <% }  else { %> dialog-error <% } %>" id="J_Dialog">
	<div class="dialog-inner">
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
   	<% if (data.fail) {%>
      <% if (data.self) {%>
      <p>不能使用自己的邀请码</p>
      <p>让朋友邀请你或者去邀请朋友吧~</p>
       <% } else {%>
       <p>您已经被邀请过</p>
       <p>无法被多次邀请，去邀请别人把</p>
       <p>邀请成功后不仅有美元红包还享</p>
       <p>有朋友赚奖励哟~</p>
       <% } %>
    <% } else if (data.success) {%>
       <p>恭喜您成功被邀请</p>
       <p>您只需进行1单实盘交易即可帮助</p>
       <p>邀请您的人获得美元奖励~</p>
    <% } else { %>
       <p>邀请码错误</p>
       <p>请重新填写正确的</p>
       <p>邀请码后重试！</p>
    <% } %>
   </div>
   <div class="dialog-buttons clearfix">
   	   <% if (data.error) {%> 
   	   <span class="dialog-btn J_DialogConfirm">确认</span>
   	   <% } else { %>
       <a class="dialog-btn  close" id="J_DialogSetupCancel" href="<%= getHelpHtmlUrl() %>">了解详情</a>
       <span class="dialog-btn J_DialogConfirm">确认</span>
       <span class="bar"></span>
       <% } %>
   </div>
  </div>
</div>