@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .share{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
      }
      .go-back{
        .left(30);
      }
      .share{
        .right(30);
      }
  }
}

.img-wrapper{
  .width(750);
  .height(407);
}

.content{
  .font-size(28);
  .bd{
    .padding(70);
    p{
      .font-size(24);
    }
    .code{
      .padding(30, 0);
      .font-size(60);
      font-weight: 700;
      text-align: center;
    }
  }
  .action-wrapper{
    .padding(30);
    #J_ShowGuide{
      display: inline-block;
      .width(560);
      .height(70);
      .line-height(70);
      .border-radius(4);
      .margin-left(60);
      text-align: center;
      color: #fff;
    }
  }
  .code-wrapper{
    position: fixed;
    .right(0);
    .left(0);
    .bottom(0);
    .padding(30, 20);
    #J_Share{
      display: inline-block;
      .width(690);
      .height(88);
      .line-height(88);
      .border-radius(5);
      .font-size(34);
      text-align: center;
      color: #fff;
    }
  }
}
.qr-text-one{
  .height(50);
  .line-height(50);
  .font-size (40);
  .margin-top(150);
  vertical-align: top;
  color: #fff;
  .name{
    display: inline-block;
    .width(180);
    .height(50);
    .line-hide();
    vertical-align: top;
  }
}

.qr-text-two{
  .font-size (46);
  .margin-top(12);
  .margin-bottom(50);
  color: #fff;
}

.qr-mask{
  position: fixed;
  width: 100%;
  height: 100%;
  .top(0);
  .right(0);
  .bottom(0);
  .left(0);
  z-index: 1001;
  opacity: 0;
}

.qrcode-close{
  .font-size(24);
  .width(108);
  .line-height(38);
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  margin: 30px auto;
  position:relative;
  z-index: 1002;
}