@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        .left(30);
      }
  }
}

.help-page-container{
    .font-size(30);
    .item{
        .padding(30);
        .border-bottom(1, solid, transparent);
    }
    .no-list{
        .padding-top(220);
        text-align: center;
    }
}

.loading{
  position: absolute;
  .width(120);
  .loading(60, 120, #ccc, #fff);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  .margin-top(240);
  text-align: center;
}