@import '../../../../variable.less';
@import '../../../../base.less';
@base: 40;
input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.dialog-ios8();
::-webkit-input-placeholder {
  color: #999;
}

html {
  // background: rgb(98,47,142);
}

.icon {
    background: url(../../../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

body {
  background: url(../../../../../img/wl/dkdr/login-bg.png) 0 0 no-repeat;
  /*.background-size(750, 1136);*/
  background-size: 100% auto;
  .min-height(1136);
  .padding-top(500);
  .padding-bottom(70);
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a7a7a7;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a7a7a7;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a7a7a7;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a7a7a7;
}

.content {
  form {
    .width(520);
    margin: 0 auto;
    .input-wrapper {
      .border-radius(2);
      overflow: hidden;
      input {
        .padding-top(8);
        .padding-bottom(8);
        .line-height(40);
        .height(74);
        background: transparent;
        .padding-left(90);
        .width(520);
        /*.padding-left(90);*/
        .font-size(28);
        color: #a7a7a7;
        .border(2, solid, #9679DC);
        .border-radius(23);
        &:-webkit-autofill,
        &:-webkit-autofill:focus,
        &:-webkit-autofill {
          -webkit-text-fill-color: #a7a7a7 !important;
          -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          transition: background-color 5000s ease-in-out 0s;
        }
      }
      .tel,
      .password{
        background: #fff;
      }
      .get-code {
        position: absolute;
        .top(27);
        .right(22);
        .width(178);
        .height(60);
        .line-height(56);
        text-align: center;
        .border-bottom(4, solid, #fe6606);
        background: -webkit-gradient(linear, 0 100%, 0% 100%, from(#e6b275), to(#fe6606));
        background: -webkit-linear-gradient(top, #e6b275, #fe6606);
        color: #fff;
        .border-radius(4);
        .font-size(27);
      }
    }
    .wrapper {
      position: relative;
      .height(80);
      &.submit-wrapper {
        .margin-top(10);
        height: auto;
        border: none;
        line-height: normal;
      }
      &.second{
        .margin-top(30);
        .margin-bottom(23);
      }
      &.error {
        .err {
          display: block;
        }
      }
      .err {
        display: none;
        .left(90);
        position: absolute;
        .top(76);
        .line-height(30);
        .font-size(22);
        color: #ff564e;
      }
      .icon {
        position: absolute;
        .top(21);
        .left(36);
        .width(29);
        .height(32);
        .background-position(0, -350);
        &.icon-password{
          .background-position(0, -310);
        }
      }
    }
    .submit {
      .line-height(70);
      .height(70);
      .width(520);
      .border-radius(23);
      // .border-bottom(4, solid, #c93a3a);
      // background: #005953;724c09
      background: -webkit-gradient(linear, 0 100%, 0% 100%, from(rgb(150,123,220)), to(rgb(150,123,220)));
      background: -webkit-linear-gradient(top, rgb(150,123,220), rgb(150,123,220));
      color: #fff;
      .font-size(30);
    }
  }
  .login-wrapper {
    margin: 0 auto;
    .margin-top(20);
    .width(480);
    text-align: center;
    color: #413564;
    .recovery,
    .register {
      /*display: inline-block;*/
      float: right;
      .line-height(40);
      .font-size(20);
      color: #413564;
    }
    .register {
      float: left;
    }
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 20px;
  .left(74);
}
