<div class=" dialog-logout" id="J_Dialog">
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
       <p class="title">确定退出?</p>
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose close" id="J_DialogSetupCancel">取消</span>
       <span class="dialog-btn J_DialogConfirm">确认</span>
       <span class="bar"></span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>