<div class="img-wrapper-outer">
    <div class="img-wrapper">
		<img class="J_Upload" src="<%= data.avatar ? data.avatar : '../../img/default-logo.png' %>">
		<input type="file" class="upload-input">
	</div>
</div>
<div class="name-wrapper">
    <p><span class="nickname"><%= data.nickname %></span><span class="J_Edit ui icon edit profile-icon"></span></p>
    <input type="text" value="<%= data.nickname %>"/>
    <a class="save J_Save ui btn-setUi common" href="javascript:;">确定</a>
    <p class="error"></p>
</div>
<section class="syncWrapper" style="display:none">
	<a class="sync J_Sync">同步微信信息</a>
</section>