@import '../../variable.less';
html, 
body {
    background: #fff;
}

.dialog-ios8();

.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

header {
    .width(640);
    overflow: hidden;
    .header-inner {
        position: relative;
        .height(88);
        .line-height(88);
        .font-size(36);
        text-align: center;
        background: #967bdc;
        color: #fff;
        .go-back {
            position: absolute;
            .left(18);
            .top(22);
            .width(49);
            .height(44);
            .icon {
                display: block;
                .width(23);
                .height(40);
                .background-position(0, -435);
            }
        }
    }
}

.content{
    width: 100%;
    .font-size(26);
    .follow-order-wrapper{
        .width(640);
        background: #fff;
        color: #807691;
        .hd{
           .hd-header{
                .padding(40);
                overflow: hidden;
                .img-wrapper-outer{
                    .width(120);
                    .height(120);
                    .border-radius(50%);
                    float: left;
                    .margin-right(12);
                    overflow: hidden;
                    .img-wrapper,
                    .img{
                        width: 100%;
                        height: 100%;
                        .border-radius(50%);
                    }
                }
                .desc-wrapper{
                    .line-height(40);
                    .name{
                        .width(300);
                        .line-hide();
                    }
                    .account{
                        display: inline-block;
                        .width(63);
                        .height(30);
                        .line-height(30);
                        .font-size(24);
                        text-align: center;
                        color: #967BDC;
                        border: 1px solid #967BDC;
                    }
                    .num{
                        color: #967BDC;
                        .margin(0,5);
                    }
                }
            }
            .hd-body{
                &>div{
                    .height(100);
                    .padding(10, 0);
                    .padding-left(60);
                    .item{
                        display: inline-block;
                        width: 32%;
                        .num{
                            // .font-size(26);
                        }
                        .desc{
                            .font-size(22);
                        }
                    }
                    .left{
                        float: left;
                    }
                    .right{
                        float: right;
                    }
                }
            }
        }
        nav{
            background: #F2F3F7;
            ul{
                display: flex;
                display: -webkit-flex;
                justify-content: space-around;
                align-items: center;
                li{
                    position: relative;
                   .height(70);
                   .line-height(70);
                    &.active{
                        color: #68449f;
                        &:after{
                            position: absolute;
                            visibility: visible;
                            .width(126);
                            .height(4); 
                            .bottom(0);
                            .left(-12);
                            background: #68449f;
                        }
                    }
                }
            }
        }
        .bd{
            width: 100%;
            .follow-content{
                width: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
                .loading{
                    display: block;
                    width: 100%;
                    text-align: center;
                    .padding(50, 0);
                }
            }
        }
        .footer{
            position: fixed;
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            align-items: center;
            background: rgba(255,255,255,.5);
            .left(0);
            .right(0);
            .bottom(0);
            .height(80);
            .padding(10, 0);
            .btn{
                // .width(180);
                // .height(50);
                // .font-size(26);
                // border: none;
                // color: #fff;
                // background: #3AB9E6;
                 .btn(180, 54, 50, 4, 4, 28,#3AB9E6);
                .font-size(24);
                &.J_Attention,
                &.J_CancelAttention,
                &.J_ReviseSetting {
                    background:#7686ba;
                    border-color: #5b6aa1;
                }
                &.J_Follow,
                &.J_Following,
                &.J_Pauseing,
                &.J_KeepFollow,
                &.J_PauseFollow {
                    background: #FF8E32;
                    border-color: #f06f05;
                }
                &.J_MoreData,
                &.J_ReFollow,
                &.J_CancelFollow {
                    background: #967bdc;
                    border-color: #7e64c5;
                }
                &.J_PauseFollow {
                    position: relative;
                }
                &.hidden{
                    display: none;
                }
                .other{
                    position: absolute;
                    .width(180);
                    .height(24);
                    .line-height(24);
                    .bottom(0);
                    .left(0);
                   .font-size(18);
                }
                .pau{
                    position: absolute;
                    .width(180);
                    .height(30);
                    .line-height(30);
                    .top(0);
                    .left(0);
                   .font-size(24);
                }
            }
        }
    }
}