// 图片垂直居中
.img(@width, @height) {
    .img-wrapper {
        width: unit(@width, px);
        height: unit(@height, px);
        line-height: 0;
        *line-height: unit(@height, px);
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        *display: block;
        *font-size: unit(0.873 * unit(@height), px);
        *font-family: Arial;
        .img {
            max-width: unit(@width, px);
            max-height: unit(@height, px);
            _width: unit(@width, px);
            _height: unit(@height, px);
            vertical-align: middle;
            // *vertical-align: baseline;
            // _vertical-align: middle;
        }
    }
}

.header {
    min-width: 980px;
    background-color: #00111e;
    border-bottom: 1px solid #c1dff5;
    .inner-header {
        position: relative;
        height: 110px;
        width: 980px;
        margin: 0 auto;
        .logo {
            position: absolute;
            width: 68px;
            height: 101px;
            background: url(../../../../img/pc-home-tb-logo.png) 0 0 no-repeat;
        }
        .hd-inner {
            span {
                float: left;
            }
            .icon {
                background: url(../../../../img/pc-home-tb-icon.png) 0 0 no-repeat;
            }
            .weibo,
            .other {
                display: inline-block;
                width: 20px;
                background-position: -42px -10px;
                height: 24px;
            }
            .other {
                margin-left: 6px;
                background-position: -68px -10px;
            }
            .num {
                margin-left: 6px;
            }
            button {
                background: url(../../../../img/pc-home-tb-icon.png) 0 0 no-repeat;
                background-position: -270px -10px;
            }
        }
        .hd {
            float: right;
            width: 305px;
            height: 33px;
            padding-top: 12px;
            background-color: #101f2a;
            .hd-inner {
                height: 24px;
                line-height: 24px;
                font-size: 12px;
                color: #999;
            }
            form {
                position: relative;
                float: right;
                width: 156px;
                margin-right: 9px;
                /*padding: 5px ;*/
                input {
                    border: 1px solid #f1f5f7;
                    width: 120px;
                    padding: 4px 24px 4px 10px;
                    height: 14px;
                    outline: 0;
                    -moz-border-radius: 2px;
                    -ms-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    border-radius: 2px;
                }
                button {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    right: 0;
                    top: 0;
                    border: none;
                    outline: 0;
                }
            }
        }
        .bd {
            clear: both;
            padding-top: 7px;
            .nav {
                float: left;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                color: #fff;
                padding-left: 60px;
                width: 614px;
                .item {
                    float: left;
                    width: 102px;
                    &.first {
                        padding-left: 40px;
                        width: 64px;
                    }
                }
                a {
                    color: inherit;
                }
            }
        }
        .link-wrapper {
            float: right;
            width: 305px;
            a {
                position: relative;
                float: left;
                padding-left: 46px;
                width: 102px;
                height: 40px;
                line-height: 40px;
                color: #fff;
                font-size: 16px;
                background-color: #009ee4;
                -moz-border-radius: 2px;
                -ms-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                text-decoration: none;
                &.second {
                    padding-left: 0;
                    float: right;
                    width: 148px;
                    text-align: center;
                    background-color: #fb7306;
                }
                .people {
                    position: absolute;
                    width: 17px;
                    height: 17px;
                    top: 11px;
                    left: 22px;
                    background: url(../../../../img/pc-home-tb-icon.png) 0 0 no-repeat;
                    background-position: -22px -62px;
                }
            }
        }
    }
}

.content {
    position: relative;
    .ct-hd {
        height: 459px;
        min-width: 980px;
        background: url('../../../../img/pc-home-bg.jpg') top center no-repeat;
        .hd-inner {
            height: 459px;
            width: 980px;
            margin: 0 auto;
        }
    }
    .container {
        /*height: 459px;*/
        width: 980px;
        margin: 0 auto;
        /* margin-top: -280px;*/
        position: relative;
    }
    .chart {
        position: absolute;
        top: -262px;
        left: 0;
        width: 610px;
        height: 382px;
        background: url('../../../../img/pc-home-chart.png') 0 0 no-repeat;
    }
    .login-wrapper {
        position: absolute;
        top: -280px;
        right: 0;
        width: 326px;
        height: 378px;
        background: rgba(209, 241, 253, .9);
        h2 {
            line-height: 40px;
            font-size: 22px;
            color: #fff;
            text-align: center;
            background: rgba(51, 105, 142, .9);
        }
        .wrapper {
            padding-top: 10px;
            height: 36px;
            input {
                background: #fff;
                height: 16px;
                width: 257px;
                margin-left: 24px;
                border: none;
                outline: 0;
                font-size: 14px;
                padding: 10px 10px 10px 16px;
                color: #999;
                &:-webkit-autofill {
                    background: #fff;
                }
            }
            .region {
                width: 50px;
                float: left;
            }
            .tel {
                float: left;
                margin-left: 7px;
                width: 174px;
            }
            .code {
                float: left;
                width: 138px;
            }
            .get-code {
                width: 112px;
                line-height: 36px;
                text-align: center;
                float: right;
                border: none;
                outline: 0;
                background: #75a6c6;
                color: #fff;
                float: left;
                margin-left: 7px;
                font-size: 14px;
            }
            .submit {
                width: 203px;
                line-height: 40px;
                background: #009ee4;
                color: #fff;
                outline: 0;
                border: none;
                font-size: 16px;
            }
        }
        .submit-wrapper {
            height: 40px;
            margin-top: 17px;
            text-align: center;
        }
        p {
            margin-top: 3px;
            line-height: 34px;
            font-size: 14px;
            text-align: center;
            color: #2d434d;
            a {
                color: #009ee4;
            }
        }
    }
    .category {
        padding-top: 152px;
        .item {
            float: left;
            width: 216px;
            height: 250px;
            .logo {
                position: absolute;
                top: 16px;
                left: 0;
                width: 60px;
                height: 60px;
                background: url('../../../../img/pc-home-category-icon.png') 0 0 no-repeat;
            }
            &.col-1 {
                position: relative;
                padding-left: 70px;
                &.line-2 {
                    .logo {
                        background-position: 0 -251px;
                    }
                }
            }
            &.col-2 {
                position: relative;
                padding-left: 136px;
                .logo {
                    left: 52px;
                    background-position: -339px 0;
                }
                &.line-2 {
                    .logo {
                        background-position: -339px -255px;
                    }
                }
            }
            &.col-3 {
                position: relative;
                padding-left: 126px;
                .logo {
                    left: 46px;
                    background-position: -684px 0;
                }
                &.line-2 {
                    .logo {
                        background-position: -684px -251px;
                    }
                }
            }
            &.line-2 {
                height: 208px;
            }
            .desc {
                width: 216px;
            }
            h2 {
                line-height: 50px;
                font-size: 18px;
                color: #2c3e50;
                font-weight: normal;
            }
            p {
                line-height: 22px;
                font-size: 16px;
                color: #7f8c8d;
                height: 92px;
            }
            ul {
                padding-top: 10px;
            }
            li {
                position: relative;
                font-size: 16px;
                line-height: 30px;
                height: 30px;
                padding-left: 18px;
                overflow: hidden;
                color: #fb7306;
                .circle {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 12px;
                    left: 0;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    background-color: #fb7306;
                }
            }
        }
    }
}

.recommend {
    height: 500px;
    min-width: 980px;
    background-color: #f4f4f4;
    .recommend-inner {
        width: 980px;
        margin: 0 auto;
    }
    .hd {
        position: relative;
        background: #f4f4f4;
        padding-top: 46px;
        h2 {
            line-height: 68px;
            height: 68px;
            font-size: 18px;
            text-align: center;
            color: #2c3e50;
        }
        .bar {
            position: absolute;
            width: 107px;
            top: 81px;
            left: 9px;
            height: 1px;
            line-height: 1px;
            font-size: 0;
            background-color: #dbdbdb;
            &.bar-second {
                left: 223px;
            }
        }
    }
    .col {
        float: left;
        width: 340px;
    }
    .col-1 {
        margin-left: 1px;
    }
    .col-2 {
        margin-left: 24px;
    }
    .col-3 {
        width: 253px;
        margin-left: 22px;
        .bar {
            width: 70px;
            &.bar-second {
                left: 177px;
            }
        }
        .link {
            height: 150px;
            width: 253px;
            margin-bottom: 8px;
        }
        .item-bd {
            height: 74px;
        }
        ul {
            height: 75px;
            border-top: 1px solid #fff;
            .item-1,
            .item-2,
            .item-3 {
                padding-top: 6px;
                text-align: center;
                p {
                    line-height: 34px;
                    color: #7f8c8d;
                }
                .num {
                    line-height: 26px;
                    color: #009ee4;
                }
            }
            .item-1 {
                float: left;
                width: 70px;
            }
            .item-2 {
                float: left;
                width: 84px;
                margin-left: 10px;
            }
            .item-3 {
                float: left;
                width: 86px;
                p {
                    color: #7f8c8d;
                }
            }
        }
    }
    .link {
        display: block;
        border: 1px solid #fff;
        height: 71px;
        width: 335px;
        border-right-width: 2px;
        border-bottom-color: #f4f6f7;
        text-decoration: none;
        background-color: #f9f9f9;
        margin-bottom: 6px;
        .img-wrapper-outer {
            position: relative;
            margin-left: 4px;
            margin-top: 6px;
            float: left;
            width: 56px;
            height: 56px;
            background-color: #fff;
            .img-wrapper {
                border: 1px solid #f2f1f1;
                width: 53px;
                height: 53px;
                padding-left: 2px;
                padding-top: 2px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .bar-bottom {
                position: absolute;
                width: 57px;
                height: 2px;
                background-color: #b7b7b7;
                font-size: 0;
                line-height: 0;
                left: 1px;
                top: 58px;
            }
        }
        .item-bd {
            position: relative;
            margin-left: 74px;
            h2 {
                line-height: 34px;
                font-size: 16px;
                color: #2c3e50;
            }
            .desc-wrapper {
                line-height: 34px;
                font-size: 14px;
                color: #7f8c8d;
                .num {
                    margin-left: 4px;
                    color: #009ee4;
                }
            }
            img {
                position: absolute;
                top: 36px;
                right: 6px;
                width: 66px;
                height: 26px;
            }
            p {
                margin-top: -6px;
                line-height: 20px;
                font-size: 14px;
                color: #7f8c8d;
                &.time {
                    margin-top: 0;
                    float: right;
                    margin-right: 10px;
                }
            }
        }
    }
}

.news {
    min-width: 980px;
    .news-inner {
        width: 980px;
        height: 678px;
        padding-top: 55px;
        margin: 0 auto;
        .cate {
            float: left;
            width: 310px;
            .hd {
                position: relative;
                h2 {
                    text-align: left;
                    padding-left: 122px;
                }
                .logo {
                    position: absolute;
                    width: 68px;
                    height: 64px;
                    left: 56px;
                    top: 24px;
                    background: url('../../../../img/pc-home-news-icon.png') 0 0 no-repeat;
                    background-position: -56px -24px;
                }
            }
        }
        .cate-2,
        .cate-3 {
            .hd {
                h2 {
                    padding-left: 154px;
                }
                .logo {
                    left: 64px;
                    background-position: -400px -31px;
                }
            }
        }
        .cate-3 {
            .hd {
                .logo {
                    top: 23px;
                    background-position: -736px -23px;
                }
            }
        }
        .cate-2 {
            margin-left: 26px;
            .hd {
                position: relative;
                background-color: #2d6385;
                h2 {
                    color: #fff;
                }
                .triangle {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 40px 40px 0 0;
                    border-color: #4583aa transparent transparent transparent;
                    line-height: 0;
                    font-size: 0;
                    &.right {
                        position: absolute;
                        top: -1px;
                        right: -1px;
                        left: auto;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 40px 40px 0;
                        border-color: transparent #4583aa transparent transparent;
                    }
                }
            }
        }
        .cate-3 {
            margin-left: 24px;
        }
        .hd {
            height: 102px;
            line-height: 102px;
            background-color: #ebeef0;
            h2 {
                padding-left: 122px;
                font-size: 22px;
                color: #2c3e50;
            }
        }
        .bd {
            height: 512px;
            background-color: #f4f4f4;
            p {
                height: 122px;
                line-height: 24px;
                font-size: 18px;
                color: #7f8c8d;
                padding: 11px 40px 0 40px;
            }
            ul {
                .link {
                    display: block;
                    padding-left: 40px;
                    line-height: 38px;
                    border-bottom: 1px solid #ebeef0;
                    font-size: 16px;
                    color: #7b8a97;
                }
                .date {
                    margin-right: 30px;
                    float: right;
                }
            }
        }
    }
}

.collaborators {
    min-width: 980px;
    .collaborators-inner {
        width: 980px;
        margin: 0 auto;
        height: 288px;
    }
    .hd {
        height: 32px;
        line-height: 32px;
        border-bottom: 1px solid #dbdbdb;
        h2 {
            padding-left: 20px;
            font-size: 18px;
            color: #2c3e50;
        }
    }
    ul {
        li {
            float: left;
            margin-right: 30px;
            .img(172,
            102);
            /*a {
                display: block;
                height: 102px;
                width: 172px;
                img {
                    max-height: 172px;
                    max-width: 102px;
                }
            }*/
        }
    }
}

.footer {
    min-width: 980px;
    background-color: #00080e;
    .footer-inner {
        position: relative;
        width: 980px;
        margin: 0 auto;
        padding-top: 46px;
        height: 254px;
        .link {
            float: left;
            font-size: 14px;
            color: #727171;
            line-height: 26px;
            width: 100px;
        }
        .phone {
            color: #fff;
            font-size: 24px;
            float: right;
            height: 24px;
            line-height: 24px;
        }
        .icon {
            background: url('../../../../img/pc-home-ft-icon.png') 0 0 no-repeat;
        }
        .option {
            position: relative;
            float: left;
            width: 77px;
            background: #1a2127;
            margin-left: 35px;
            font-size: 12px;
            padding-left: 28px;
            line-height: 26px;
            color: #727171;
            .flag {
                position: absolute;
                top: 8px;
                left: 5px;
                width: 19px;
                height: 12px;
                background-position: -5px -6px;
            }
            .arrow {
                position: absolute;
                left: 90px;
                top: 10px;
                width: 7px;
                height: 4px;
                background-position: -90px -10px;
            }
        }
        .phone-icon {
            float: left;
            width: 24px;
            height: 26px;
            background-position: -124px 0;
            margin-left: 56px;
        }
        .desc {
            padding-top: 26px;
            font-size: 14px;
            color: #c7c5c5;
            line-height: 24px;
        }
        .copyright {
            position: absolute;
            font-size: 14px;
            color: #505050;
            line-height: 24px;
            height: 24px;
            bottom: 33px;
            width: 980px;
            left: 0;
            text-align: center;
        }
    }
}

.top-banner {
    min-width: 980px;
    .top-banner-inner {
        height: 460px;
    }
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp {
    font-family: 'courier new', courier, monospace;
}

small {
    font-size: 12px
}

ol,
ul {
    list-style: none
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

legend {
    color: #000
}

fieldset,
img {
    border: 0
}

button,
input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clearfix {
    &:after {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}