@import '../../variable.less';
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

html {
    //background: #f1f0f6;
}

input {
    outline: 0;
}

h1,
h2,
h3 {
    font-weight: normal;
}

body {
    /* .width(640);
    overflow: hidden;*/
}

header {
    .width(640);
    overflow: hidden;
    .header-inner {
        position: relative;
        .height(88);
        .line-height(88);
        .font-size(36);
        text-align: center;
        background: #967bdb;
        color: #fff;
        /* -webkit-transition: -webkit-transform .3s ease-in;
        transition: transform .3s ease-in;
        &.unfold {
            -webkit-transform: translateX(-16rem);
            transform: translateX(-16rem);
        }*/
        .go-back {
            position: absolute;
            .left(18);
            .top(22);
            .width(49);
            .height(44);
            .icon {
                display: block;
                .width(23);
                .height(40);
                .background-position(0, -435);
            }
        }
        .search {
            position: absolute;
            .top(22);
            .right(20);
            .width(44);
            .height(44); //582
            .background-position(0, -669);
        }
        .search-wrapper {
            position: absolute;
            top: 0;
            .padding-top(22);
            .padding-left(30);
            .width(640);
            left: 0;
            .height(88);
            background: #967bdb;
            color: #fff;
            span,
            input {
                float: left;
            }
            .search {
                .left(30);
                border: none;
            }
            .input-txt {
                border: none;
                .width(590);
                .height(48);
                .padding(10, 54);
                .font-size(28);
                border-bottom: 1px solid #fff;
                background: inherit;
                outline: 0;
                color: #fff;
            }
            .close {
                position: absolute;
                .top(26);
                .right(30);
                .width(34);
                .height(34);
                .background-position(0, -720);
            }
        }
    }
}

.content {
    margin: 0 auto;
    .width(640);
    .padding-top(16);
    .padding-bottom(198);
    /*background: #f4f3fb;*/
    .item-wrapper {
        background: #f4f1fb;
    }
    .item {
        position: relative;
        .padding-left(60);
        .height(102);
        .line-height(102);
        .margin-bottom(10);
        .font-size(30);
        color: #807691;
        background: #fff;
        .wrapper {
            display: block;
            color: rgb(85, 26, 139);
        }
        &.loading {
            text-align: center;
            background-color: #fff;
        }
        p {
            //display: inline-block;
            float: left;
            .width(180);
            white-space: nowrap;
            .height(102);
            overflow: hidden;
            .line-hide();
            &.name {
                .width(300);
                .padding-left(10);
                /* overflow: hidden;*/
            }
        }
        .price,
        .origin-price {
            .width(140);
            .padding-left(20);
            .font-size(24);
            .line-height(82);
            color: #f9584a;
        }
        .action {
            position: absolute;
            .top(24);
            .right(34);
            .width(56);
            .height(56);
            .border-radius(4);
            background: #6c6281;
            .icon {
                position: absolute;
                .top(27);
                .left(15);
                .width(26);
                .height(4);
                .background-position(0, -655);
            }
        }
        &.add {
            .price,
            .origin-price {
                color: #32d8a3;
            }
            .action {
                background: #967bdc;
                .icon {
                    .top(15);
                    .left(15);
                    .width(26);
                    .height(26);
                    .background-position(0, -620);
                }
            }
        }
    }
    .loader-minix();
}

footer {
    position: fixed;
    .height(98);
    .width(640);
    bottom: 0;
    .bottom-nav();
    background-color: #160e23;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    .bottom-banner {
      display: none;
      position: absolute;
      .top(-100);
      .height(100);
      .width(640);
      .padding-top(26);
      .font-size(26);
      .line-height(50);
      background: #dadbdd;
      .close-wrapper {
        position: absolute;
        .top(28);
        .left(18);
        .width(44);
        .height(44);
      }
      .close {
        position: absolute;
        .top(8);
        .left(8);
        .width(28);
        .height(28);
        .background-position(0, -924);
      }
      .desc {
        .margin-left(80);
        color: #706781;
      }
      .login {
        float: right;
        .margin-right(25);
        .width(140);
        .height(54);
        .border-bottom(4, solid, #694fb4);
        text-align: center;
        background: #957cda;
        color: #fff;
      }
    }
    .account-bottom-banner {
      display: none;
    }
  }

//.dialog();
.dialog {
    position: fixed;
    border-radius: 5px;
    background-color: #fff;
    top: 20%;
    left: 50%;
    z-index: 20;
    .margin-left(-280);
    .margin-top(-54);
    //.padding-top(20);
    .width(562);
    color: #3d4245;
    visibility: visible;
    height: auto;
    .border-radius(6);
    .dialog-title {
        .height(86);
        .line-height(86);
        text-align: center;
        .font-size(36);
        color: #fff;
        background: #967bdc;
    }
    .dialog-close {
        position: absolute;
        .top(28);
        .right(20);
        .width(28);
        .height(28);
        .background-position(0, -583);
    }
    .dialog-content {
        position: relative;
        .height(254);
        .padding-left(20);
        .padding-top(30);
        input {
            .width(520);
            .height(70);
            .padding(15, 0);
            .padding-left(104);
            .margin-top(26);
            .border-radius(6);
            .border(2px, solid, #967bdc);
            .font-size(24);
            color: #c8c7cf;
        }
        .phone,
        .lock {
            position: absolute;
            .left(46);
            .top(76);
            .width(21);
            .height(32);
            .background-position(0, -349);
        }
        .lock {
            .top(173);
            .width(26);
            .height(30);
            .background-position(0, -309);
        }
    }
    .message {
        display: none;
        .height(40);
        .line-height(40);
        color: red;
    }
    .dialog-buttons {
        .padding-left(20);
        .height(156);
        .dialog-btn {
            float: left;
            .width(240);
            .height(70);
            .line-height(66);
            text-align: center;
            background: #967bdc;
            .font-size(30);
            color: #fff;
            border-top: 1px solid #c6b8ed;
            .border-bottom(3px, solid, #7e64c5);
            .border-radius(4);
            &.J_DialogClose {
                .margin-right(40);
                background: #7688ba;
                border-top-color: #b8bdda;
                border-bottom-color: #5b6aa1;
            }
        }
    }
}

.dialog {
    .wrapper-icon {
        position: absolute;
        .width(128);
        .height(128);
        .left(218);
        .top(-64);
        .border-radius(50%);
        background-color: #24bbaa;
        .icon {
            position: absolute;
            .width(72);
            .height(70);
            .left(27);
            .top(29);
            .background-position(0, -231);
        }
    }
    &.del-dialog {
        .wrapper-icon {
            background-color: #483c62;
            .icon {
                .top(26);
                .left(40);
                .width(48);
                .height(75);
                .background-position(0, -63);
            }
        }
        .dialog-content {
            .height(264);
            p {
                .height(66);
                .line-height(66);
                .margin-top(100);
                .font-size(30);
                color: #967adc;
                text-align: center;
            }
        }
        .dialog-buttons {
            .padding-left(20);
            .height(156);
            .dialog-btn {
                float: left;
                .width(240);
                .height(70);
                .line-height(66);
                text-align: center;
                background: #967bdc;
                .font-size(30);
                color: #fff;
                border-top: 1px solid #c6b8ed;
                .border-bottom(3px, solid, #7e64c5);
                .border-radius(4);
                &.J_DialogClose {
                    .margin-right(40);
                    background: #7688ba;
                    border-top-color: #b8bdda;
                    border-bottom-color: #5b6aa1;
                }
            }
        }
        .dialog-buttons {
            .height(102);
        }
    }
    /*&.add-dialog {
        .wrapper-icon {
            background-color: #483c62;
            .icon {
                .top(26);
                .left(54);
                .width(20);
                .height(74);
                .background-position(0, -148);
            }
        }
        .dialog-content {
            .height(264);
            p {
                .height(66);
                .line-height(66);
                .margin-top(100);
                .font-size(30);
                color: #967adc;
                text-align: center;
            }
        }
        .dialog-buttons {
            .padding-left(20);
            .height(156);
            .dialog-btn {
                float: left;
                .width(240);
                .height(70);
                .line-height(66);
                text-align: center;
                background: #967bdc;
                .font-size(30);
                color: #fff;
                border-top: 1px solid #c6b8ed;
                .border-bottom(3px, solid, #7e64c5);
                .border-radius(4);
                &.J_DialogClose {
                    .margin-left(40);
                    background: #7688ba;
                    border-top-color: #b8bdda;
                    border-bottom-color: #5b6aa1;
                }
            }
        }
        .dialog-buttons {
            .height(102);
            .dialog-btn {
                .width(430);
            }
        }
    }*/
}

.dialog-login {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    top: 20%;
    left: 50%;
    z-index: 20;
    .margin-left(-280);
    .margin-top(-54);
    //.padding-top(20);
    .width(562);
    color: #3d4245;
    visibility: visible;
    height: auto;
    .border-radius(6);
    .dialog-title {
        .height(86);
        .line-height(86);
        text-align: center;
        .font-size(36);
        color: #fff;
        background: #967bdc;
    }
    .dialog-close {
        position: absolute;
        .top(28);
        .right(20);
        .width(28);
        .height(28);
        .background-position(0, -583);
    }
    .message {
        color: red;
        .line-height(40);
        .height(40);
        text-align: center;
    }
    &.dialog-login {
        .dialog-content {
            .padding-bottom(20);
            .min-height(254);
            height: auto;
        }
    }
    .dialog-content {
        position: relative;
        .height(254);
        .padding-left(20);
        .padding-top(30);
        input {
            .width(520);
            .height(70);
            .padding(15, 0);
            .padding-left(104);
            .margin-top(26);
            .border-radius(6);
            .border(2px, solid, #967bdc);
            .font-size(24);
            color: #c8c7cf;
        }
        .phone,
        .lock {
            position: absolute;
            .left(46);
            .top(46);
            .width(21);
            .height(32);
            .background-position(0, -349);
        }
        .lock {
            /*  .top(173);*/
            .width(26);
            .height(30);
            .background-position(0, -309);
        }
    }
    .dialog-buttons {
        .padding-left(20);
        .height(156);
        .dialog-btn {
            float: left;
            .width(240);
            .height(70);
            .line-height(66);
            text-align: center;
            background: #967bdc;
            .font-size(30);
            color: #fff;
            border-top: 1px solid #c6b8ed;
            .border-bottom(3px, solid, #7e64c5);
            .border-radius(4);
            margin-bottom: .25rem;
            &.J_DialogClose {
                .margin-right(40);
                background: #7688ba;
                border-top-color: #b8bdda;
                border-bottom-color: #5b6aa1;
            }
        }
        .guide {
            display: block;
            clear: both;
            color: #967bdc;
            .font-size(20);
            .line-height(40);
            text-decoration: underline;
        }
    }
}

.validate();
.dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}