@import '../../variable.less';
@import '../../base.less';
.icon-weixin();
.com-header();
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

header {
    .header-inner {
        display: block;
    }
}

.content {
    .padding-bottom(44);
    .hd {
        .height(347);
        .padding-top(64);
        background: #fff;
        .hd-bg {
            .width(382);
            .height(218);
            margin: 0 auto;
            background: url(../../../img/about-hd.png) 0 0 no-repeat;
            .background-size(382, 218);
        }
    }
    .bd {
        p {
            .line-height(41);
            .font-size(25);
            max-height: 100%;
            color: #473b61;
            text-align: center;
        }
        .believe {
            .margin-top(44);
        }
    }
}