@import '../../../variable.less';
.km-slider-outer {
	overflow: hidden;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	li {
	    float: left;
	    .width(750);
	}
}

.km-slider-nav {
	width: 100%;
	position: absolute;
	bottom: .1rem;
	text-align: center;
}

.km-slider-nav span {
	margin: 0 .1rem 0 0;
	padding: 0;
	width: 7px;
	height: 7px;
	display: inline-block;
	background-color: rgba(255, 255, 255, .4);
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, .16);
	width: .24rem;
	height: .24rem;
	background-color: #fff;
	opacity: .3;
	border: 1px solid #333;
	&.sel {
	  	background: #967bdb;
	}
}

.dialog-active-content{
	top: 20%;
	.content{
		.font-size(24);
	}
}