<% data.forEach(function(item, index) {%>
	<li class="user-follow J_UserFollow" data-id='<%= item.id %>'>
		<a href="./master-order.html?expertId=<%= item.id %>">
			<div class="tradelist-user">
				<div class="img-wrapper-outer">
					<div class="img-wrapper">
						<img class="img" src="<%= item.img %>">
					</div>
				</div>
				<span class="name"><%= item.name %></span>
			</div>
			<div class="tradelist-info">
				<div id="J_TradelistChart" class="item chart_index_<%= index %> J_TradelistChart"></div>
				<div class="item">
					<p>收益率</p>
					<p class="profit<%= parseFloat(item.yield_rate).toFixed(2) > 0 ? 'up' : 'down' %>">
						<%= parseFloat(item.yield_rate).toFixed(2) %> %
					</p>
				</div>
				<div class="item">
					<p>跟随人数</p>
					<p class="profit<%= parseFloat(item.yield_rate).toFixed(2) > 0 ? 'up' : 'down' %>">
						<%= parseFloat(item.yield_rate).toFixed(2) %> %
					</p>
				</div>
				<div class="item">
					<p>交易笔数</p>
					<p class="profit<%= parseFloat(item.yield_rate).toFixed(2) > 0 ? 'up' : 'down' %>">
						<%= parseFloat(item.yield_rate).toFixed(2) %> %
					</p>
				</div>
			</div>
		</a>
	</li>
<%})%>

<% if (data.length === 0) {%>
	<li class="no-list">当前没有高手</li>
<%}%>