<ul class="home-nav">
    <li class="home-nav-item">
        <a href="">
            <span class="ui icon"></span>
            <span class="name">账户资产</span>
        </a>
    </li>
    <li class="home-nav-item">
        <a href="">
            <span class="ui icon"></span>
            <span class="name">我的好友</span>
        </a>
    </li>
    <li class="home-nav-item">
        <a href="">
            <span class="ui icon"></span>
            <span class="name">在线客服</span>
        </a>
    </li>
</ul>