@import '../../variable.less';
@import '../../base.less';
.com-header();

/*.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}*/

.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

header .header-inner {
    display: block;
}

