<div class=" dialog-new-style dialog-error" id="J_Dialog">
	<div class="dialog-inner">
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
       <p><%= data.msg %></p>
   </div>
   <div class="dialog-buttons clearfix">
   	   <span class="dialog-btn J_DialogClose">чбошод</span>
   </div>
  </div>
</div>