<div class="dialog J_Dialog redeemCode-dialog " id="J_Dialog">
   <div class="dialog-content J_Content">
       <p class="title">输入兑换码,领取美元奖金
       <div class="input-wrapper">
           <input id="J_RedemptionIpt" type="text" placeholder="兑换码">
       </div>
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose">取消</span>
       <span class="dialog-btn J_DialogConfirm">确认</span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>