<div class="dialog dialog-recharge" id="J_Dialog">
   <div class="dialog-content J_Content">
       <p class="title">提示</p>
       <p><span class="rmb">2000</span> 美金以上入金请登录电脑网页版 <%= getPayUrlWL() %></p> 
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose btn-setUi">确定</span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>