@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
html,body{
    height: 100%;
    background: #FAFAFA;
}
header{
  .width(750);
  .header-inner{
    position: relative;
    .line-height(88);
    .font-size(38);
    text-align: center;
    position: relative;
    .go-back{
      position: absolute;
      .width(44);
      .height(44);
      .top(22);
      .left(30);
    }
    .height(88);
  }
}

.content{
    background: #fff;
  .loading{
    position: absolute;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .margin-top(120);
    text-align: center;
  }
}
.desc-content{
  .font-size(30);
  .padding-bottom(180);
  ul{
     background: #fff;
  }
  input{
    -webkit-appearance: none;
    border: none;
    background: transparent;
    outline: 0;
    &:disabled{
      color: #000;
    }
  }
  .item{
    position: relative;
    .padding(30);
    border-bottom: 1px solid;
    &:nth-of-type(2) {
        border: none;
    }
    .ipt-item,
    .span-item{
      float: right;
      text-align: right;
    }
    .span-item{
        color: #7a7a7a;
    }
    .err{
      position: absolute;
      .font-size(18);
      .right(0);
      .bottom(2);
      color: red;
    }
  }
}

.select-content {
    h3 {
        .padding-left(30);
        .line-height(78);
        .font-size(32);
        background: #EDEDED;
    }
    .pay-wrapper {
        position: relative;
        border-top: 1px solid #d7d6da;
        border-bottom: 1px solid #d7d6da;
        &.unfold {
            .fold {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
            .pay-item {
                display: block;
            }
        }
        .fold {
            z-index: 1;
            position: absolute;
            .bottom(-25);
            .right(26);
            .width(44);
            .height(44);
            .border-radius(50%);
            background: #ccc;
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
    }
    .pay-item {
        position: relative;
        display: none;
        .height(140);
        &.active {
            display: block;
        }
        p {
            .line-height(34);
            .font-size(18);
            .margin-left(94);
        } 
        .icon-desc{
            position: absolute;
            .width(260);
            .height(80);
            .top(30);
            .left(100);
        }
    }
    .radio-wrapper {
        position: absolute;
        .top(48);
        .left(30);
        .width(44);
        .height(44);
        &.active {
            .radio-inner {
                position: absolute;
                .top(5);
                .left(5);
                .width(22);
                .height(22);
                .border-radius(50%);
            }
        }
    }
    .radio {
        position: absolute;
        .top(1);
        .left(1);
        .width(42);
        .height(42);
        .border-radius(50%);
        .border(5, solid, transparent);
    }
}
.tab-content{
    p{
        .padding(0, 30);
        margin: 0 auto;
        .margin-top(50);
        .font-size(24);
        background: #fff;
    }
    .pc-desc{
        .width(650);
        .padding(30);
        .font-size(28);
        text-align: center;
    }
}
.extra{
    .width(650);
    .padding(30);
    margin: 0 auto;
    .margin-top(60);
    .font-size(28);
    background: #fff;
    ul, 
    p{
        .margin(20, 0);
    }
    li{
        .font-size(24);
        .padding(0, 30);
    }
}

footer{
  position: fixed;
  .bottom(0);
  .right(0);
  .left(0);
  .padding(20);
  .buy{
    display: inline-block;
    .width(690);
    .height(88);
    .line-height(88);
    .font-size(34);
    text-align: center;
    color: #fff;
  }
}

.loading{
    position: absolute;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .margin-top(400);
    text-align: center;
}