@import '../../variable.less';
html {
    background: #fff;
}

.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

h1,
h2,
h3 {
    font-weight: normal;
}
.popup {
    .close {
        background: url(../../../img/popup-close.png) 0 0 no-repeat;
        .background-size(35, 35);
    }
}

header {
    .width(640);
    overflow: hidden;
    .header-inner {
        position: relative;
        .height(88);
        .line-height(88);
        .font-size(36);
        text-align: center;
        background: #967bdc;
        color: #fff;
        .go-back {
            position: absolute;
            .left(18);
            .top(22);
            .width(49);
            .height(44);
            .icon {
                display: block;
                .width(23);
                .height(40);
                .background-position(0, -435);
            }
        }
    }
}

.content {
    .padding-bottom(120);
    table {
        .width(640);
        text-align: center;
        thead {
            tr {
                .height(50);
                background-color: #f4f1fc;
                color: #69429d;
            }
        }
        td {
            .width(170);
            &:nth-child(2) {
                .width(138);
            }
            &:nth-child(3) {
                .width(212);
            }
            &:nth-child(4) {
                text-align: left;
            }
        }
        tbody {
            tr {
                .height(104);
                .border(10, solid, #f4f1fa);
                color: #7d788e;
                span {
                    display: inline-block;
                    .width(100);
                    .line-height(40);
                    .font-size(20);
                    .border-radius(4);
                    background-color: #c1afeb;
                    color: #fff;
                    text-align: center;
                    &.out-time {
                        background-color: #b5b1bf;
                    }
                    &.got {
                        background-color: #8ab5d5;
                    }
                }
            }
        }
    }
    .empty {
        text-align: center;
        .height(94);
        .line-height(94);
        .font-size(28);
        color: #999;
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    .width(640);
    .height(120);
    .padding-top(16);
    background-color: #fff;
    a {
        display: block;
        margin: 0 auto;
        .width(500);
        .line-height(64);
        .border-bottom(4, solid, #6c4db5);
        .font-size(30);
        .border-radius(4);
        background-color: #967bdc;
        text-align: center;
        color: #fff;
        &.disable {
            background-color: #b5b1c0;
            border-color: #6c6181;
        }
    }
}

.cm-dialog {
    position: fixed;
    .border-radius(5);
    .width(560);
    .height(674);
    .margin-left(-280);
    background-color: #fff;
    .top(100);
    left: 50%;
    z-index: 1002;
    text-align: center;
    &.dialog-up {
        .wrapper-icon {
            background-color: #f9584a;
        }
        .dialog-title {
            color: #f9584a;
        }
        .dialog-content {
            h2 {
                background-color: #f9584a;
            }
        }
    }
    .wrapper-icon {
        position: absolute;
        .width(128);
        .height(128);
        .left(218);
        .top(-64);
        .border-radius(50%);
        background-color: #24bbaa;
        .icon {
            position: absolute;
            .width(72);
            .height(70);
            .left(27);
            .top(29);
            .background-position(0, -231);
        }
    }
    .dialog-title {
        .height(128);
        .padding-top(58);
        .line-height(70);
        .font-size(34);
        color: #24bbaa;
    }
    .dialog-content {
        .font-size(20);
        color: #807691;
        h2 {
            font-weight: normal;
            .font-size(20);
            .height(42);
            .line-height(42);
            background-color: #24bbaa;
            color: #fff;
        }
        .wrapper {
            position: relative;
            .height(122);
            .padding(20, 24, 0);
            text-align: left;
            &:first-child {
                border-bottom: 1px solid #edecf1;
            }
            p {
                .font-size(24);
                .line-height(44);
                color: #977adb;
                &.desc {
                    .line-height(40);
                    .font-size(20);
                    color: #c6c5cd;
                }
            }
            .num {
                position: absolute;
                .top(0);
                .right(24);
                .width(200);
                .height(108);
                .line-height(108);
                .font-size(36);
                text-align: right;
                color: #977adb;
            }
        }
    }
    .dialog-buttons {
        .padding-top(6);
        .dialog-btn {
            display: inline-block;
            .width(430);
            .height(68);
            .line-height(64);
            .margin-bottom(10);
            .border-bottom(4px, solid, #7f64c5);
            .font-size(24);
            .border-radius(4);
            background-color: #967adc;
            color: #fff;
            &.active {
                border-color: #967adc;
            }
            &.order {
                background-color: #7686ba;
                border-bottom-color: #5b6ba1;
                &.active {
                    border-color: #7686ba;
                }
            }
            &.list {
                background-color: #6da4ca;
                border-bottom-color: #5388ad;
                &.active {
                    border-color: #6da4ca;
                }
            }
        }
    }
}

.dialog();
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}