@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
.reset-placeholder();
header{
  .width(750);
  background: #F2F2F2;
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        background: red;
      }
      .go-back{
        .left(30);
      }
  }
}

.content {
    .padding-top(20);
    .padding-bottom(44);
    .font-size(28);
    .hd {
        .margin-bottom(44);
        .height(474);
        .padding-top(44);
        background: #fff;
    }
    .bd {
        background: #fff;
        .padding(0, 30, 0, 30);
        p {
            .line-height(41);
            max-height: 100%;
            text-align: justify;
        }
    }
}