<div class="pay-wrapper">
    <% data.pays.forEach(function(item) { %>
        <% var _className = item.code == data.defaultPay ? 'active' : '' %>
        <div class="pay-item pay-<%= item.code %> <%= _className %>" data-code="<%= item.code %>">
            <span class="radio-wrapper ui ro-setUi common J_Radio <%= _className %>">
                <span class="radio ">
                    <span class="radio-inner"></span>
                </span>
            </span>
            <div class="icon-desc">
                <img src="../../../../../img/recharge/pc-web.png">
            </div>
        </div>
    <% }) %>
    <span class="fold J_Fold ui icon down-recharge"></span>
</div>