@import '../../../variable.less';
@import '../../share/banner/index.less';
.icon {
  background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

.km-slider {
  img {
    width: 100%;
    height: 100%;
  }
}
.count-wrapper {
  display: none;
}
html {
  //background: #f1f0f6;
}

input {
  outline: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

body {
  /* .width(640);
    overflow: hidden;*/
}

header {
  .width(640);
  overflow: hidden;
  .header-inner {
    position: relative;
    .height(88);
    .line-height(88);
    .font-size(36);
    text-align: center;
    background: #967bdb;
    color: #fff;
  }
}

.content {
  margin: 0 auto;
  .width(640);
  .padding-bottom(198);
  background: #efeff4;
  color: #807691;
  .bd {
    .margin-top(52);
    background: #fff;
    border-bottom: 1px solid #d0cfd5;
    .padding(0, 22, 0, 28);
    &.bd-first,
    &.bd-second {
      border-top: 1px solid #d0cfd5;
    }
    li {
      &:first-child {
        a {
          border: none;
        }
      }
    }
    .recovery-trade-password-link {
      display: none;
    }
    a {
      position: relative;
      display: block;
      .padding-left(4);
      .padding-top(3);
      .line-height(90);
      .height(91);
      .font-size(24);
      border-top: 1px solid #d0cfd5;
      color: #807691;
      .guide {
        position: absolute;
        .top(37);
        .right(34);
        .width(20);
        .height(20);
        .border-radius(50%);
        background: #d5caf1;
        .triangle {
          position: absolute;
          .top(6);
          .left(9);
          .triangle(4, 3, transparent, transparent, transparent, #fff);
        }
      }
      .num {
        position: absolute;
        .right(120);
        .top(32);
        .width(28);
        .height(28);
        .line-height(28);
        .border-radius(50%);
        .font-size(20);
        text-align: center;
        background-color: #fb574b;
        color: #fff;
      }
    }
    .my-count {
      .account {
        span {
          .width(288);
          display: inline-block;
          height: 2.275rem;
          overflow: hidden;
          &.profit {
            .width(280);
          }
          /*.font-size(24);*/
        }
      }
    }
    .desc-right {
      position: absolute;
      .right(70);
      color: #807691;
      .font-size(22);
      .dollar {
        color: @redColor;
        .font-size(18);
        vertical-align: top;
        .margin-right(2);
      }
      .count {
        color: @redColor;
      }
    }
    .arrow-right {
      position: absolute;
      .top(32);
      .right(22);
      .width(16);
      .height(26);
      background: url(../../../../img/arrow-right.png) 0 0 no-repeat;
      .background-size(50, 50);
    }
  }
  .logout-wrapper {
    .height(133);
    .padding-top(35);
    display: none;
    text-align: center;
    a {
      display: inline-block;
      .height(66);
      .width(560);
      .line-height(66);
      .border-bottom(4, solid, #6b4db5);
      .border-radius(8);
      .font-size(32);
      text-align: center;
      color: #fff;
      background: #967adc;
    }
  }
}

footer {
  position: fixed;
  .height(98);
  .width(640);
  bottom: 0;
  .bottom-nav();
  background-color: #160e23;
}

.dialog-logout {
  position: fixed;
  border-radius: 5px;
  background-color: #fff;
  top: 20%;
  left: 50%;
  z-index: 1003;
  .margin-left(-270);
  .margin-top(-54);
  //.padding-top(20);
  .width(540);
  .height(358);
  color: #3d4245;
  visibility: visible;
  .border-radius(24);
  .wrapper-icon {
    position: absolute;
    .width(128);
    .height(128);
    .left(206);
    .top(-64);
    .border-radius(50%);
    background-color: #473b61;
    .icon {
      position: absolute;
      .top(26);
      .left(54);
      .width(48);
      .height(75);
      background-position: 0 -3.7rem;
    }
  }
  p {
    .margin-top(140);
    .line-height(40);
    .font-size(26);
    text-align: center;
  }
  .dialog-buttons {
    border-top: 1px solid #d2d2da;
    .margin-top(92);
    position: relative;
    .dialog-btn {
      .line-height(86);
      float: left;
      .width(270);
      text-align: center;
      .font-size(30);
      color: #473b61;
    }
    .bar {
      position: absolute;
      .left(270);
      top: 0;
      width: 1px;
      .height(86);
      background: #d2d2da;
    }
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}