<% data.forEach(function(item) {%>
<div class="item">
  <div class="item-inner">
    <a href="../my/profile.html?inviteCode=<%= item.invite_code %>&from=<%= encodeURIComponent(location.href) %>">
      <div class="img-wrapper-outer">
        <div class="img-wrapper">
          <img src="<%= item.avatar %>" class="img" id="J_Img" alt="头像">
        </div>
      </div>
      <p class="name"><%= item.nickname %></p>
    </a>
    <!-- <span class="quan-iconfont J_Follow" data-code="<%= item.invite_code %>">&#xe602;</span> -->
    <span class="J_Unfollow unfollow" data-code="<%= item.invite_code %>">取消关注</span>
  </div>
</div>

<% }); %>