@import '../../../variable.less';
.icon {
  background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

h1,
h2,
h3 {
  font-weight: normal;
}

html,
body {
  background: #160e23;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

inpt {
  -webkit-appearance: none;
}

svg {
  .highcharts-range-selector-buttons,
  .highcharts-input-group,
  .highcharts-scrollbar {
    display: none;
  }
  .highcharts-grid {
    path {
      border-color: #1f172c;
    }
  }
  .highcharts-axis {
    path {
      stroke: #4b425a;
      stroke-width: 2;
    }
  }
  .highcharts-grid {
    path {
      stroke: #1b1328;
    }
  }
  .highcharts-tracker {
    path {
      stroke-width: 8;
      stroke: #967adc;
      fill: #967adc;
    }
  }
  &>path {
    stroke: #967adc;
  }
  .highcharts-data-labels {
    tspan {
      text-shadow: none;
    }
  }
}

.chart-wrapper {
  position: relative;
  .chart {
    /*.margin-top(-20);*/
    /*.height(400);*/
    .height(352);
    .width(640);
  }
  .cur-price {
    position: absolute;
    .width(110);
    .height(40);
    .line-height(40);
    .top(10);
    .right(10);
    color: #fff;
    background: rgba(207, 151, 2, .4);
    text-align: center;
    .border-radius(6);
    .font-size(22);
  }
  .rangeSelector-wrapper {
    position: absolute;
    bottom: 0;
    .width(640);
    .height(42);
    .font-size(24);
    color: #656d78;
    border: 1px solid #484357;
    background-color: #1e2132;
    text-align: center;
    .range-selector {
      float: left;
      .width(105);
      .height(40);
      .line-height(40);
      &.active {
        color: #fff;
        background-color: #5e4891;
      }
    }
  }
}

.bd {
  background: #160e23;
}

.info {
  .padding(0, 21);
  .font-size(22);
  color: #90879f;
  .total {
    .line-height(72);
  }
  .invest-num,
  .desc {
    display: inline-block;
    /*.line-height(118);*/
  }
  p {
    .line-height(40);
  }
  .invest-num {
    color: #9b74f5;
    .font-size(84);
    vertical-align: top;
  }
  .invest-wrapper {
    text-align: center;
    .height(156);
    .padding-top(38);
    &.second {
      .margin-top(30);
    }
  }
  .progress {
    position: relative;
    margin: 0 auto;
    .margin-top(50);
    /*.margin-left(92);*/
    .width(392);
    .height(20);
    border: 1px solid #22163c;
    background: #241a3b;
    .border-radius(10);
    .progress-inner {
      .width(51);
      .height(51);
      background: #967adc;
      .border-radius(50%);
      position: absolute;
      .top(-16);
      .left(-25);
    }
    .minus {
      position: absolute;
      .width(55);
      .height(55);
      .left(-92);
      .bottom(-20);
      &:before {
        position: absolute;
        content: '';
        .top(20);
        .width(55);
        .height(15);
        background: #967adc;
      }
    }
    .add {
      position: absolute;
      .width(55);
      .height(55);
      .right(-92);
      .bottom(-20);
      &:before {
        position: absolute;
        content: '';
        .top(20);
        .bottom(0);
        .width(55);
        .height(15);
        background: #967adc;
      }
      &:after {
        position: absolute;
        content: '';
        .right(20);
        .bottom(0);
        .height(55);
        .width(15);
        background: #967adc;
      }
    }
  }
  /*li {
        position: relative;
        .height(136);
        .padding(21, 0);
        border-bottom: 1px solid #453c54;
        &:nth-child(2) {
            .height(248);
            .desc {
                .line-height(118);
                .height(118);
                text-align: center;
                .font-size(22);
                color: #90879f;
                .num {
                    .font-size(80);
                    vertical-align: middle;
                }
            }
            
        }
        .bar {
            position: absolute;
            .height(94);
            width: 1px;
            .left(293);
            .top(21);
            background: #453c54;
        }
        p {
            .margin-top(20);
            .font-size(40);
            .line-height(50);
            color: #90879f;
            text-align: center;
        }
        .first {
            margin-top: 0;
            .font-size(22);
            .line-height(26);
            text-align: left;
        }
        .left,
        .right {
            float: left;
            .width(292);
        }
        .right {
            .padding-left(26);
        }
        .left {
            border-right: 1px;
            border-color: #453c54;
        }
    }*/
}

header {
  .width(640);
  overflow: hidden;
  .header-inner {
    position: relative;
    .height(88);
    .line-height(88);
    .font-size(36);
    text-align: center;
    background: #160e23;
    color: #fff;
    .go-back {
      position: absolute;
      .left(18);
      .top(22);
      .width(49);
      .height(44);
      .icon {
        display: block;
        .width(23);
        .height(40);
        .background-position(0, -435);
      }
    }
    .option {
      position: absolute;
      .right(22);
      .top(24);
      .font-size(24);
      .width(108);
      .line-height(38);
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
    }
    h1 {
      margin: 0 auto;
      &.marquee {
        .width(360);
      }
    }
    .option-list {
      position: absolute;
      .right(22);
      .top(24);
      .padding-top(6);
      .padding-left(5);
      .width(44);
      .height(44);
      .bar {
        .border(4, solid, #fff);
        .height(16);
        .width(34);
        display: block;
        border-left: none;
        border-right: none;
        &:nth-child(2) {
          .margin-top(-4);
        }
      }
    }
  }
}

.content {
  .padding-bottom(120);
}

.ft {
  position: fixed;
  bottom: 0;
  /*.margin-top(40);*/
  .width(640);
  .height(120);
  .padding-top(20);
  background-color: rgba(22, 14, 35, 0.75);
  text-align: center;
  .action {
    display: inline-block;
    .width(240);
    .height(68);
    .line-height(64);
    .border-bottom(4, solid, #1c5e5d);
    .font-size(30);
    .border-radius(4);
    color: #fff;
    background-color: #25b9a8;
    &.buy-up {
      .margin-left(58);
      background-color: #f9584a;
      border-color: #b21f1e;
    }
    &.disabled {
      background-color: #494258;
      border-color: #494258;
      color: #AFACAC;
    }
  }
  .action-edit {
    display: inline-block;
    .width(240);
    .height(68);
    .line-height(64);
    .border-bottom(4, solid, #5a6ba1);
    .font-size(30);
    .border-radius(4);
    color: #fff;
    background-color: #7688ba;
    &.action-cancel {
      .margin-left(58);
      background-color: #967bdc;
      border-color: #6b4fb5;
    }
  }
  .market-close {
    margin: 0 auto;
    .height(68);
    .padding-top(6);
    .border-bottom(4, solid, #32264e);
    .width(500);
    .border-radius(4);
    background-color: #473b61;
    color: #fff;
    p {
      .font-size(26);
      .line-height(32);
      &.desc {
        .font-size(16);
        .line-height(22);
        color: #7b768c;
      }
    }
  }
  .other-btn {
    margin: 0 auto;
    .height(68);
    .line-height(64);
    .border-bottom(4, solid, #32264e);
    .width(500);
    .border-radius(4);
    background-color: #473b61;
    color: #fff;
  }
  .balance {
    margin: 0 auto;
    .height(68);
    .line-height(64);
    .border-bottom(4, solid, #6b4db5);
    .width(500);
    .border-radius(4);
    .font-size(30);
    background-color: #967adc;
    color: #fff;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
}

.dialog();
.popup {
  .close {
    background: url(../../../../img/popup-close.png) 0 0 no-repeat;
    .background-size(35, 35);
  }
}

.shake {
  -webkit-animation: shake 1s;
  animation: shake 1s;
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-.2rem);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(.2rem);
  }
}

@-webkit-keyframes shake {
  /* Safari 和 Chrome */
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-.2rem);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(.2rem);
  }
}

.dialog-new();
.dialog-new-style {
  z-index: 1000;
  &.dialog-error {
    .dialog-inner {
      .dialog-content {
        .padding-top(100);
      }
      .dialog-btn {
        display: block;
        float: initial;
        width: auto;
      }
    }
  }
  &.dialog-406 {
    .dialog-inner {
      .dialog-content {
        /*.padding-top(156);*/
      }
      .dialog-btn {
        display: block;
        float: initial;
        width: auto;
      }
    }
  }
}

.desc-wrapper {
  &.nth-2 {
    .margin-top(20);
  }
  .title,
  p {
    .padding-left(60);
    color: #807691;
    .line-height(36);
  }
}