@import '../../../base.less';
@import '../../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .share{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
      }
      .go-back{
        .left(30);
      }
      .share{
        .right(30);
      }
  }
}

.info {
  .height(428);
  .padding(30);
  .font-size(28);
  .img-wrapper-outer {
    float: left;
    .img-wrapper{
      .width(170);
      .height(170);
      border-radius: 50%;
      overflow: hidden;
      .img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .name{
      .width(260);
      .font-size(32);
      .line-height(60);
      text-align: center;
      .line-hide();
    }
  }
  .detail-wrapper{
    float: right;
    .padding-top(55);
  }
  .bottom-wrapper{

    &:before{
      display: table;
      content: '';
      clear: both;
    }
    &>div{
      display: inline-block;
      float: left;
      .width(230);
      .padding-top(70);
      &:nth-of-type(2) {
        text-align: left;
        .padding-left(60);
      }
      &:nth-of-type(3) {
        text-align: right;
      }
    }
  }
}

.list {
  .nav {
    position: relative;
    .padding(21, 0);
    .font-size(32);
    overflow: hidden;
    .nav-item{
      display: inline-block;
      .width(375);
      float: left;
      text-align: center;
    }
    .active {
      position: relative;
      &:before{
        position: absolute;
        content: '';
        .width(375);
        .height(4);
        .bottom(-20);
        .left(0);
      }
    }
  }
  .ticket-content{
    .width(750);
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  ul {
    &.history{
      display: none;
    }
    position: relative;
    .min-height(227);
    .margin-top(26);
    .padding-bottom(34);
    .padding-left(24);
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: -ms-max-content;
    position: relative;
    li {
      float: left;
      border: 1px solid #d9dde3;
      .border-radius(8);
      background: #fff;
      .width(162);
      .height(193);
      .margin-right(30);
      position: relative;
      .padding-top(24);
      .font-size(24);
      box-shadow: 0 3px 4px #d9dde3;
      .go-link {
        display: block;
      }
      &.auth {
        .width(750);
        .line-height(122);
        .font-size(28);
        text-align: center;
        background: transparent;
        border: none;
        box-shadow: none;
        a {
          color: #967adc;
          text-decoration: underline;
        }
      }
      &.loading{
        position: absolute;
        .width(750);
        .loading(60, 120, #ccc, #fff);
        top: 0;
        height: auto;
        margin-top: 0;
        text-align: center;
        background: transparent;
        border: none;
        box-shadow: none;
      }
      &.empty {
        background: transparent;
        border: none;
        float: none;
        .margin-top(8);
        .line-height(56);
        .font-size(28);
        .margin-left(260);
        width: auto;
        height: auto;
        box-shadow: none;
        a {
          .margin-left(37);
        }
      }
      .name {
        .padding-left(18);
        .line-height(40);
        .width(160);
        .line-hide();
      }
      .symbol {
        .line-height(24);
        .width(160);
        .line-hide();
        .padding-left(18);
      }
      .num {
        .margin-top(14);
        .line-height(44);
        .padding-left(18);
        &.pending {
          color: #473b61;
        }
      }
      .tag {
        .padding-left(18);
      }
    }
  }
}

.data{
  .padding-bottom(128);
  .font-size(28);
  background: #fff;
  .data-title{
    .height(85);
    .line-height(85);
    .padding-left(30);
  }
  .chart{
    .min-height(400);
  }
  .profits-ul{
    .min-height(534);
    li{
      .height(89);
      .border-bottom(1, solid, #ccc);
      .padding(0, 30);
      .line-height(89);
      span{
        float: right;
      }
    }
  }
  .chart-container{
    .padding(50, 30);
    .chart-area{
      .width(290);
      .height(290);
      float: left;
      .highcharts-tooltip {
        display: none;
      }
      .highcharts-data-labels.highcharts-series-0.highcharts-tracker{
        display: none;
      }
    }
    ul{
      float: right;
    }

  }
}

// .sort {
//   display: none;
//   position: relative;
//   .line-height(106);
//   border-top: 1px solid #d3d2d6;
//   border-bottom: 1px solid #d3d2d6;
//   .padding-left(26);
//   .font-size(26);
//   color: #473b61;
//   .number {
//     float: right;
//     .margin-right(75);
//     .width(300);
//     text-align: right;
//     .desc {
//       .margin-left(20);
//     }
//   }
//   a {
//     display: block;
//     color: inherit;
//   }
//   .link {
//     position: absolute;
//     right: 0;
//     top: 0;
//     .width(72);
//     .height(106);
//     .arrow-right {
//       position: absolute;
//       .top(40);
//       .right(22);
//       .width(16);
//       .height(26);
//       background: url(../../../../img/arrow-right.png) 0 0 no-repeat;
//       .background-size(50, 50);
//     }
//   }
// }

.highcharts-title {
  margin-top: -.375rem !important;
}

footer {
  position: fixed;
  .height(100);
  .width(750);
  bottom: 0;
  background-color: rgba(22, 14, 35, .8);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-top: 1px solid #f0f1f2;
  .padding-top(14);
  .font-size(28);
  p {
    color: #fff;
    .padding-left(44);
    .line-height(38);
  }
  .number-wrapper {
    position: absolute;
    .top(48);
    .left(160);
    .line-height(44);
    .height(44);
    color: #fff;
    .small {
      .margin-right(4);
      vertical-align: top;
    }
  }
}

.register,
.allow {
  .width(690);
  .height(88);
  color: #fff;
  .font-size(28);
  .border-radius(8);
  text-align: center;
  position: fixed;
  .bottom(20);
  .left(30);
  .line-height(88);
}
