 <ul class="clearfix">
    <li class="active">
        <a href="javascript:void(0);">图表</a>
    </li>
    <li>
        <a href="javascript:void(0);">下单</a>
    </li>
    <li>
        <a href="javascript:void(0);">持仓</a>
    </li>
</ul>