 <ul class="clearfix">
    <li class="active">
        <a href="javascript:void(0);">图表</a>
    </li>
    <li>
        <a href="./pro-trading.html<%= data %>">下单</a>
    </li>
    <li>
        <a href="./pro-list.html<%= data %>">持仓</a>
    </li>
</ul>