<div class="pro-traList-guide-wrapper">
    <div class="order-item">
        <p>6.66</p>
        <p>买涨</p>
    </div>
    <div class="arrow-item">
        <p class="arrow-left"></p>
        <p class="arrow-top-end"></p>
    </div>
    <div class="desc-item">
        <p>选择一笔交易,可进行快速平仓</p>
    </div>
    <div class="arrow-item-bt">
        <p></p>
    </div>
    <div class="action-item">
        <p class="action-dashed"></p>
        <p class="order-btn-wrapper">
            <span>6.66</span>
            <span>平仓</span>
        </p>
    </div>
</div>