@import '../../../variable.less';
@import '../../../base.less';
.icon-weixin();
header {
    .width(640);
    overflow: hidden;
    .header-inner {
        position: relative;
        .padding(16, 0);
        .line-height(56);
        .font-size(36);
        text-align: center;
        background: #967bdc;
        color: #fff;
        .go-back {
            display: none;
            position: absolute;
            .left(18);
            .top(22);
            .width(49);
            .height(44);
            .icon {
                display: block;
                .width(23);
                .height(40);
                .background-position(0, -435);
            }
        }
        ul {
            margin: 0 auto;
            .width(370);
            .height(56);
            border: 1px solid #d5caf2;
            li {
                float: left;
                /*.margin-left(1);*/
                .width(184);
                .line-height(54);
                .font-size(24);
                text-align: center;
                background-color: #957ad9;
                color: #d8cef1;
                &:nth-child(2) {
                    float: right;
                }
                a {
                    color: inherit;
                }
                &.demo {
                    .margin-left(0);
                }
                &.active {
                    background-color: #7b59b7;
                    color: #fff;
                    a {
                        color: inherit;
                    }
                }
            }
        }
        .switch {
            position: absolute;
            right: 0;
            .line-height(56);
            .top(12);
            .width(118);
            .font-size(20);
            color: #7653af;
        }
    }
}

.content {
    ul {
        overflow: hidden;
        background-color: #f4f1fc;
    }
    li {
        .height(108);
        .line-height(108);
        .margin-bottom(10);
        .padding-left(48);
        .padding-right(42);
        .font-size(30);
        background: #fff;
        color: @fontColor;
        .num {
            float: right;
            .font-size(26);
            .unit {
                .font-size(20);
            }
        }
    }
    .loader-minix();
}