<div class="guide-wrapper">
  <div class="J_GuideMask mask"></div>
  <div class="guide-content">
    <div class="inner-1"></div>
    <span id="TJ_NUL_STEP_1_CLOSE" class="J_Close close"></span>
    <span id="TJ_NUL_STEP_1_OK" class="J_Confirm confirm"></span>
  </div>
</div>