<div class="guide-wrapper step-3">
  <div class="J_GuideMask mask"></div>
  <div class="guide-content">
    <div class="bg">
       <div class="bg-inner"></div>
    </div>
    <span id="TJ_NUL_STEP_3_CLOSE" class="J_Close close" ></span>
    <div class="list">
      <div class="inner">
        <img src="<%= getNewGuideQRCode() %>" alt="">
      </div>
    </div>
  </div>
</div>