@import '../../variable.less';
@import '../../base.less';
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

.friend-icon {
    background: url(../../../img/friend-bg-icon.png) 0 0 no-repeat;
    .background-size(33, 180);
}

.com-header();
.header {
    .header-inner {
        display: block;
    }
    .share {
        position: absolute;
        .bottom(18);
        .right(16);
        .width(48);
        .height(48);
        &:after {
            position: absolute;
            .top(8);
            .left(8);
            content: '';
            .width(32);
            .height(32);
            background: url(../../../img/friend-bg-icon.png) 0 0 no-repeat;
            .background-size(33, 180);
        }
    }
}

html,
body {
    background: #efeff4;
}

.content {
    position: relative;
    .padding-bottom(240);
    .empty {
        position: absolute;
        display: none;
        background: url(../../../img/friend-bg-empty.png) 0 0 no-repeat;
        .background-size(640, 590);
        left: 0;
        .width(640);
        .height(640);
        top: 0;
        .desc {
            .padding-top(334);
            p {
                .line-height(44);
                .font-size(30);
                color: #967adc;
                text-align: center;
            }
        }
        .extra {
            .padding-top(80);
            a {
                display: block;
                .font-size(24);
                color: #807691;
                .line-height(48);
                text-align: center;
            }
        }
    }
    .hd {
        position: relative;
        .margin-bottom(44);
        a {
            position: relative;
            display: block;
            .width(640);
            .desc {
                .height(44);
                .line-height(44);
                .padding-left(26);
                .font-size(22);
                border-top: 1px solid #cfced3;
                background: #efeff4;
                color: #797289;
            }
            ul {
                position: relative;
                .height(172);
                .padding-top(38);
                border-top: 1px solid #cfced3;
                border-bottom: 1px solid #cfced3;
                background: #fff;
                .item {
                    float: left;
                    .width(320);
                    p {
                        .padding-left(94);
                        .line-height(40);
                        .font-size(20);
                        color: #797289;
                    }
                    .num-wrapper {
                        .line-height(55);
                        color: #f9584a;
                        .font-size(24);
                        /*.tag {
                            float: left;
                        }*/
                        .tag {
                            vertical-align: super;
                        }
                        .num {
                            .font-size(40);
                        }
                    }
                }
                .bar {
                    position: absolute;
                    .left(320);
                    .top(25);
                    width: 1px;
                    .height(120);
                    background: #cfced3;
                }
            }
            &:after {
                position: absolute;
                .top(120);
                .right(26);
                content: '';
                .width(16);
                .height(26);
                background: url(../../../img/arrow-right.png) 0 0 no-repeat;
                .background-size(50, 50);
            }
        }
    }
    .list {
        // .margin-top(52);
        border-top: 1px solid #c8c7cc;
        background: #fff;
        .item {
            .height(141);
            border-bottom: 1px solid #c8c7cc;
        }
        .img-wrapper-outer {
            float: left;
            .width(104);
            .height(104);
            .margin-left(24);
            .margin-top(18);
            // .padding(5);
            .border-radius(50%);
            .border(4, solid, #e9e4f7);
            overflow: hidden;
            background: #b8a7e5;
            /*.img(86, 86);*/
            /* .img-wrapper {
                overflow: hidden;
                .border-radius(50%);
            }*/
            .img(96, 96);
        }
        .info {
            float: left;
            .width(252);
            .padding-left(20);
            color: #473b61;
            h2 {
                .margin-top(36);
                .line-height(50);
                .font-size(26);
                .line-hide();
            }
            p {
                .font-size(20);
                .line-height(42);
            }
        }
        .friend,
        .success {
            display: inline-block;
            .width(110);
            .line-height(36);
            .margin-top(50);
            .border(2px, solid, #ab95e3);
            .border-radius(6);
            .font-size(20);
            text-align: center;
            color: #ab95e3;
            &.success {
                .margin-left(14);
                color: #6c6281;
                border-color: #6c6281;
            }
        }
    }
}

footer {
    position: fixed;
    .height(98);
    .width(640);
    bottom: 0;
    .bottom-nav();
    background-color: #160e23;
    .bottom-banner {
        position: absolute;
        .top(-100);
        .height(100);
        .width(640);
        .padding-top(26);
        .font-size(26);
        .line-height(50);
        background: #dadbdd;
        .close-wrapper {
            position: absolute;
            .top(28);
            .left(18);
            .width(44);
            .height(44);
        }
        .close {
            position: absolute;
            .top(8);
            .left(8);
            .width(28);
            .height(28);
            .background-position(0, -924);
        }
        .desc {
            .margin-left(46);
            color: #706781;
        }
        .login {
            float: right;
            .margin-right(25);
            .width(140);
            .height(54);
            .border-bottom(4, solid, #694fb4);
            text-align: center;
            background: #957cda;
            color: #fff;
        }
    }
}