<% $.each(data, function(index, item) {%>
<li class="item clearfix">
    <div class="img-wrapper-outer">
        <div class="img-wrapper">
            <img class="img" src="<%= item.avatar ? item.avatar : item.default_avatar %>">
        </div>
    </div>
    <div class="info">
        <h2><%= item.nickname %></h2>
        <p><%= item.joinDay %></p>
    </div>

    <a class="friend" style="visibility: <%= item.real_trade > 0 ? 'visible' : 'hidden'%>" href="javascript:;">朋友</a>
    <a class="success" href="javascript:;">邀请成功</a>
</li>
<% }); %>