@import '../../../../base.less';
@import '../../../../variable.less';
html,body{
    height: 100%;
}

body{
    background: url('../../../../../img/wl/jstzlc/jstzlc_bg_logo.jpg');
	background-size: 100% auto;
	.min-height(1134);
}

input {
   -webkit-appearance: none;
   border: none;
   outline: none;
   background: transparent;
}

.reset-placeholder();

.icon{
    background: url('../../../../../img/app-icon.png');
    .background-size(1000, 1000);
}

.logo-wrapper{
	visibility: hidden;
	.img(750, 500, 250, 250);
	.img-wrapper,
	.img{
		.border-radius(50%);
	}
}
.content{
	input{
		.font-size(30);
		.reset-inputautofill();
	}
	.input-wrapper{
		position: relative;
		.width(550);
		.height(98);
		.line-height(98);
		margin: 0 auto;
		.margin-bottom(50);
		.border-bottom(1, solid, #FE2342);
		input{
			.margin-left(66);
			.padding-left(42);
		}
		.icon{
			position: absolute;
			.top(16);
			.left(32);
			.width(44);
			.height(56);
			&.icon-phone{
                .background-position(-355, -480);
            }
            &.icon-password{
                .background-position(-530, -480);
            }
		}
		.err{
			display: none;
			position: absolute;
			.height(40);
			.line-height(40);
			.left(66);
			.font-size(24);
			color: red;
		}
		&.error .err{
			display: block;
		}

	}
	.submit-wrapper,
	.login-wrapper {
		.width(550);
		.height(98);
		.line-height(98);
		margin: 0 auto;
		text-align: center;
		.submit{
			width: 100%;
			.height(88);
			.border-radius(3);
			// .box-shadow(0, 2, red);
			color: #fff;
			background: #FE2342;
		}
		.link-item{
			.height(60);
			.line-height(60);
			&:first-child{
				.margin-top(150);
			}
			.register{
				color: #FE2342;
			}
			.recovery{
				color: #9F9F9F;
			}
		}
	}
	
}