@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header {
    .width(750);
    overflow: hidden;
    .header-inner {
        position: relative;
        .height(88);
        .line-height(88);
        .font-size(36);
        text-align: center;
        -webkit-transition: -webkit-transform .3s ease-in;
        transition: transform .3s ease-in;
        .go-back {
            position: absolute;
            .left(18);
            .top(22);
            .width(44);
            .height(44);
            background: red;
            .icon {
              display: block;
              .width(44);
              .height(44);
            }
        }
        &.unfold {
            -webkit-transform: translateX(-16rem);
            transform: translateX(-16rem);
        }
        .search {
          -webkit-appearance: none;
            position: absolute;
            .top(22);
            .right(20);
            .width(44);
            .height(44);
            border-radius: 0;
        }
        .search-wrapper {
            position: absolute;
            top: 0;
            .padding-top(22);
            .padding-left(30);
            .width(750);
            .left(750);
            .height(88);
            span,
            input {
                float: left;
            }
            .search {
                .left(30);
                border: none;
            }
            .input-txt {
              -webkit-appearance: none;
                border: none;
                .width(600);
                .height(48);
                .padding(10, 54);
                .font-size(28);
                border-bottom: 1px solid #ccc;
                background: inherit;
                outline: 0;
                border-radius: 0;
            }
            .close-wrapper {
                position: absolute;
                .width(48);
                .height(48);
                .top(19);
                .right(23);
            }
            .close {
                position: absolute;
                .top(7);
                .right(7);
                .width(44);
                .height(44);
                background: red;
            }
        }
    }
}

nav {
  .font-size(32);
  overflow: hidden;
  -webkit-transform: translateZ(0);
  ul {
    width: max-content;
    width: -webkit-max-content;
  }
  li {
    position: relative;
    float: left;
    .padding-left(30);
    .padding-right(30);
    .link {
      display: block;
      .line-height(78);
      text-align: center;
    }
    &.active {
      &:before {
        position: absolute;
        bottom: 0;
        .left(0);
        width: 100%;
        .height(4);
        font-size: 0;
        content: '';
      }
    }
  }
}

.content {
    position: relative;
    margin: 0 auto;
    .width(750);
    .font-size(24);
    .item {
      position: relative;
      .padding-left(30);
      .padding-top(36);
      .padding-bottom(36);
      .border-bottom(1, solid, #ccc);
      .wrapper {
        display: block;
      }
      p{
        &.name{
          .font-size(34);
          .margin-bottom(6);
        }
      }
      .action {
        position: absolute;
        z-index: 2;
        .top(36.5);
        .right(0);
        .width(120);
        .height(82);
        .icon {
          position: absolute;
          .top(19);
          .right(30);
          .width(44);
          .height(44);
          background: green;
        }
      }
      &.add {
        .action {
          .icon {
            background: red;
          } 
        }
      }
    }
    .empty{
      .padding(30);
      text-align: center;
    }
    .loading{
      position: absolute;
      .width(120);
      .loading(60, 120, #ccc, #fff);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      .margin-top(120);
      text-align: center;
    }
}