@import '../../variable.less';
@import '../../base.less';
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

input {
    -webkit-appearance: none;
}

.com-header();
.content {
    position: relative;
    .padding(20, 60);
    .padding-bottom(170);
    .fix-bg {
        display: block;
        margin: 0 auto;
        .margin-top(120);
        .width(116);
        .height(116);
    }
    h3 {
        .font-size(30);
        .line-height(50);
    }
    p {
        .line-height(36);
        .font-size(24);
        .margin-bottom(40);
        max-height: 100%;
    }
    .title {
    	.font-size(26);
    }
}