<ul>
	<% data.forEach(function(item) {%> 
	<li>
		<% if (item.link) {%>
			<a href="<%= item.link %>&from=<%= encodeURIComponent(location.href)%>">
			  	<img src="<%= item.image %>" alt="" class="img">
			</a>
		<% } else {%>
		   <img src="<%= item.image %>" alt="" class="img">
		<% } %>
	</li>
	<% });%>
</ul>