@import '../../variable.less';
@import '../../base.less';
.icon-weixin();
.com-header();
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

header {
    display: block;
    .header-inner {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.content {
    margin-top: 2.2rem;
    .padding-bottom(44);
    .border-bottom(2, solid, #e5e5e8);
    background: #efeff4;
    .hd {
        .margin-bottom(44);
        .height(474);
        .padding-top(44);
        .border-bottom(2, solid, #e5e5e8);
        background: #fff;
        .hd-bg {
            .height(365);
            background: url(../../../img/about-hd.png) 0 0 no-repeat;
            .background-size(640, 365);
        }
    }
    .bd {
        background: #fff;
        border-bottom: 1px solid #d0cfd5;
        .padding(0, 22, 0, 28);
        &.bd-first,
        &.bd-second {
            border-top: 1px solid #d0cfd5;
        }
        li {
            &:first-child {
                a {
                    border: none;
                }
            }
        }
        a {
            position: relative;
            display: block;
            .padding-left(4);
            .padding-top(3);
            .line-height(90);
            .height(91);
            .font-size(24);
            border-top: 1px solid #d0cfd5;
            color: #807691;
        }
        .arrow-right {
            position: absolute;
            .top(32);
            .right(22);
            .width(16);
            .height(26);
            background: url(../../../img/arrow-right.png) 0 0 no-repeat;
            .background-size(50, 50);
        }
        .version {
            float: right;
        }
        p {
            .line-height(41);
            .font-size(25);
            max-height: 100%;
            color: #473b61;
            text-align: justify;
        }
    }
}