@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
html,body{
    height: 100%;
    background: #FAFAFA;
}

header{
  .width(750);
  .header-inner{
    position: relative;
    .line-height(88);
    .font-size(38);
    text-align: center;
    position: relative;
    .go-back{
      position: absolute;
      .width(44);
      .height(44);
      .top(22);
      .left(30);
    }
    .height(88);
  }
}

.content{
    .padding-top(150);
    text-align: center;
}