@import '../../../../variable.less';
.sync-wrapper {
    .height(340);
    .padding-top(160);
    text-align: center;
    a {
        display: inline-block;
        .width(560);
        .line-height(66);
        .border-bottom(4, solid, #6b4db5);
        .font-size(34);
        .border-radius(8);
        color: #fff;
        background-color: #967adc;
    }
}

.dialog-logout {
    position: fixed;
    border-radius: 5px;
    background-color: #fff;
    top: 20%;
    left: 50%;
    z-index: 1003;
    .margin-left(-270);
    .margin-top(-54);
    //.padding-top(20);
    .width(540);
    .height(340);
    color: #3d4245;
    visibility: visible;
    .border-radius(24);
    .padding-top(90);
    .wrapper-icon {
        position: absolute;
        .width(128);
        .height(128);
        .left(206);
        .top(-64);
        .border-radius(50%);
        background-color: #473b61;
        .icon {
            position: absolute;
            .top(26);
            .left(54);
            .width(48);
            .height(75);
            background-position: 0 -3.7rem;
        }
    }
    p {
        
        .line-height(40);
        .font-size(26);
        .padding-left(28);
        .padding-right(38);
        text-align: center;
    }
    .dialog-buttons {
        border-top: 1px solid #d2d2da;
        .margin-top(43);
        position: relative;
        .dialog-btn {
            .line-height(86);
            float: left;
            .width(270);
            text-align: center;
            .font-size(30);
            color: #473b61;
        }
        .bar {
            position: absolute;
            .left(270);
            top: 0;
            width: 1px;
            .height(86);
            background: #d2d2da;
        }
    }
}

.dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
}