<div class=" dialog-logout" id="J_Dialog">
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
       <p class="title">同步微信后会将账号原有的头像、<p>
       <p>昵称等信息更改为与微信账号相同，</p>
       <p>是否继续同步微信？</p>
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose close" id="J_DialogSetupCancel">取消</span>
       <span class="dialog-btn J_DialogConfirm ">确认</span>
       <span class="bar"></span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>