<div class="dialog-qrcode" id="J_QR">
   <div class="qrcode">
   	<img src="../img/option.jpg">
   </div>
   <span>长按二维码, 关注我们tzyh365</span>
   <div class="qrcode_close J_QRClose">关闭</div>
</div>
<div class="dialog-mask J_DialogMask" id="J_QRMask"></div>