@import '../../variable.less';
.qrcode-wrapper {
    position: absolute;
    .top(-100);
    .height(100);
    .width(640);
    .padding-top(26);
    .font-size(26);
    .line-height(50);
    background: #dadbdd;
    .close-wrapper {
        position: absolute;
        .top(28);
        .left(18);
        .width(44);
        .height(44);
    }
    .close {
        position: absolute;
        .top(8);
        .left(8);
        .width(28);
        .height(28);
        .background-position(0, -924);
    }
    .desc {
        .margin-left(80);
        color: #706781;
    }
    .qrcode {
        float: right;
        .margin-right(25);
        .width(140);
        .height(54);
        .border-bottom(4, solid, #694fb4);
        text-align: center;
        background: #957cda;
        color: #fff;
    }
}

.dialog-qrcode {
    position: fixed;
    top: 5rem;
    text-align: center;
    width: 100%;
    .height(500);
    z-index: 102;
    .qrcode {
        margin-bottom: 20px;
        .margin-left(140);
        .width(350);
        .height(350);
        img {
            display: block;
            .max-width(350);
            .max-height(350);
        }
    }
    span {
        color: #fff;
    }
    .qrcode_close {
        .font-size(24);
        .width(108);
        .line-height(38);
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
        margin: 30px auto;
    }
}