<div class=" qrcode-wrapper" id="J_Follow">
    <span class="close-wrapper J_CloseBanner">
        <span class="close icon"></span>
    </span>
    <span class="desc">关注公众号tzyh365，交易更方便</span>
    <a class="qrcode J_Qrcode" href="javascript:;">二维码</a>
</div>