@import '../../../variable.less';
@base: 750/16;

/*@import '../../share/banner/index.less';*/

.icon {
  background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.quan-font();
.quan-iconfont {
  font-family: 'quan-iconfont';
}

html {
  background: #efeff4;
}

header {
  .quan-iconfont {
    position: absolute;
    .width(56);
    .height(56);
    .right(10);
    .line-height(56);
    .font-size(40);
    color: #fff;
    .top(20);
    text-align: center;
    /*border: 1px solid #fff;*/
  }
  .publish {
    .right(90);
    .font-size(48);
  }
}

.com-build-header();
.wrapper-img(116, 6, #b8a5e7, #eae4f8);

.list {
  border-top: 1px solid #ccc;
  background: #fff;
  .item {
    position: relative;
    .padding(0, 34, 22, 156);
    .img-wrapper-outer {
      position: absolute;
      .top(36);
      .left(20);
    }
    .wrapper-img(94, 5, #b8a5e7, #eae4f8);
    .desc {
      .line-height(36);
      .font-size(26);
      color: @fontSecondColor;
      a {
        color: inherit;
        &.strong {
          text-decoration: underline;
          color: #967adc;
        }
      }
    }
    .hd {
      .padding-top(6);
      .line-height(84);
      .font-size(30);
      color: @fontSecondColor;
    }
    .all {
      float: right;
      text-decoration: underline;
      color: #967adc;
    }
    .name {
      float: left;
    }
    .date {
      float: right;
      .font-size(24);
    }
    .bd {
      img {
        .width(560);
        .height(300);
        .margin-top(20);
      }
    }
  }
  .order-wrapper {
    .margin-top(20);
    .width(560);
    .height(180);
    border: 1px solid #d9dde3;
    .border-radius(8);
    background: #f5f5f7;
    .padding-top(8);
    .left {
      position: relative;
      float: left;
      .padding-top(7);
      .width(227);
      .height(160);
      border-right: 1px solid #ccc;
      .line-height(46);
      color: @fontSecondColor;
      .padding-left(48);
      a {
        color: inherit;
      }
      .name {
        position: relative;
        float: none;
        .font-size(22);
      }
      .symbol {
        .line-height(32);
        .font-size(24);
      }
      .status {
        .margin-top(30);
        .line-height(32);
        .font-size(24);
      }
      .tag {
        .top(19);
        .left(16);
        position: absolute;
        .width(20);
        .height(20);
        .border-radius(50%);
        background: @downColor;
        &.up {
          background: @upColor;
        }
      }
      .img-wrapper-outer {
        position: static;
        .margin-left(18);
      }
      .img-wrapper {
        .img {
          margin-top: 0;
        }
      }
      .nickname {
        .margin-top(10);
        .line-height(44);
        .font-size(30);
        .margin-left(-46);
        text-align: center;
        .width(220);
        overflow: hidden;
      }
    }
    .right {
      float: left;
      .padding-top(7);
      .line-height(46);
      .width(330);
      color: @fontSecondColor;
      .title {
        .font-size(22);
        .padding-left(32);
      }
      .floats,
      .profit {
        .margin-top(34);
        .line-height(74);
        .height(74);
        .font-size(60);
        color: @downColor;
        text-align: center;
        .dollar {
          vertical-align: top;
          .font-size(30);
        }
        .per,
        .float {
          .font-size(36);
        }
      }
      .profit {
        &.up {
          color: @upColor;
        }
      }
      .takeprofit{
        color: @upColor;
        .margin-top(0);
        .line-height(26);
        .height(26);
        text-align: center;
        .font-size(26);
      }
      .stoploss {
        color: @downColor;
        .margin-top(0);
        .line-height(26);
        .height(26);
        text-align: center;
        .font-size(26);
      }
      .zero {
        color: @fontSecondColor;
        .margin-top(0);
        .line-height(26);
        .height(26);
        text-align: center;
        .font-size(26);
      }
      .open {
        .margin-top(34);
        .line-height(74);
        .height(74);
        text-align: center;
        .font-size(50);
        color: @fontSecondColor;
      }
      .floats {
        &.disable {
          .rate {
            .font-size(30);
            color: @fontSecondColor
          }
          .per {
            display: none;
          }
        }
      }
    }
  }
  .ft {
    li {
      float: left;
      text-align: right;
      .line-height(52);
      .font-size(24);
      &:first-child {
        .width(130);
      }
      &:nth-child(2) {
        .width(140);
      }
      &:nth-child(3) {
        .width(150);
      }
      .count {
        .margin-right(10);
      }
      &:last-child {
        float: right;
        .width(56);
        position: relative;
        color: #967adc;
        .font-size(30);
        .action-wrapper {
          position: absolute;
          .top(58);
          .width(306);
          .height(38);
          .line-height(38);
          .right(-20);
          background: #242424;
          .border-radius(8);
          color: #fff;
          .font-size(18);
          span {
            float: left;
          }
          text-align:center;
          .retweet-btn {
            .width(94);
          }
          .like-btn {
            .width(92);
          }
          .replay-btn {
            .width(114);
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
          }
          &:after {
            content: '';
            position: absolute;
            .right(36);
            .top(-7);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 unit(9/@base, rem) unit(8/@base, rem) unit(9/@base, rem);
            border-color: transparent transparent #242424 transparent;
          }
        }
      }
    }
  }
  .last {
    .font-size(22);
    color: #8e8e93;
    text-align: center;
    .line-height(120);
  }
}

.loader {
  .height(60);
  .line-height(60);
  text-align: center;
  background-color: #fff;
  z-index: 4;
  .loader-inner {
    .margin-top(10);
    .loader-circle(40px, 40px, #999);
  }
  .desc {
    display: inline-block;
    .height(60);
    vertical-align: top;
  }
}