@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        .left(30);
      }
  }
}

.content {
    .padding-bottom(44);
    .hd{
        .font-size(28);
        p{
            .line-height(90);
            .padding-left(30);
            .padding-right(30);
            background: #fff;
            span{
                float: right;
            }
        }
    }
    .bd {
        .font-size(28);
        background: #fff;
        li {
            .padding(0, 30, 0, 30);
            border-bottom: 1px solid #d0cfd5;
        }
        a {
            position: relative;
            display: block;
            .padding-left(4);
            .padding-top(3);
            .line-height(90);
            .height(91);
        }
    }
}