@import '../../../base.less';
@import '../../../variable.less';
.rotateanimate();
header{
  .width(750);
  overflow: hidden;
  .header-inner{
    .left{
      position: relative;
    }
    .width(1500);
    .height(88);
    .line-height(88);
    .font-size(38);
    text-align: center;
    position: relative;
    .go-back,
    .filter {
      position: absolute;
      .width(44);
      .height(44);
      .top(22);
    }
    .go-back{
      .left(30);
    }
    .filter{
      .right(30);
    }
  }
  .left{
    .width(750);
    float: left;
  }
  .filters{
    position: relative;
    .width(750);
    .height(88);
    font-size: 0;
    float: left;
    .padding(0, 30);
    text-align: left;
    line-height: normal;
    .submit{
      display: inline-block;
      .font-size(28);
      .width(55);
      .height(55);
      float: right;
      .margin-top(17);
    }
    .wrapper{
      .font-size(28);
      display: inline-block;
      .margin-top(17);
      overflow: hidden;
      &:first-child{
        .margin-right(15);
      }
      input {
        .height(55);
        .line-height(55);
        .width(300);
        text-align: center;
      }
      &.error{
        input{
          border-color: red;
        }
        .err{
          display: none;
        }
      }
    }
  }
}
.header-inner {
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  transition-duration: 350ms;
  -webkit-transition-duration: 350ms;
  &.move-x {
    -webkit-transform: translateX(-16rem);
    transform: translateX(-16rem);
  }
}

nav {
  .width(750);
  .font-size(32);
  overflow: hidden;
  -webkit-transform: translateZ(0);
  ul {
    .width(1496);
  }
  li {
    position: relative;
    float: left;
    .width(187);
    .padding-left(30);
    a {
      display: block;
      .line-height(78);
      text-align: center;
    }
    &.active {
      &:before {
        position: absolute;
        bottom: 0;
        .left(0);
        .width(187);
        .height(4);
        font-size: 0;
        content: '';
      }
    }
  }
}

.content {
  .padding-bottom(100);
  .font-size(28);
  background: #fff;
  .item {
    position: relative;
    .padding-top(30);
    .padding-bottom(25);
    .padding-right(30);
    .progress {
      position: absolute;
      width: 2px;
      .height(168);
      .left(60);
      top: 0;
      .circle {
        .width(30);
        .height(30);
        position: absolute;
        .top(27);
        .left(-14);
        .border-radius(50%);
        // -webkit-box-shadow: 0 3px 3px #b9b7b7;
        // box-shadow: 0 3px 3px #b9b7b7;
        &.empty {
          .border(4, solid, #967adc);
          background: #fff;
        }
      }
    }
    .time {
      .line-height(26);
      .padding-left(104);
    }
    .left {
      float: left;
      .margin-left(104);
      .width(350);
      .height(86);
      .line-height(86);
      .font-size(32);
      .tag {
        vertical-align: top;
      }
      .num {
        .margin-left(10);
      }
    }
    .right {
      float: right;
      .width(200);
      .padding-top(10);
      .desc {
        text-align: right;
        .line-height(76);
      }
    }
    .symbol-info {
      position: absolute;
      .right(0);
      .width(300);
      .padding-right(30);
      text-align: right;
    }
    .amount {
      width: 100%;
      position: absolute;
      display: none;
      overflow: hidden;
      .padding-left(104);
      .bottom(0);
    }
  }
  .no-content {
    .height(60);
    .line-height(60);
    text-align: center;
    background-color: #fff;
    .padding-top(240);
    .line-height(60);
  }
  .loading{
    position: absolute;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .margin-top(300);
    text-align: center;
  }
}

footer {
  display: none;
  position: fixed;
  .line-height(100);
  .height(100);
  .width(750);
  bottom: 0;
  .font-size(28);
  text-align: center;
  background: rgba(22, 14, 35, .8);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  &.region {
    .line-height(36);
    .padding-top(15);
    .name {
      display: block;
    }
  }
  .name {
    .margin-right(4);
  }
}
