@import '../../variable.less';
html {
    background: #fff;
}

.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

.charge-logo {
    background: url(../../../img/charge-sd.png) 0 0 no-repeat;
    .background-size(500, 200);
}

h1,
h2,
h3 {
    font-weight: normal;
}

header {
    .width(640);
    overflow: hidden;
    .header-inner {
        position: relative;
        .height(88);
        .line-height(88);
        .font-size(36);
        text-align: center;
        background: #967bdc;
        color: #fff;
        .go-back {
            position: absolute;
            .left(18);
            .top(22);
            .width(49);
            .height(44);
            .icon {
                display: block;
                .width(23);
                .height(40);
                .background-position(0, -435);
            }
        }
    }
}

.content {
    background: #efeff4;
    ul {
        .font-size(26);
        li {
            position: relative;
            .height(86);
            .line-height(85);
            .padding-left(22);
            border-bottom: 1px solid #bcb3ca;
            background: #fff;
            color: #473b61;
            &:nth-child(2) {
                border-top: 1px solid #cfced3;
                border-bottom: none;
            }
            &:nth-child(3) {
                border-top: 1px solid #cfced3;
                border-bottom: 1px solid #cfced3;
                &:after {
                    position: absolute;
                    left: 0;
                    .top(-1);
                    .width(22);
                    .height(87);
                    content: '';
                    background: #fff;
                }
            }
            &:last-child {
                .margin-bottom(44);
            }
            &.phone-wrapper {
                .margin-bottom(44);
                .phone {
                    float: right;
                    .margin-right(26);
                }
            }
            .rmb {
                .margin-left(4);
                .margin-right(4);
            }
            .discount {
                .margin-left(24);
                color: #f9584a;
            }
            .radio-wrapper {
                position: absolute;
                .top(20);
                .right(26);
                .width(44);
                .height(44);
                &.active {
                    .radio-inner {
                        position: absolute;
                        .top(5);
                        .left(5);
                        .width(22);
                        .height(22);
                        .border-radius(50%);
                        background-color: #967adc;
                    }
                }
            }
            .radio {
                position: absolute;
                .top(1);
                .left(1);
                .width(42);
                .height(42);
                .border-radius(50%);
                .border(5, solid, #967adc);
            }
        }
    }
    .loader {
        .height(60);
        .line-height(60);
        text-align: center;
        background-color: #fff;
        z-index: 4;
        .loader-inner {
            .margin-top(10);
            .loader-circle(40px, 40px, #999);
        }
        .desc {
            display: inline-block;
            .height(60);
            vertical-align: top;
        }
    }
}

footer {
    text-align: center;
    .padding-top(60);
    .padding-bottom(20);
    position: fixed;
    .bottom(40);
    .width(640);
    .buy {
        .btn(478, 60, 56);
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}