@import '../../../variable.less';
@import '../../../base.less';
.icon-weixin();
.com-header();
html,
body {
    background-color: #e1283e;
}

body {
    background: url('../../../../img/11-hd.png') 0 0 no-repeat;
    background-size: 100% auto;
    .padding-top(328);
}

.content {
    background: #e1283e url('../../../../img/11-bd.png') 0 0 no-repeat;
    /*.background-size(640,
    1007);*/
    background-size: 100% auto;
    .height(680);
    .luck-wrapper {
        display: none;
        .padding-top(300);
        input {
            .margin-left(100);
            .width(440);
            .line-height(66);
            border: 1px solid #fff;
            .border-radius(2);
            background-color: transparent;
            text-align: center;
            outline: 0;
            &::-webkit-input-placeholder {
                color: #f3bdc1;
            }
        }
        .luck {
            display: block;
            .margin-left(100);
            .margin-top(24);
            .line-height(68);
            .border-radius(2);
            .font-size(34);
            background-color: #fff;
            .width(440);
            color: #e1283e;
            text-align: center;
        }
        p {
            /*.margin-top(18);*/
            .line-height(32);
            .font-size(18);
            color: #fff;
            text-align: center;
            a {
                color: #fff;
                .margin(0,
                6);
                text-decoration: underline;
            }
        }
    }
    .result-wrapper {
        .padding-top(250);
        display: none;
        h2 {
            .line-height(46);
            .font-size(30);
            color: #fff;
            text-align: center;
        }
        .money {
            .margin-top(10);
            .font-size(72);
            color: #fff;
            .line-height(130);
            text-align: center;
            vertical-align: top;
            .num {
                .margin-left(20);
                .font-size(124);
            }
        }
        .desc {
            .padding(0,
            90);
            .font-size(18);
            .line-height(24);
            color: #fff;
        }
    }
    .result-no-wrapper {
        display: none;
        .padding-top(250);
        text-align: center;
        color: #fff;
        h2 {
            .font-size(46);
            .line-height(170);
        }
        p {
            .line-height(44);
            .font-size(24);
            &.desc {
                .font-size(18);
                .line-height(38);
                .margin(0,
                130);
                text-align: left;
            }
        }
    }
}

.dialog-new();
.dialog-new-style {
    &.dialog-error {
        .dialog-inner {
            .dialog-content {
                .padding-top(130);
            }
            .dialog-btn {
                display: block;
                float: initial;
                width: auto;
            }
        }
    }
    &.dialog-406 {
        .dialog-inner {
            .dialog-content {
                /*.padding-top(156);*/
            }
            .dialog-btn {
                display: block;
                float: initial;
                width: auto;
            }
        }
    }
}