@import '../../variable.less';
@import '../../base.less';
.icon-weixin();
.com-header();
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

header {
    .header-inner {
        display: block;
    }
}

.content {
    .padding-bottom(44);
    .bd {
        .padding(0, 20);
        h2 {
            .font-size(30);
            .line-height(50);
        }
        p {
            .line-height(41);
            .font-size(25);
            max-height: 100%;
            color: #473b61;
        }
        .title {
            .font-size(26);
        }
        .believe {
            .margin-top(44);
        }
    }
}