<div class="dialog J_Dialog dialog-trade cm-dialog " id="J_Dialog">
   <div class="dialog-title">完成领取</div>
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
       <h2></h2>
       <div class="wrapper clearfix">
           <p>领取红包（个）</p>
           <p class="desc">真实及模拟资金红包总和</p>
           <div class="num"><%= data.count %></div>
       </div>
       <div class="wrapper clearfix">
           <p>真实资金（美元）</p>
           <p class="desc">已充值到您的实盘账户</p>
           <div class="num"><%= data.amount %></div>
       </div>
   </div>
   <div class="dialog-buttons clearfix">
       <a class="dialog-btn J_SwitchReal" href="./option.html">马上进行实盘交易</a>
       <a class="dialog-btn order J_Order J_SwitchReal" href="./account.html">查看我的账户</a>
       <a class="dialog-btn J_DialogClose list" href="#">关闭</a>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>