<% $.each(data, function(index, item) { %>
	<% if(item.amount !== 0) { %>
		<tr>
		    <td><%= item.type == 1 ? '新手红包' : (item.type == 2 ? '邀请红包' : (item.type == 10 ? '活动红包' : '随机红包')) %></td>
		    <td>$<%= item.amount %></td>
		    <td><%= item.formateTime %></td>
		    <td>
		    	<span class="J_Get <% if (item.status == 2){%>out-time <% } else if (item.status==1){%> got <%}%>"><%= item.status 	== 0 	? '未领取' : (item.status == 1 ? '已领取' : '已过期') %></span>
		    </td>
		</tr>
	<% } %>
<% }); %>

<% if (data.length === 0) {%>
<div class="empty">您还没得到过红包！</div>
<%}%>