@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
.reset-placeholder();
html, body{
    background: #ccc;
}
header{
  .width(750);
  background: #F2F2F2;
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        background: red;
      }
      .go-back{
        .left(30);
      }
  }
}
.content {
    position: absolute;
    textarea {
        display: block;
        .padding(12, 30);
        .width(750);
        .height(400);
        .line-height(36);
        // .border(8, solid, #d9dde3);
        .font-size(28);
        outline: 0;
       border: none;
       background: #fff;
    }
    .phone{
        .padding(12, 30);
        .width(750);
        .height(78);
        .margin-top(20);
        border: none;
    }
    .submit {
        position: fixed;
        .bottom(20);
        .margin-top(85);
        .left(30);
        .width(690);
        .height(88);
        .line-height(88);
        border: none;
        .border-radius(5);
        .font-size(34);
        outline: 0;
        background: red;
        text-align: center;
        color: #fff;
    }
    .count {
        position: absolute;
        .left(680);
        .top(260);
        .width(80);
        .line-height(50);
        color: #473b61;
    }
}

// .dialog-ios8();