<div class="dialog J_Dialog feedback-dialog " id="J_Dialog">
   <div class="dialog-content J_Content">
       <p class="title">提示</p>
       <p>反馈内容不能为空</p>
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose" data-idx="alert0">知道了</span>
   </div>
</div>
<div class="dialog-mask J_DialogMask">