<div class="dialog-ios8 J_Dialog" id="J_Dialog">
   <div class="dialog-title-ios8">提示</div>
   <div class="dialog-content-ios8 J_Content">反馈内容不能为空</div>
   <div class="dialog-buttons-ios8">
       <span class="dialog-btn J_DialogClose" data-idx="alert0">知道了</span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>