<div class="dialog J_Dialog warn-dialog dialog-trade del-dialog " id="J_Dialog">
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
        <div style="margin: 0 30px 0 20px; line-height:50px;"> <p style="line-height:40px;">账户保证金比例过低, 请马上平仓订单或入金!</p></div>
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose">确认</span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>