<div class=" dialog-logout removeLogout" id="J_Dialog">
   <span class="wrapper-icon"><span class="icon"></span></span>
   <div class="dialog-content J_Content">
       <p class="title">账户当前保证金比例已低于110%，为避免当前订单被强制平仓，请及时入金。</p>
   </div>
   <div class="dialog-content J_Content">
       <input type="checkbox" id="isShowMessageTwo">
       <span id="oneDay">一天之内不再提示</span>
   </div>
   <div class="dialog-buttons clearfix recharge">
       <span class="dialog-btn J_DialogClose close" id="J_DialogSetupCancel">关闭</span>
       <span class="dialog-btn J_DialogConfirm"><a class="charge" id="charge" href="">马上入金</a></span>
       <span class="bar"></span>
   </div>
</div>
<div class="dialog-mask J_DialogMask removeLogout"></div>