<header class="header">
    <div class="header-inner common">
        <span class="ui icon menu show-slide-menu J_ShowSlideMenu"></span>
        <h2 class="J_Title">首页</h2>
    </div>
</header>

<div class="home-banner">
    <div class="banner-inner km-slider init-remove" id="slider">
        <div class="km-slider-outer">
      
        </div>
    </div>
</div>

<div class="slide-menu J_SlideMenu" id="J_SlideMenu" style="display:none;"></div>
<div class="slide-menu-mask" id="J_SlideMenuMask" style="display:none;"></div>

<div class="trade-commission ui common content-color">
    <div class="content-inner commission-inner" id="comsion-content">
        <h3 class="tl l1-color bd-color">近30日我的交易佣金</h3>
        <div class="bd clearfix bd-color">
            <div class="item">
                <div>
                    <span class="home-custom-com dol ui set-ui">$</span>
                    <span class="home-custom-com num ui set-ui J_OwnCommision">--</span>
                </div>
                <p class="l3-color">共邀请了<span class="home-custom-com ui set-ui J_OwnInviteNum">--</span>个用户</p>
            </div>
            <div class="item">
                 <div class="d-m">
                    <span class="dol up">$</span>
                    <span class="num up J_MaxCommision">--</span>
                </div>
                <p class="desc"><span class="max-icon-one"></span><span class="max-icon-two"></span><span class="J_MaxUserName name">--</span></p>
            </div>
        </div>
        <div class="ft"><a class="ui set-ui import" href="./friends/invite.html?src=../home.html">马上邀请</a></div>
    </div>
</div>
<div class="follow-profit ui common content-color" id="J_Master" style="display:none;">
    <div class="content-inner follow-inner" id="follow-content">
        <h3 class="tl l1-color bd-color">近30日我的跟单盈亏</h3>
        <div class="bd clearfix bd-color">
            <div class="item">
                <div>
                    <span class="home-custom-com dol ui set-ui">$</span>
                    <span class="home-custom-com num ui set-ui J_FollowProfit">--</span>
                </div>
                <p class="l3-color">跟单交易<span class="home-custom-com ui set-ui J_FollowTicketCount">--</span>笔</p>
            </div>
            <div class="item">
                 <div class="d-m">
                    <span class="dol up">$</span>
                    <span class="num up J_MaxFollowProfit">--</span>
                </div>
                <p class="desc"><span class="max-icon-one"></span><span class="max-icon-two"></span><span class="J_MaxFollowName name">--</span></p>
            </div>
        </div>
        <div class="ft"><a class="ui set-ui import" href="./master-list.html">换换高手</a></div>
    </div>
</div>
<div class="oneself-profit ui common content-color">
    <div class="content-inner oneself-inner" id="oneself-content">
        <h3 class="tl l1-color bd-color">近30日我的自主交易盈亏</h3>
        <div class="bd clearfix bd-color">
            <div class="item">
                <div>
                    <span class="home-custom-com dol ui set-ui">$</span>
                    <span class="home-custom-com num ui set-ui J_AutoTradeProfit">--</span>
                </div>
                <p class="l3-color">自主交易<span class="home-custom-com ui set-ui J_AutoTradeCount">--</span>笔</p>
            </div>
            <div class="item">
                 <div class="d-m">
                    <span class="dol up">$</span>
                    <span class="num up J_MaxAutoProfit">--</span>
                </div>
                <p class="desc"><span class="max-icon-one"></span><span class="max-icon-two"></span><span class="J_MaxAutoCount name">--</span></p>
            </div>
        </div>
        <div class="ft"><a class="ui set-ui import" href="./option.html">马上交易</a></div>
    </div>
</div>
<footer class="footer"></footer>