@import '../../base.less';
@import '../../variable.less';
body{
  .padding-bottom(110);
  background: #F7F7F7;
}
header{
  .width(750);
  position: fixed;
  z-index: 20;
  .header-inner{
      .height(88);
      .line-height(88);
      background: transparent;
      .font-size(38);
      text-align: center;
      position: relative;
      .show-slide-menu{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        .left(30);
      }
  }
}

.home-banner{
  .width(750);
  .height(400);
  img{
    .width(750);
    .height(400);
  }
}

.content-inner{
  .width(690);
  .height(390);
  .margin-top(40);
  .margin-left(30);
  box-shadow: 0 1px 5px #E4E5E5;
  background: #fff;
  .tl,
  .ft{
    .height(88);
    .line-height(88);
    .padding(0, 30);
    .font-size(28);
    // background: #ccc;
  }
  .tl{
    .border-bottom(1, solid, transparent);
  }
  .ft{
    text-align: center;
  }
  .bd{
    .height(215);
    .border-bottom(1, solid, transparent);
    .item{
      float: left;
      .width(345);
      .height(214);
      .font-size(26);
      .padding(10, 0);
      text-align: center;
      .dol,
      .num{
        .font-size(36);
        vertical-align: middle;
      }
      .dol{
        display: inline-block;
        .height(148);
        .padding-top(28);
      }
      .num{
        .font-size(112);
      }
    }
  }
}

footer {
    position: fixed;
    .width(750);
    .height(100);
    .footer();
    bottom: 0;
    background-color: #EDEDED;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}