@import '../../variable.less';
.setRangeControWrap{
	.padding(5, 30);
	overflow: hidden;
	.cur-value{
		text-align: center;
		// color: #967bdc;
		.font-size(48);
	}
	.no-Mon{
		.font-size(28);
	}
	span{
		.width(120);
		.line-height(60);
	}
	.item{
		float: left;
	}
	.right{
		text-align: right;
	}
	.setValue-controller{
		-webkit-appearance: none;
		.width(430);
		outline: none;
		.margin-top(30);
		.border-radius(10);
		background: -webkit-gradient(linear, left top, right top, from(#BDBDBD), color-stop(0.5, #BDBDBD), color-stop(0.5, #BDBDBD), to(#BDBDBD));
		background: -webkit-linear-gradient(to right, #BDBDBD 50%, #BDBDBD 50%);
		background: -o-linear-gradient(to right, #BDBDBD 50%, #BDBDBD 50%);
		background: -moz-linear-gradient(left,#BDBDBD 50%, #BDBDBD 50%);
		background: linear-gradient(to right, #BDBDBD 50%, #BDBDBD 50%);
		&::-webkit-slider-runnable-track {
		    .height(8);
		    border: 1px solid #E1E0E5;
		   	.border-radius(5);
		}
		&::-webkit-slider-thumb {
		    -webkit-appearance: none;
		    .height(40);
		    .width(40);
		    .margin-top(-18);
		    border-radius: 50%; 
		    border-color: transparent;
		}

		&.no-monery::-webkit-slider-thumb {
			display: none;
		}
	}
}