@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
.reset-placeholder();

header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .attribute-trigger {
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
      }
      .go-back{
        .left(30);
      }
      .attribute-trigger{
        .right(30);
      }
  }
}
.content{
    width: 100%;
    .font-size(28);
    .followorder-history-wrapper{
        .width(750);
        .hd{
            .hd-header{
                .padding(30);
                overflow: hidden;
                .img-wrapper-outer{
                    .width(120);
                    .height(120);
                    .border-radius(50%);
                    float: left;
                    .margin-right(12);
                    overflow: hidden;
                    .img-wrapper,
                    .img{
                        width: 100%;
                        height: 100%;
                        .border-radius(50%);
                    }
                }
                .desc-wrapper{
                    .line-height(40);
                    .name-account{
                        .margin(12, 0);
                    }
                    .name{
                        display: inline-block;
                        .width(130);
                        .font-size(32);
                        .line-hide();
                        vertical-align: middle;
                    }
                    .account{
                        display: inline-block;
                        .width(63);
                        .height(30);
                        .line-height(30);
                        .font-size(22);
                        text-align: center;
                        vertical-align: middle;
                        .border(1, solid,transparent);
                    }
                    .num{
                        .margin(0,5);
                    }
                }
            }
            .hd-body{
                .padding-bottom(20);
                &>div{
                    .height(100);
                    .padding(10, 0);
                    .padding-left(50);
                    .item{
                        display: inline-block;
                        width: 32%;
                    }
                    .left{
                        float: left;
                    }
                    .right{
                        float: right;
                    }
                    .num{
                      .line-hide();
                    }
                }
            }
        }
        nav {
            .width(750);
            .height(78);
            // background: #F2F2F2;
            border-bottom: 1px solid #c8c7cc;
            li {
              position: relative;
            //   float: left;
            //   .width(375);
              display: block;
              text-align: center;
              .height(78);
              .line-height(78);
              .font-size(32);
              text-align: center;
              &.active {
                  &:before {
                      position: absolute;
                      bottom: 0;
                      .left(0);
                      .width(750);
                      .height(4);
                      font-size: 0;
                      content: '';
                  }
              }
            }
        }
        .bd{
            width: 100%;
            .follow-content{
                width: 100%;
                overflow-x: hidden;
                overflow-y: scroll;
            }
        }
        .footer{
            position: fixed;
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            align-items: center;
            background: rgba(255,255,255,.5);
            .left(0);
            .right(0);
            .bottom(0);
            .padding(30, 20);
            .btn{
                position: relative;
                .width(330);
                .height(88);
                .font-size(32);
                .font-size(32);
                .border-radius(4);
                border: none;
                color: #fff;
                // &.hidden{
                //     display: none;
                // }
            }
            .loading-wrapper{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 5;
                .padding-top(24);
                background: inherit;
            }
        }
    }
}

.loading{
    position: relative;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .margin-top(120);
    text-align: center;
}

.follow-loading{
    position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: #fff;
    .header-inner{
        position: relative;
        .height(88);
        .line-height(88);
        .padding-left(30);
        text-align: center;
        .font-size(38);
        .close{
            position: absolute;
            .width(44);
            .height(44);
            .left(30);		
            .bottom(20);
        }
    }
}