@import '../../../variable.less';
@import '../../../base.less';
.com-header();
.icon {
  background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

header {
  .height(88);
  .line-height(88);
  .font-size(36);
  text-align: center;
  background: #967bdb;
  color: #fff;
  .header-inner {
    display: block;
  }
}
.my {
  display: none;
}
.my-nav();
.content {
  margin: 0 auto;
  .width(640);
  .padding-bottom(198);
  background: #f4f3fb;
  &.real {
    .demo-list {
      display: none;
    }
    .real-list {
      display: block;
    }
  }
  .real-list {
    display: none;
  }
  .item {
    .padding-bottom(10);
    &.auth {
      .margin-top(310);
      color: #a39db0;
      .font-size(30);
      .line-height(46);
      text-align: center;
     /* background: transparent;*/
    }
  }
  .link {
    display: block;
    position: relative;
    .padding(10, 12);
    .height(158);
    .font-size(20);
    color: #807691;
    background: #fff;
    .tag,
    .guide {
      position: absolute;
      .top(69);
      .left(12);
      .width(20);
      .height(20);
      .border-radius(50%);
      background: #32d8a3;
      &.lose {
        background: #f9594a;
      }
    }
    /*.guide {
      left: auto;
      .right(12);
      background: #d5caf1;
      .triangle {
        position: absolute;
        .top(6);
        .left(9);
        .triangle(4, 3, transparent, transparent, transparent, #fff);
      }
    }*/
    .name-wrapper {
      position: relative;
      float: left;
      .margin-left(30);
      .padding-top(40);
      .width(154);
      color: #807691;
      &:after {
        position: absolute;
        right: 0;
        .top(19);
        width: 0;
        .height(100);
        border-left: 1px solid #e2e1e4;
        content: ''
      }
      p {
        .font-size(20);
        .line-height(30);
        overflow: hidden;
      }
      .name {
        .font-size(30);
        .line-height(40);
        .line-hide();
        color: #473b61;
      }
    }
    .detail {
      float: left;
      .padding-top(5);
      .padding-left(10);
      /*.width(400);*/
      li {
        float: left;
        .width(188);
        .name {
          text-align: right;
          color: #473b61;
          .font-size(18);
          .line-height(118);
        }
        &:nth-child(2) {
          .width(200);
          .padding-left(55);
          .profit {
            color: #33d7a3;
            .font-size(30);
            .line-height(118);
            &.up {
              color: #f9584a;
            }
            &.pending {
              color: #473b61;
            }
          }
        }
      }
    }
  }
  .loader {
    .height(60);
    .line-height(60);
    text-align: center;
    background-color: #fff;
    z-index: 4;
    .loader-inner {
      .margin-top(10);
      .loader-circle(40px, 40px, #999);
    }
    .desc {
      display: inline-block;
      .height(60);
      vertical-align: top;
    }
  }
  .empty {
    .height(60);
    .line-height(60);
    text-align: center;
    background-color: #fff;
  }
  .qrcode {
    .padding-top(20);
    .width(350);
    .margin-left(140);
    .img(350, 350);
    text-align: center;
  }
}

.my-footer();