<div class="bottom-wrapper clearfix" id="J_BtData">
    <div>
      <p class="bt-desc">自主交易</p>
      <p class="bt-bd"><span class="J_SelfTicket"><%= data.auto_tickets %></span>笔</p>
    </div>
    <div>
      <p class="bt-desc">跟单交易</p>
      <p class="bt-bd"><span class="J_SelfFollow"><%= data.follow_tickets %></span>笔</p>
    </div>
    <div>
      <p class="bt-desc">邀请好友</p>
      <p class="bt-bd"><span class="J_Invite"><%= data.invite_num %></span>人</p>
    </div>
</div>