@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .show-slide-menu,
      .share{
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
      }
      .show-slide-menu{
        .left(30);
      }
      .share{
        .right(30);
        background: red;
      }
  }
}

.content {
  .padding-bottom(196);
  .hd {
    position: relative;
    .line-height(96);
    .font-size(38);
    .padding(30);
    // &.has-close {
    //   .tag {
    //     .left(120);
    //   }
    // }
    .close {
      .line-height(36);
    }
    .tag {
      .line-height(36);
      text-align: center;
      color: green;
      &.up {
        color: red;
      }
      &.guadan {
        // .width(106);
        // .left(10)
      }
    }
    .category {
      .line-height(36);
      text-align: center;
    }
  }
  .status-wrapper {
    text-align: center;
    .padding(30, 0);
    .sign {
      display: inline-block;
      .padding-top(12);
      .font-size(32);
    }
    .num {
      .margin-left(20);
      .font-size(75);
      vertical-align: top;
    }
    .status {
      .margin-left(24);
    }
  }
  .progress-wrapper {
    .padding-left(16);
    .padding-top(46);
    .height(200);
    .font-size(26);
    .title {
      float: left;
      .width(150);
    }
    .wrapper {
      .height(33);
      .line-height(33);
      .margin-bottom(18);
      .progress-outer {
        float: left;
        position: relative;
        .progress {
          position: absolute;
          .width(200);
          .height(33);
          text-align: left;
          .progress-inner {
            position: absolute;
            .height(33);
            width: 0%;
            border-top: 1px solid #1695c2;
            background: #01bdf1;
            .border-radius(3);
            -webkit-transition: all .8s ease;
            transition: all .8s ease;
            .desc {
              position: absolute;
              // .right(-100);
              .height(33);
              .line-height(33);
              white-space: nowrap;
              .sign {
                .font-size(18);
              }
            }
          }
        }
      }
    }
  }
  .tab-wrapper {
    .tab-nav-wrapper {
      position: relative;
      .padding(16, 0);
      overflow: hidden;
      .bar {
        position: absolute;
        .height(51);
        width: 0;
        .left(320);
      }
      .active {
        position: relative;
        &:after{
          position: absolute;
          content: '';
          .width(375);
          .height(4);
          background: #01bdf1;
          .bottom(-16);
          .left(0);
        }
      }
    }
    .tab-nav {
      float: left;
      .width(375);
      .font-size(32);
      .line-height(45);
      text-align: center;
    }
    .tab-content {
      position: relative;
      .height(455);
      .price-wrapper {
        position: absolute;
        .width(750);
        bottom: 0;
        z-index: 101;
        left: 0;
        .line-height(30);
        .font-size(22);
        color: #01bdf1;
        .padding-left(22);
        .open-price,
        .profit-wrapper,
        .stoploss-wrapper,
        .cur-price {
          float: left;
          visibility: hidden;
          .width(180);
          &.show {
            visibility: visible;
          }
        }
        .stoploss-wrapper,
        .profit-wrapper {
          &.single {
            .width(365);
            text-align: center;
          }
        }
        .profit-wrapper {
          color: #25b9a8;
        }
        .stoploss-wrapper {
          color: #ff6b6b;
        }
        .open-price {
          color: #01bdf1;
        }
      }
      .open-price {
        /*position: absolute;
        .top(122);
        .left(24);
        .width(154);
        .height(34);
        .line-height(32);
        text-align: center;
        border: 1px solid #4e557c;
        .border-radius(2);
        color: #c5c6d1;
        .font-size(21);
        background: rgba(81, 89, 129, .8);*/
        /*display: none;*/
      }
      .price {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #01bdf1;
        .font-size(25);
        .line-height(62);
        .padding-right(18);
      }
      .img-wrapper-outer {
        .padding-top(52);
        .width(282);
        float: left;
        .img-wrapper {
          .margin-left(56);
          .width(171);
          .height(171);
          .border-radius(50%);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          .line-height(64);
          .font-size(38);
          text-align: center;
        }
      }
      .right-wrapper {
        .margin-left(328);
        .padding-top(26);
        .padding-right(30);
        .font-size(28);
        text-align: right;
        .wrapper {
          .padding-top(60);
          .title {
            .line-height(46);
          }
          .num {
            display: inline-block;
            .width(140);
            text-align: left;
            .font-size(32);
            .line-height(67);
          }
        }
      }
      .bottom-wrapper{
        .padding-top(130);
        &:before{
          display: table;
          content: '';
          clear: both;
        }
        &>div{
          display: inline-block;
          .width(250);
          .font-size(28);
          float: left;
          &:nth-of-type(1){
            .padding-left(30);
          }
          &:nth-of-type(2){
            text-align: left;
            .padding-left(80);
          }
          &:nth-of-type(3){
            .padding-right(30);
            text-align: right;
          }
        }
      }
      .highcharts-range-selector-buttons,
      .highcharts-input-group,
      .highcharts-scrollbar {
        display: none;
        visibility: hidden;
      }
      .highcharts-grid {
        path {
          border-color: #1f172c;
        }
      }
      .highcharts-axis {
        path {
          stroke: #4b425a;
          stroke-width: 2;
        }
      }
      .highcharts-grid {
        path {
          stroke: #43496a;
        }
      }
      .highcharts-tracker {
        path {
          stroke-width: 3;
          stroke: #01bdf1;
          fill: #01bdf1;
        }
      }
      &>path {
        stroke: #967adc;
      }
      .highcharts-data-labels {
        tspan {
          text-shadow: none;
        }
      }
    }
  }
  .bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    .padding(20, 0, 20, 0);
    background: rgba(255,255,255, 0.9);
    z-index: 111;
    a {
      .font-size(32);
      color: #fff;
      display: block;
      .width(690);
      .line-height(88);
      margin: 0 auto;
      background: green;
      text-align: center;
    }
    .desc {
      display: none;
      .font-size(18);
      color: #898b99;
      .line-height(48);
      text-align: center;
    }
  }
}

.order-status {
  .padding-top(50);
  .padding-bottom(6);
  
  .right,
  .left {
    float: right;
    .width(375);
    .height(150);
  }
  .right {
    .width(200);
  }
  .left {
    .width(550);
    .padding-left(34);
    .line-height(38);
    text-align: center;
    text-align: left;
    .title {
      float: left;
      .margin-right(18);
    }
  }
  .second {
    .margin-top(26);
  }
  .progress {
    margin: 0 auto;
    .width(128);
    .height(128);
  }
  .progressbar-text {
    .font-size(32);
    text-align: center;
  }
}
.highcharts-range-selector-buttons {
  display: none;
}

inpt {
  -webkit-appearance: none;
}