@import '../../../../variable.less';
@import '../../../../base.less';
@base: 46.875;
input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

.dialog-ios8();
::-webkit-input-placeholder {
  color: #fff;
}

html {
  background: #fff;
}

.icon {
  background: url(../../../../../img/guides-broker-login-icon.png) 0 0 no-repeat;
  .background-size(90, 230);
}

body {
  background: #fae5ca url(../../../../../img/guzhi8.png) 0 0 no-repeat;
  background-size: 100% auto;
  .min-height(1136);
  .padding-top(540);
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

.content {
  form {
    .width(602);
    margin: 0 auto;
    .input-wrapper {
      .border-radius(2);
      overflow: hidden;
      input {
        .padding-top(30);
        .padding-bottom(30);
        .line-height(53);
        background: transparent;
        .margin-left(90);
        .width(510);
        /*.padding-left(90);*/
        .font-size(30);
        color: #000000;
      }
      .icon {
        position: absolute;
        z-index: 1;
        .width(28);
        .height(40);
        /*top: 0;*/
        /*left: 0;*/
        .left(30);
        .top(38);
        background: url(../../../../../img/xinwaihui-icon-iphone.png) 0 0 no-repeat;
        .background-size(28, 40);
        &.icon-password {
          background: url(../../../../../img/xinwaihui-icon-password.png) 0 0 no-repeat;
          .background-size(36, 40);
          .width(36);
          .left(26);
        }
      }
      .get-code {
        position: absolute;
        .top(27);
        .right(22);
        .width(178);
        .height(60);
        .line-height(56);
        text-align: center;
        .border-bottom(4, solid, #fe6606);
        background: -webkit-gradient(linear, 0 100%, 0% 100%, from(#e6b275), to(#fe6606));
        background: -webkit-linear-gradient(top, #e6b275, #fe6606);
        color: #fff;
        .border-radius(4);
        .font-size(27);
      }
    }
    .wrapper {
      position: relative;
      .height(115);
      .line-height(113);
      /*border: 1px solid #5390b5;*/
      border-bottom: 1px solid #c8b6a2;
      /*border:none;*/
      /*&.first {
        border-bottom-color: #88b2cf;


      }
      &.second {
        border-top-color: #88b2cf;
        border-bottom-color: #88b2cf;
      }*/
      &.third {
        border-top-color: #88b2cf;
      }
      &.submit-wrapper {
        .margin-top(50);
        height: auto;
        border: none;
        line-height: normal;
      }
      &.error {
        .err {
          display: block;
        }
      }
      .err {
        display: none;
        .left(90);
        position: absolute;
        .top(90);
        .line-height(30);
        .font-size(22);
        color: #ff564e;
      }
    }
    .submit {
      .line-height(90);
      .height(94);
      .width(602);
      .border-radius(12);
      .border-bottom(4, solid, #c93a3a);
      background: -webkit-gradient(linear, 0 100%, 0% 100%, from(#ea5a4c), to(#c93a3a));
      background: -webkit-linear-gradient(top, #ea5a4c, #c93a3a);
      color: #fff;
      .font-size(43);
    }
  }
  .login-wrapper {
    margin: 0 auto;
    .margin-top(50);
    .width(602);
    text-align: center;
    color: #999;
    .recovery,
    .register {
      /*display: inline-block;*/
      float: right;
      .line-height(47);
      .font-size(27);
      color: #999;
    }
    .register {
      float: left;
    }
  }
}