@import '../../../variable.less';
.icon {
    background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

h1,
h2,
h3 {
    font-weight: normal;
}

html,
body {
    background: #359dd0;
}

inpt {
    -webkit-appearance: none;
}

.content {
    .height(1008);
    .padding-top(130);
    background: url(../../../../img/invest-now-bg.png) 0 0 no-repeat;
    background-size: 100% auto;
    .hd {
        .height(226);
        background: url(../../../../img/invest-now-hd.png) 0 0 no-repeat;
        background-size: 100% auto;
    }
    .action-wrapper {
        .padding-top(386);
    }
    .invest {
        display: block;
        margin: 0 auto;
        .width(460);
        .height(70);
        .line-height(64);
        .border-radius(8);
        .border(3, solid, #fff);
        .font-size(34);
        color: #fff;
        text-align: center;
    }
    p {
        .line-height(90);
        .font-size(24);
        text-align: center;
        color: #fff;
        a {
            color: #f0e527;
            text-decoration: underline;
        }
    }
}

.dialog {
    position: fixed;
    border-radius: 5px;
    background-color: #fff;
    /* top: 50%;*/
    .top(140);
    left: 50%;
    z-index: 1000;
    .margin-left(-280);
    .margin-top(-54);
    /*.padding-top(20);*/
    .width(560);
    .height(710);
    color: #3d4245;
    visibility: visible;
    /*height: auto;*/
    /*.border-top-left-radius(12);
    .border-top-right-radius(12);*/
    .border-radius(12);
    .hd {
        .height(100);
        .padding-top(16);
        background: #8b7ed1;
        text-align: center;
        .border-top-left-radius(12);
        .border-top-right-radius(12);
    }
    .close-wrapper {
        position: absolute;
        .top(20);
        .right(12);
        .width(44);
        .height(44);
    }
    .dialog-close {
        position: absolute;
        /* .top(28);
        .right(20);*/
        .top(8);
        .left(8);
        .width(28);
        .height(28);
        .background-position(0, -583);
    }
    h2 {
        .font-size(46);
        .line-height(74);
        color: #fff;
    }
    .desc {
        .padding-left(40);
        .padding-right(32);
        .padding-top(20);
        .line-height(30);
        .font-size(26);
        color: #a39db0;
        p {
            .margin-top(10);
        }
        ul {
            .margin-top(12);
        }
    }
}

.dialog-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    opacity: .6;
    left: 0;
    top: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}