<% if (data.num) {%>
<section class="info-hd">
  <p>今日有<%= data.num %>位好友为您产生朋友赚</p>
  <div class="num-wrapper">
    <span class="dollar">$</span>
    <span class="num"><%= data.count %></span>
    <span class="J_Detail detail">?</span>
  </div>
  <a class="total" href="./journey.html">查看朋友赚收入流水<span class="arrow-right"></span></div>
</section>
<% } else {%>
<section class="info-no">
  <h2>除了做交易 邀请好友也能赚钱</h2>
  <a class="J_Detail detail">查看详情<span class="arrow-right"></span></a>
  <p class="desc">点击上方“+”去邀请好友</p>
</section>

<% } %>