@import '../../../variable.less';
@import '../../../base.less';
@base: 750/16;
body {}


/*.com-header();*/

body {
  header {
    display: none;
    width: 16rem;
    overflow: hidden
  }
  header .header-inner {
    position: relative;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .9rem;
    text-align: center;
    background: #967bdc;
    color: #fff
  }
  header .header-inner .go-back {
    position: absolute;
    left: .45rem;
    top: .55rem;
    width: 1.225rem;
    height: 1.1rem
  }
  header .header-inner .go-back .icon {
    display: block;
    width: .575rem;
    height: 1rem;
    background-position: 0 -10.875rem
  }
  .go-back .icon {
    background-size: 10rem 37.5rem
  }
  header {
    display: block;
    /*width: 16rem;*/
    .add {
      position: absolute;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALlJREFUeNpi/P//PwOFQAWIt0PZnkB8hxLDmBgoB4FQR4FwJKWGUcNBzEhsrsHgIKqCUQeNOmjUQaMOGnXQqIOGuoNYoM2GALRamxRgj8S2AOJyMs35C8QbGIENtLtAhtIgCaA7gy7KQCGkCqQjgJibTDMskKLtBBAfJNOcr0C8ggHUpqYQV/xHgHZKzRvN9qMOGnXQqINGHTTqoFEHDUIH/UVif6NGe4hSM0BN4B1QtgcDhUN6AAEGALFSis6CPaIIAAAAAElFTkSuQmCC) 0 0 no-repeat;
      .background-position(10, 10);
      .background-size(40, 40);
      .width(60);
      .height(60);
      .right(10);
      .top(20);
    }
    .friends {
      position: absolute;
      .width(60);
      .height(60);
      .right(82);
      .top(20);
      background: url(../../../../img/friends-top-icon.png) 0 0 no-repeat;
      .background-position(7, 7);
      .background-size(47, 46);
    }
  }
  header .header-inner {
    display: block;
  }
}

.second-icon();
.info-hd {
  /*.padding-top(34);*/
  .padding(34, 0, 62, 0);
  text-align: center;
  p {
    .font-size(24);
    color: @fontSecondColor;
    .line-height(68);
  }
  .num-wrapper {
    color: @redColor;
    .font-size(100);
    .height(166);
    .line-height(166);
    .dollar {
      .font-size(48);
      vertical-align: top;
    }
    .detail {
      display: inline-block;
      background: url(../../../../img/friends-detail-icon.png) 0 0 no-repeat;
      .background-size(40, 40);
      .background-position(10, 63);
      text-indent: -9999px;
      .width(60);
    }
  }
  .total {
    .line-height(44);
    .height(44);
    .padding(0, 20);
    background: @mainColor;
    display: inline-block;
    .border-radius(18);
    color: #fff;
    .font-size(24);
    .arrow-right {
      display: inline-block;
      .margin-left(10);
      .width(14);
      .height(44);
      background: url(../../../../img/arrow-right-white.png) 0 center no-repeat;
      background-size: 100% auto;
      vertical-align: top;
    }
  }
}

.list,
.info-list {
  h1 {
    background: #efeff4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .line-height(52);
    .height(54);
    .font-size(26);
    .padding-left(32);
    color: @fontSecondColor;
    /*.width(750);*/
  }
  ul {
    .padding-left(29);
    border-bottom: 1px solid #c8c7cc;
  }
  .item {
    .height(160);
    border-bottom: 1px solid #c8c7cc;
    &:last-child {
      border: none;
    }
    &.item_hide{
      display: none;
    }
  }
  .img-wrapper-outer {
    float: left;
    .width(128);
    .height(128);
    .margin-left(2);
    .margin-top(16);
    .padding(5);
    .border-radius(50%);
    .border(5, solid, #e9e4f7);
    overflow: hidden;
    background: #b8a7e5;
    .img(108, 108);
    .img-wrapper {
      img{
        border-radius: 50%;
        .width(108);
        .height(108);
      }
    } 
  }
  .info {
    .margin-top(33);
    float: left;
    .width(332);
    .padding-left(32);
    color: #473b61;
    text-align: left;
    h2 {
      .line-height(50);
      .height(50);
      .font-size(30);
      .line-hide();
      .desc {
        .font-size(24);
        .margin-left(20);
      }
    }
    p {
      .font-size(24);
      .line-height(44);
      .padding-left(46);
      position: relative;
      .type {
        .width(20);
        .height(20);
        .border-radius(50%);
        background: @downColor;
        position: absolute;
        .top(12);
        .left(2);
        &.up {
          background: @upColor;
        }
      }
    }
  }
  .count-wrapper {
    float: right;
    .font-size(40);
    .max-width(200);
    
    .margin-right(30);
    .margin-top(53);
    .height(56);
    .line-height(56);
    color: @fontSecondColor;
    .dollar {
      .font-size(24);
      vertical-align: top;
    }
  }
}

.info-no {
  .padding-top(60);
  .padding-bottom(62);
  text-align: center;
  h2 {
    .line-height(108);
    .font-size(40);
    color: @mainColor;
  }
  .detail {
    .line-height(44);
    .height(44);
    .padding(0, 20);
    background: @mainColor;
    display: inline-block;
    .border-radius(18);
    color: #fff;
    .font-size(24);
    .arrow-right {
      display: inline-block;
      .margin-left(10);
      .width(14);
      .height(44);
      background: url(../../../../img/arrow-right-white.png) 0 center no-repeat;
      background-size: 100% auto;
      vertical-align: top;
    }
  }
  .desc {
    .line-height(30);
    .margin-top(70);
    .font-size(24);
    color: @fontSecondColor;
  }
}

.info-list {
  position: relative;
  &:after {
    position: absolute;
    left: 0;
    content: '';
    background: url(../../../../img/friends-no-bg.png) 0 0 no-repeat;
    background-size: 100% auto;
    .height(200);
    top: 0;
    width: 100%;
  }
  .info {
    .margin-top(56);
  }
  .wrapper {
    .padding-top(170);
  }
}

.pop-wrapper {
  display: none;
  .bg {
    position: absolute;
    .top(-310);
    .left(-75);
    width: 16rem;
    .height(390);
    background: url(../../../../img/friends-pop-bg.png) 0 0 no-repeat;
    background-size: 100% auto;
    .close {
      position: absolute;
      .width(60);
      .height(60);
      .left(90);
      .top(-10);
    }
  }
  .pop-content {
    .width(600);
    .height(760);
    .padding-top(76);
    .top(330);
    position: absolute;
    .left(75);
    background: #fff;
    .border-radius(10);
    z-index: 11;
    h2 {
      text-align: center;
      .line-height(54);
      .font-size(30);
      color: #160e23;
      .margin(0, 10);
      .padding-bottom(28);
      border-bottom: 1px solid #ccc;
    }
    .desc {
      position: relative;
      .line-height(50);
      .font-size(32);
      color: @mainColor;
      .margin(0, 32, 0, 86);
      .margin-top(46);
      &:after {
        content: '';
        .width(20);
        .height(20);
        .border-radius(50%);
        position: absolute;
        .top(16);
        .left(-46);
        background: @mainColor;
      }
    }
    .extra-wrapper {
      .margin(0, 10);
      .padding-top(20);
      .margin-top(40);
      border-top: 1px solid #ccc;
      p {
        .font-size(24);
        .line-height(10);
        color: #666;
        .padding-left(90);
        &:first-child {
          .padding-left(18);
        }
      }
    }
  }
  .mask {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
  }
}

.J_Inner {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  .padding-bottom(120);
}

.loader {
  .height(60);
  .line-height(60);
  text-align: center;
  background-color: #fff;
  z-index: 4;
  .loader-inner {
    .margin-top(10);
    .loader-circle(40px, 40px, #999);
  }
  .desc {
    display: inline-block;
    .height(60);
    vertical-align: top;
  }
}

footer {
  background: rgba(69, 62, 79, .8);
  .height(120);
  .padding-top(18);
  width: 16rem;
  position: fixed;
  bottom: 0;
  left: 0;
  p {
    .font-size(34);
    .line-height(50);
    text-align: center;
    color: #fff;
  }
  a {
    color: @fontLinkColor;
    .line-height(38);
    text-decoration: underline;
    .font-size(22);
    .margin-right(30);
    float: right;
  }
}