<section class="list">
  <h1>今日为我带来“朋友赚”的好友</h2>

  <ul class="J_Inner">
    <% data.forEach(function(item){%>
    <li class="item clearfix">
      <div class="img-wrapper-outer">
        <div class="img-wrapper">
          <img class="img" src="<%= item.avatar %>"/>
        </div>
      </div>
      <div class="info">
        <h2><%= item.nickname %> <span class="desc"><%= item.levelName %>级好友</span></h2>
        <p>
          <span class="type <%= item.cmd.indexOf('buy') !== -1 ? 'up' : ''%>"></span>
          <span class="symbol"><%= item.symbolName %></span>
        </p>
      </div>
      <span class="count-wrapper">
        <span class="dollar">$</span> <%= item.award %>
      </span>
    </li>
  <% }); %>
  </ul>

</section>