<section class="info-list">
  <h1></h2>
  <div class="wrapper"></div>
  <ul class="J_Inner">
    <% data.forEach(function(item,index) {%>
    <li class="item clearfix <%= ( showRootAccount() && item.nickname=='IFFX爱福宝_大宝宝' ) ? 'item_hide' : '' %>">
      <div class="img-wrapper-outer">
        <div class="img-wrapper">
          <img class="img" src="<%= item.avatar %>">
        </div>
      </div>
      <div class="info">
        <h2><%= item.nickname %></h2>
      </div>
      <span class="count-wrapper">
        <span class="dollar">$</span><%= item.score %>
      </span>
    </li> 
    <% }); %>    
  </ul>
</section>