<div class="guide-1-top">
    <div class="item-icon">
        <span class="guide-icon-menu"></span>
    </div>
    <div class="item-desc">
        <p class="guide-icon-arrow"></p>
        <p class="guide-desc">我的相关信息隐藏在这里</p>
    </div>
</div>
<div class="guide-1-bt">
    <ul>
       <li>
           <span class="guide-1-bt-trade-icon"></span>
           <span class="guide-1-bt-desc-name">交易</span>
       </li>
       <li>
            <span class="guide-1-bt-follow-icon"></span>
            <span class="guide-1-bt-desc-name">跟单</span>
        </li> 
    </ul>
    <div class="guide-1-bt-desc-item">
        <p class="guide-desc">在这里,开启你的自主交易</p>
        <p class="guide-icon-arrow"></p>
    </div>
    <div class="guide-1-bt-desc-item two">
        <p class="guide-desc">在这里,开启你的跟单交易</p>
        <p class="guide-icon-arrow"></p>
    </div>
</div>