@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
.reset-placeholder();

header{
  .width(750);
  background: #F2F2F2;
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .attribute-trigger {
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        background: red;
      }
      .go-back{
        .left(30);
      }
      .attribute-trigger{
        .right(30);
      }
  }
}

.content{
  position: relative;
  .hd{
    position: absolute;
    .top(0);
    .left(30);
    .font-size(18);
    .line-height(45);
    z-index: 50;
    .font-size(18);
    .item{
      display: inline-block;
    }
  }
  .rangeSelector-wrapper{
    position: absolute;
    .top(45);
    .left(30);
    .width(100);
    .height(36);
    .line-height(36);
    .border-radius(4);
    background: #EEEEEE;
    z-index: 50;
    .font-size(18);
    .border(1, solid, #BDBDBD);
    .bar-wrapper{
      position: absolute;
      .height(80);
      .width(100);
      .left(0);
      .padding-left(12);
    }
    .bar{
      position: absolute;
      .top(14);
      .right(12);
      .triangle(10, 6, #6D6D6D, transparent, transparent, transparent);
    }
    .popup{
      position: absolute;
        z-index: 11;
      .top(0);
      .left(0);
      .min-width(150);
      -webkit-transform-origin: left top;
        transform-origin: left top;
    }
  }
  .bd{
    .padding-top(10);
    background: #F2F2F2;
    .item{
      .width(750);
      .height(60);
      .line-height(60);
      .padding-right(30);
      .padding-left(30);
      .font-size(28);
      .border-bottom(1, solid,#ccc);
      background: #fff;
      &.price-info{
        .height(84);
        .line-height(84);
        .font-size(32);
        .price-wrapper{
          text-align: right;
        }
      }
      &>div{
        display: inline-block;
      }
      .right{
        .width(315);
        float: right;
        text-align: left;
      }
      .name{
        display: inline-block;
        .width(170);
      }
    }
  }
  
  .ft{
    position: fixed;
    .width(750);
    .padding(21, 0);
    text-align: center;
    .bottom(0);
    background: rgba(255,255,255,.8);
    .action{
      position: relative;
      display: inline-block;
      .width(330);
      .height(88);
      .line-height(60);
      .padding(10, 0);
      .margin(0, 20);
      .border-radius(5);
      .font-size(32);
      color: #fff;
      vertical-align: bottom;
      &.close{
        background: #2196F3;
      }
      &.edit{
        background: #9B9B9B;
      }
    }
    .loading-wrapper{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      .padding-top(10);
      background: inherit;
    }
    .market-close{
      margin: 0 auto;
      .width(540);
      .height(64);
      .line-height(64);
      .border-radius(5);
     .font-size(28);
      background-color: #ccc;
      color: #fff;
    }
    .market-close{
      line-height: normal;
      .desc{
        .font-size(16);
      }
    }
  }
   .loading{
    position: absolute;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .margin-top(120);
    text-align: center;
  }
}