@import '../../../variable.less';
@import '../../../base.less';
.com-header();
.icon {
  background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

body {
  background: #160e23;
  /*.padding-bottom(100);*/
}

header {
  .height(88);
  .line-height(88);
  .font-size(36);
  text-align: center;
  background: #160e23;
  color: #fff;
  .header-inner {
    display: block;
    background: #160e23;
  }
}
.my {
  display: none;
}

.chart {
  .height(480);
  .spline-chart {
    height: 100%;
  }
}

.profits {
  h2 {
    .font-size(20);
    color: #807691;
    .line-height(44);
    .padding-left(26);
    border-top: 1px solid #3e364d;
    border-bottom: 1px solid #3e364d;
    background: #1f1a2d;
  }
  ul {
    background: #160e23;
  }
  li {
    .line-height(85);
    .margin-left(25);
    .border-bottom(2px, solid, #2f263d);
    .font-size(26);
    color: #90879f;
    &:last-child {
      border-bottom: none;
    }
    .number {
      float: right;
      .font-size(30);
      color: #7c64b7;
      .margin-right(25);
      .small {
        .font-size(18);
        vertical-align: top;
        .margin-right(4);
      }
    }
  }
}

.chart-container {
  .height(514);
  .padding-top(52);
  .padding-left(62);
  position: relative;
  ul {
    position: absolute;
    .top(72);
    right: 0;
    .width(216);
    li {
      position: relative;
      .line-height(26);
      .margin-top(24);
      /*.padding-left(42);*/
      color: #f9584a;
      .font-size(22);
      .num {
        .margin-left(8);
      }
      .name {
        .max-width(130);
        display: inline-block;
        .line-hide();
      }
      &:nth-child(2) {
        /*&:before {*/
        color: #ffc000;
        /*}*/
      }
      &:nth-child(3) {
        /*&:before {*/
        color: #67b2e1;
        /*}*/
      }
      &.last,
      &:nth-child(4) {
        /*&:before {*/
        color: #25b9a8;
        /*}*/
      }
      /* &:before {
        position: absolute;
        top: 0;
        left: 0;
        .width(26);
        .height(26);
        background: #25b9a8;
        .border-radius(2);
        content: ''
      }*/
    }
  }
  .chart-area {
    .height(304);
    .width(304);
    .highcharts-data-labels {
      /*tspan {*/
      display: none;
      /*}*/
    }
    .highcharts-tooltip {
      display: none;
    }
  }
}

.chart {
  .height(500);
  position: relative;
  .detail {
    position: absolute;
    .top(20);
    z-index: 1;
    left: 0;
    .padding-left(30);
    p {
      .line-height(32);
      .font-size(22);
      color: #ffd201;
      &.my {
        color: #967adc;
        display: none;
        &.show {
          display: block;
        }
      }
    }
  }
}

.highcharts-title {
  margin-top: -.375rem !important;
}

detail .empty {
  .height(42);
  border-top: 1px solid #322b41;
  border-bottom: 1px solid #322b41;
  background: #1f1a2d;
}