@import '../../../variable.less';
@import '../../../base.less';
.com-header();

body {
  background: #fff;
}

.my {
  display: none;
}

.chart {
  .height(480);
  .spline-chart {
    height: 100%;
  }
}

.profits {
  .font-size(28);
  h2 {
    .font-size(32);
    .line-height(78);
    .padding-left(30);
  }
  li {
    .line-height(85);
    .padding-left(30);
    border: 1px;
    &:last-child {
      border-bottom: none;
    }
    .number {
      float: right;
      .margin-right(25);
      .small {
        vertical-align: top;
        .margin-right(4);
      }
    }
  }
}

.chart-container {
  .height(514);
  .padding-top(52);
  .padding-left(62);
  position: relative;
  ul {
    position: absolute;
    .top(72);
    right: 0;
    .padding-right(30);
    li {
      position: relative;
      .line-height(26);
      .margin-top(24);
      .num {
        .margin-left(8);
      }
      .name {
        .max-width(130);
        display: inline-block;
        .line-hide();
      }
      // &:nth-child(2) {
      //   color: #ffc000;
      // }
      // &:nth-child(3) {
      //   color: #67b2e1;
      // }
      // &.last,
      // &:nth-child(4) {
      //   color: #25b9a8;
      // }
      /* &:before {
        position: absolute;
        top: 0;
        left: 0;
        .width(26);
        .height(26);
        background: #25b9a8;
        .border-radius(2);
        content: ''
      }*/
    }
  }
  .chart-area {
    .height(290);
    .width(290);
    .highcharts-data-labels {
      display: none;
    }
    .highcharts-tooltip {
      display: none;
    }
  }
}

.chart {
  .height(500);
  position: relative;
  .detail {
    position: absolute;
    .top(20);
    z-index: 1;
    left: 0;
    .padding-left(30);
    p {
      .line-height(32);
      .font-size(22);
      &.my {
        display: none;
        &.show {
          display: block;
        }
      }
    }
  }
}

.highcharts-title {
  margin-top: -.375rem !important;
}

detail .empty {
  .height(42);
  border-top: 1px solid #322b41;
  border-bottom: 1px solid #322b41;
  background: #1f1a2d;
}