<ul class="clearfix">
    <li>
        <a class="color" href="./pro-chart.html<%= data.search %>">图表</a>
    </li>
    <li>
        <a class="color" href="<%= data.chartUrl %><%= data.search %>">下单</a>
    </li>
    <li class="active">
        <a class="color" href="javascript:void(0);">持仓</a>
    </li>
</ul>