@import '../../variable.less';
@import '../../common/slider/index.less';
html {
    //background: #f1f0f6;
}

h1,
h2,
h3 {
    font-weight: normal;
}

input {
    -webkit-appearance: none;
}

body {
    /* .width(640);
    overflow: hidden;*/
    background: url(../../../img/android-guide.png) 0 0 no-repeat;
    .background-size(640, 1136);
    .height(1136);
    .width(640);
    background-color: #867bcb;
}

.hd {
    background: url(../../../img/android-guide-hd.png) 0 0 no-repeat;
    .background-size(640, 460);
    .height(460);

    /*&.thin {
        background-position: 0 -3.2rem !important;
        .background-size(640, 460);
        .height(332);
    }*/
}

.content {
    .padding(0, 40);
    .padding-top(300);
    &.thin {
        .padding-top(180)
    }
    .action-wrapper {
        color: #fff;
        .desc {
            .height(62);
            .line-height(62);
            text-align: center;
            .font-size(20);
        }
        .iphone,
        .web,
        .android {
            display: block;
            .width(560);
            .height(68);
            .line-height(68);
            .border-radius(4);
            .margin-bottom(26);
            .font-size(30);
            color: #fff;
            text-align: center;
            background-color: #c6b0fe;
        }
        .android {
            background-color: #674bac;
        }
    }
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}