<div class="live-speech" id="J_LiveSpeech" draggable="true">
	<div class="inner">
		<div class="<% if (status == 'on') {%>live-on<%} else {%>live-off<%}%>">
			<audio id="J_LsSrc" src="" preload></audio>
			<div style="position:absolute;bottom:0">有直播</div>
		</div>
	</div>
</div>