@import '../../variable.less';
.float-msg-wrapper{
    position: fixed;
    z-index: 200;
    .right(30);
    .bottom(158);
    .float-msg{
        display: inline-block;
        .width(88);
        .height(88);
        .top(0);
        .right(0);
        .border-radius(50%);
        background: blue !important;
        box-shadow: 0 0 7px #8F8F8F;
    }
    .float-msg-new{
        display: none;
        position: absolute;
        .width(10);
        .height(10);
        .top(6);
        .left(6);
        .border-radius(50%);
        .show{
            display: block;
        }
    }
}