@import '../../variable.less';
.float-msg-wrapper{
    position: fixed;
    z-index: 200;
    .right(30);
    .bottom(158);
    .float-msg{
        display: inline-block;
        .width(88);
        .height(88);
        .top(0);
        .right(0);
        .border-radius(50%);
        box-shadow: 0 0 7px #8F8F8F;
    }
    .float-msg-new{
        display: none;
        position: absolute;
        .width(10);
        .height(10);
        .top(6);
        .left(6);
        .border-radius(50%);
        .show{
            display: block;
        }
    }
}
.float-msg-detail{
    position: fixed;
    z-index: 201;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    .hd{
        .height(88);
        .line-height(88);
        background: transparent;
        .font-size(38);
        text-align: center;
        position: relative;
        .go-back{
            position: absolute;
            .width(44);
            .height(44);
            .top(22);
            .left(30);
        }
    }
    .bd{
        .padding(50, 30);
        .font-size(28);
        .line-height(46);
        overflow-x: hidden;
        overflow-x: scroll;
    }
}