/**
 * ui 管理整个程序所用的的颜色
 */

// dialog
@dialogBgColor: #fff;
@dialogBdColor: #ccc;
@dialogShadowColor: #ccc;
@dialogBtnBdColor: #ccc;
@dialogComBtnBgColor: blue;
@dialogCelBtnBgColor: #ccc;

@popupBgColor: #ccc;

// 全局趋向颜色
@setUiColor: #548DEB;

// ui sm-bd
@smColor: red;
@smBdColor: red;
@smBgColor: #fff;

// ui progress
@progressBgColor: #548DEB;
@progressLineColor: #D6E9FF;

//sm-bd-ipt
@smBdIptColor: red;
@smBdIptBdColor: red;
@smBdIptBgColor: #ccc;
//sm-bd-ipt disabled
@smBdIptDisColor: #ccc;
@smBdIptDisBdColor: #ccc;
@smBdIptDisBgColor: #ccc;

//.ui.sm-bd-rdo
@smBdRdoColor: red;
@smBdRdoBdColor: red;
@smBdRdoBgColor: #ccc;
@smBdRdoCheckColor: green;
@smBdRdoCheckBdColor: green;
@smBdRdoCheckBgColor: #ccc;

//slider-contro-trunk
@sliderControTrunkBgColor: #8DC7F6;
@sliderControTrunkActiveColor: #2196F3;

// tab page header
@headerColor: #252525;
@headerBgColor: #f1f1f1;

// nav 
@navColor: #676767;
@navBgColor: #F1F1F1;
@navBdColor: #E7E7E7;
@activeColor: #3583DE;

//tab-nav
@tab-navColor: #9EA4A7;
@tab-navBgColor: #F7F7F8;

@contentColor: #626262;
@contentL1Color: #575D62;
@contentL2Color: #979797;
@contentUpColor: #F7756A;
@contentDownColor: #77D28B;
@contentItemBtColor: #EBEBEB;

// button
@buttonDefaultBgColor: #ccc;
@buttonEditBgColor: #2196F3;
@buttonSubEditBgColor: #9B9B9B;
@buttonUpBgColor: #D0021B;
@buttonDownBgColor: #40997D;
@buttonUnactiveBgColor: #494258;
@buttonDisBgColor: #494258;
@buttonDelBgColor: pink;
@buttonEditOrderBgColor: #9B9B9B;
@buttonCloseOrderBgColor: #2196F3;

//footer
@footerNameColor: #62676C;
@footerActiveColor: #fff;
@import '../variable.less';

html, body{
	color: @contentColor;
}

.ui.icon{
	background: red;
}

.popup{
	// background: @popupBgColor;
}

.ui.common.header-inner{
	color: @headerColor;
	background: @headerBgColor;
}

.ui.common.content-color{
	color: @contentColor;
	a{
		color: @contentColor;
	}
	.l1-color{
		color: @contentL1Color;
	}
	.l2-color{
		color: @contentL2Color;
	}
	.default-up,
	.default-up a{
		color: @contentUpColor;
	}
	.default-down,
	.default-down a{
		color: @contentDownColor;
	}
	.up,
	.up a{
		color: @contentUpColor;
	}
	.down,
	.down a{
		color: @contentDownColor;
	}
	.bd-color{
		border-color: @contentItemBtColor;
	}
	.ui.common.circle-list{
		.cmd{color: @contentColor;}
		&.up{
			.border(2, solid, @contentUpColor);
		}
		&.down{
			.border(2, solid, @contentDownColor);
		}
		&.active.up{
			color: #fff;
			background-color: @contentUpColor;
			.cmd{color: #fff;}
		}
		&.active.down{
			color: #fff;
			background-color: @contentDownColor;
			.cmd{color: #fff;}
		}
	}
}



/*
 * nav,tab-nav相关
 */
.ui.common.nav{
	background: @navBgColor;
	border-color: @navBdColor;
	.color{
		color: @navColor;
	}
	.active:before{
		color: @activeColor;
		background: @activeColor;
	};
}

.ui.common.tab-nav{
	background: @tab-navBgColor;
	.color{
		color: @tab-navColor;
	}
}

.ui.common.bottom-nav{
	background: #222C34;
	.icon{
		background: #4A4A4A;
	}
	.name{
		color: @footerNameColor;
	}
	.active{
		.icon{
			background: #fff;
		}
		.name{
			color: @footerActiveColor;
		}	
	}
}


// 小标题（主要跟单）
.ui.tl-color{
	color: red;
}

// 小的边关
.ui.sm-bd{
	color: @smColor;
	background-color: @smBgColor;
	border-color: @smBdColor !important;
}
/*
 * 跟单中的ui（主要）
 */
.ui.sm-bd-ipt{
	color: @smBdIptColor;
	background-color: @smBdIptBgColor;
	border-color: @smBdIptBdColor !important;
	&:disabled{
		color: @smBdIptDisColor;
		background-color: @smBdIptDisBdColor;
		border-color: @smBdIptDisBgColor !important;
	}
}

.ui.radio-w{
	background-color: @sliderControTrunkBgColor;
	&:before{
		background-color: @sliderControTrunkActiveColor;
	}
}
.ui.radio-ipt{
	&:after{
		background-color: @sliderControTrunkBgColor;
	}
	&:before{
		background-color: @sliderControTrunkActiveColor;
	}
}

.ui.sm-bd-rdo{
	&:before{
		color: @smBdRdoColor;
		border: 1px solid @smBdRdoBdColor;
		background: @smBdRdoBgColor;
	}
	&:checked:before{
		color: @smBdRdoCheckColor;
		border: 1px solid @smBdRdoCheckBdColor;
		background: @smBdRdoCheckBgColor;
	}
}

// other
.ui.set-ui{
	color: @setUiColor;
}

.ui.common.progress {
	background-color: @progressLineColor;
	.circle{
		background-color: @progressBgColor;
	}
}

.ui.line-w.common{
	.height(20);
	background: #f1f1f1;
}

.ui.ro-setUi.common{
	&.active .radio-inner{
        background-color: @setUiColor;
    }
    .radio{
    	border-color: @setUiColor !important;
    }
}

/*
 * 按钮相关
 */
/*
 * 其他一些按钮， 背景颜色用的是全局的
*/

.ui.common.btn-setUi{
	background-color: @setUiColor;
}


// 下单相关
.ui.btn-default{
	background-color: @buttonDefaultBgColor;
}
.ui.btn-up{
	background-color: @buttonUpBgColor;
}
.ui.btn-down{
	background-color: @buttonDownBgColor;
}
.ui.btn-edit{
	background-color: @buttonEditBgColor;
}
.ui.btn-subEdit{
	background-color: @buttonSubEditBgColor;
}
.ui.btn-un{
	background-color: @buttonUnactiveBgColor;
}

.ui.btn-dis{
	background-color: @buttonDisBgColor;
}

.ui.btn-del{
	background-color: @buttonDelBgColor;
}

.ui.btn-order-edit{
	background-color: @buttonEditOrderBgColor;
}

.ui.btn-order-close{
	background-color: @buttonCloseOrderBgColor;
}

// 跟单相关

.ui.btn-attention,
.ui.btn-cancelAttention,
.ui.btn-reviseSetting {
	color: #fff;
    background:#7686ba;
    border-color: #5b6aa1;
}
.ui.btn-follow,
.ui.btn-following,
.ui.btn-pauseing,
.ui.btn-keepFollow,
.ui.btn-pauseFollow {
    background: #FF8E32;
    border-color: #f06f05;
}
.ui.btn-moreSet,
.ui.btn-ReFollow,
.ui.btn-cancelFollow {
    background: #6E8DCD;
}

.ui.btn-followSettingSubmit{
	background-color: red;
}

.ui.btn-start{
	background-color: red;
}

.ui.btn-follow-recharge{

}

.ui.common.btn-extract{
	background-color: @buttonDefaultBgColor;
}

.ui.common.btn-recharge{
	background-color: @setUiColor;
}

/*
 * dialog ui
*/
.dialog{
	.dialog-btn,
	a.dialog-btn{
		color: @setUiColor;
		&.close,
		&.J_DialogClose{
			color: @contentColor;
		}
	}
}
.pro-popup{
	.dialog-btn,
	a.dialog-btn{
		color: @contentColor;
		&.share{
			color: @setUiColor;
		}
	}
}