/**
 * ui 管理整个程序所用的的颜色
 */
@fontColor: #575D62;
@fontL1Color:#575D62;
@fontL2Color: #979797;
@appColor: #548DEB;
@redColor: #F7756A;
@greenColor: #71d286;
@borderColor: #EBEBEB;
@disColor: #C8C8C9;
@editColor: #F7CB38; // 修改按钮的颜色
@defaultColor: #65696E; // 次要按钮的颜色



// dialog
@dialogBgColor: #fff;
@dialogBdColor: #ccc;
@dialogShadowColor: #ccc;
@dialogBtnBdColor: #ccc;
@dialogComBtnBgColor: @appColor;
@dialogCelBtnBgColor: #ccc;

@popupColor: #626262;
@popupBgColor: #ccc;

// 全局趋向颜色
@setUiColor: @appColor;

// ui sm-bd
@smColor: @appColor;
@smBdColor: @appColor;
@smBgColor: #fff;

// ui progress
@progressBgColor: @appColor;
@progressLineColor: @appColor;

//sm-bd-ipt
@smBdIptColor: @fontColor;
@smBdIptBdColor: #eae6e6;
@smBdIptBgColor: #eae6e6;
//sm-bd-ipt disabled
@smBdIptDisColor: @fontColor;
@smBdIptDisBdColor: @disColor;
@smBdIptDisBgColor: @disColor;

//.ui.sm-bd-rdo
@smBdRdoColor: #fff;
@smBdRdoBdColor: #eae6e6;
@smBdRdoBgColor: #eae6e6;
@smBdRdoCheckColor: #fff;
@smBdRdoCheckBdColor: @appColor;
@smBdRdoCheckBgColor: @appColor;

//slider-contro-trunk
@sliderControTrunkBgColor: #eae6e6;
@sliderControTrunkActiveColor: @appColor;

// tab page header
@headerColor: #252525;
@headerBgColor: #fff;//#F2F2F2;

// nav 
@navColor: #676767;
@navBgColor: #fff;//#F2F2F2;
@navBdColor: #fff;
@activeColor: #3583DE;

//tab-nav
@tab-navColor: #9EA4A7;
@tab-navBgColor: #F7F7F8;

@contentColor: @fontColor;
@contentL1Color: @fontL1Color;
@contentL2Color: @fontL2Color;
@contentUpColor: @redColor;
@contentDownColor: @greenColor;
@contentItemBtColor: @borderColor;

// button
// 下单
@buttonUpBgColor: @redColor;
@buttonDownBgColor: @greenColor;
@buttonUnactiveBgColor: @disColor;

// 修改订单
@buttonEditBgColor: @appColor;
@buttonSubEditBgColor: @defaultColor;

// 次要按钮
@buttonDefaultBgColor: @defaultColor;

@buttonDisBgColor: @disColor;
@buttonDelBgColor: @defaultColor;

// 当前订单详情
@buttonEditOrderBgColor: @editColor;
@buttonCloseOrderBgColor: @appColor;

//footer
@footerNameColor: #62676C;
@footerActiveColor: #fff;
@import '../variable.less';

html, body{
	color: @contentColor;
}

.ui.icon{
	background: #eae6e6;
}

.popup{
	// background: @popupBgColor;
	color: @popupColor;
	a{
		color: @popupColor;
	}
}

.ui.common.header-inner{
	color: @headerColor;
	background: @headerBgColor;
}

.ui.common.content-color{
	color: @contentColor;
	a{
		color: @contentColor;
	}
	.l1-color{
		color: @contentL1Color;
	}
	.l2-color{
		color: @contentL2Color;
	}
	.default-up,
	.default-up a{
		color: @contentUpColor;
	}
	.default-down,
	.default-down a{
		color: @contentDownColor;
	}
	.up,
	.up a{
		color: @contentUpColor;
	}
	.down,
	.down a{
		color: @contentDownColor;
	}
	.bd-color{
		border-color: @contentItemBtColor;
	}
	.ui.common.circle-list{
		.cmd{color: @contentColor;}
		&.up{
			.border(2, solid, @contentUpColor);
		}
		&.down{
			.border(2, solid, @contentDownColor);
		}
		&.active.up{
			color: #fff;
			background-color: @contentUpColor;
			.cmd{color: #fff;}
		}
		&.active.down{
			color: #fff;
			background-color: @contentDownColor;
			.cmd{color: #fff;}
		}
	}
}



/*
 * nav,tab-nav相关
 */
.ui.common.nav{
	background: @navBgColor;
	border-color: @navBdColor;
	.color{
		color: @navColor;
	}
	.active:before{
		color: @activeColor;
		background: @activeColor;
	};
}

.ui.common.tab-nav{
	background: @tab-navBgColor;
	.color{
		color: @tab-navColor;
	}
}

.ui.common.bottom-nav{
	background: #222C34;
	.icon{
		background: #4A4A4A;
	}
	.name{
		color: @footerNameColor;
	}
	.active{
		.icon{
			background: #fff;
		}
		.name{
			color: @footerActiveColor;
		}	
	}
}


// 小标题（主要跟单）
.ui.tl-color{
	color: #575D62;
}

// 小的边关
.ui.sm-bd{
	color: @smColor;
	background-color: @smBgColor;
	border-color: @smBdColor !important;
}
/*
 * 跟单中的ui（主要）
 */
.ui.sm-bd-ipt{
	color: @smBdIptColor;
	background-color: @smBdIptBgColor;
	border-color: @smBdIptBdColor !important;
	&:disabled{
		color: @smBdIptDisColor;
		background-color: @smBdIptDisBdColor;
		border-color: @smBdIptDisBgColor !important;
	}
}

.ui.radio-w{
	background-color: @sliderControTrunkBgColor;
	&:before{
		background-color: @sliderControTrunkActiveColor;
	}
}
.ui.radio-ipt{
	&:after{
		background-color: @sliderControTrunkBgColor;
	}
	&:before{
		background-color: @sliderControTrunkActiveColor;
	}
}

.ui.sm-bd-rdo{
	&:before{
		color: @smBdRdoColor;
		border: 1px solid @smBdRdoBdColor;
		background: @smBdRdoBgColor;
	}
	&:checked:before{
		color: @smBdRdoCheckColor;
		border: 1px solid @smBdRdoCheckBdColor;
		background: @smBdRdoCheckBgColor;
	}
}

// other
.ui.set-ui{
	color: @setUiColor;
}

.ui.common.progress {
	background-color: @progressLineColor;
	.circle{
		background-color: @progressBgColor;
	}
}

.ui.pointer.common,
.ui.selected-bar.common{
	background: @setUiColor !important;
}

.ui.line-w.common{
	.height(20);
	background: #f1f1f1;
}

.ui.ro-setUi.common{
	&.active .radio-inner{
        background-color: @setUiColor;
    }
    .radio{
    	border-color: @setUiColor !important;
    }
}

/*
 * 按钮相关
 */
/*
 * 其他一些按钮， 背景颜色用的是全局的
*/

.ui.common.btn-setUi{
	background-color: @setUiColor;
}

// 下单相关
.ui.btn-default{
	background-color: @buttonDefaultBgColor;
}
.ui.btn-up{
	background-color: @buttonUpBgColor;
}
.ui.btn-down{
	background-color: @buttonDownBgColor;
}
.ui.btn-edit{
	background-color: @buttonEditBgColor;
}
.ui.btn-subEdit{
	background-color: @buttonSubEditBgColor;
}
.ui.action.unactive{
	background-color: @buttonUnactiveBgColor;
}

.ui.btn-dis{
	background-color: @buttonDisBgColor;
}

.ui.btn-del{
	background-color: @buttonDelBgColor;
}

.ui.btn-order-edit{
	background-color: @buttonEditOrderBgColor;
}

.ui.btn-order-close{
	background-color: @buttonCloseOrderBgColor;
}

// 跟单相关

.ui.btn-attention,
.ui.btn-cancelAttention,
.ui.btn-reviseSetting {
	color: #fff;
    background: @buttonEditOrderBgColor;
    border-color: @buttonEditOrderBgColor;
}
.ui.btn-follow,
.ui.btn-following,
.ui.btn-pauseing,
.ui.btn-keepFollow,
.ui.btn-pauseFollow {
    background: @setUiColor;
    border-color: @setUiColor;
}
.ui.btn-moreSet,
.ui.btn-ReFollow,
.ui.btn-cancelFollow {
    background: @buttonDefaultBgColor;
}

.ui.btn-followSettingSubmit{
	color: #fff;
	background-color: @setUiColor;
}

.ui.btn-start{
	color: #fff;
	background-color: @setUiColor;
}

.ui.btn-follow-recharge{
	color: #fff;
	background-color: @setUiColor;
}

.ui.common.btn-extract{
	background-color: @buttonDefaultBgColor;
}

.ui.common.btn-recharge{
	background-color: @setUiColor;
}

/*
 * dialog ui
*/
.dialog{
	.dialog-btn,
	a.dialog-btn{
		color: @setUiColor;
		&.close,
		&.J_DialogClose{
			color: @contentColor;
		}
	}
}
.pro-popup{
	.dialog-btn,
	a.dialog-btn{
		color: @contentColor;
		&.share{
			color: @setUiColor;
		}
	}
}