/**
 * ui 管理整个程序所用的的颜色
 */

// dialog
@dialogBgColor: #fff;
@dialogBdColor: #ccc;
@dialogShadowColor: #ccc;
@dialogBtnBdColor: #ccc;
@dialogComBtnBgColor: blue;
@dialogCelBtnBgColor: #ccc;

@popupBgColor: #ccc;

// tab page header
@headerColor: #383838;
@headerBgColor: #f1f1f1;

// nav 
@navBgColor: #F1F1F1;

@import '../variable.less';

html, body{
	color: #666;
}

.popup{
	// background: @popupBgColor;
}

.ui.header-inner{
	color: @headerColor;
	background: @headerBgColor;
}

.ui.nav{
	background: @navBgColor;
}

.app.icon{
	background: red;
}