@import '../../../variable.less';
@import '../../../base.less';
.com-header();
header {
  .height(88);
  .line-height(88);
  .font-size(36);
  text-align: center;
  background: rgb(140,30,10);
  color: #fff;
  display:none;
  .header-inner {
    display: block;
    background: rgb(140,30,10);
    .option {
      position: absolute;
      .right(22);
      .top(24);
      .font-size(24);
      .width(108);
      .line-height(38);
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
    }
  }
}

html,
body {
  background: #b60005;
}

.icon {
  background: url(../../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

nav {
  /*position: fixed;*/
  /*.top(88);*/
  ul {
    position: relative;
    z-index: 1;
    width: 100%;
    .height(78);
    border-top: 1px solid #f7ee13;
    color: #ea5413;
    background: rgba(0, 0, 0, .5);
  }
  li {
    position: relative;
    float: left;
    .width(212);
    a {
      display: block;
      .height(77);
      .line-height(77);
      .font-size(26);
      text-align: center;
      color: #ea5413;
      &:hover {
        color: #ea5413;
      }
      &:visited {
        color: #ea5413;
      }
    }
    &.active {
      &:before {
        position: absolute;
        top: 0;
        .left(61);
        .width(94);
        .height(4);
        font-size: 0;
        background: #f7ee13;
        content: '';
      }
      a {
        color: #fff;
      }
    }
  }
}

.top-banner {
  .margin-top(-78);
  position: relative;
  background: url(../../../../img/my-sort-month.png) 0 0 no-repeat;
  background-size: 100% auto;
  .height(540);
  .month {
    position: absolute;
    .top(200);
    .width(640);
    .height(103);
    background: url(../../../../img/my-sort-profit.png) 0 0 no-repeat;
    background-size: 100% auto;
  }
  .desc-wrapper {
    position: absolute;
    .top(304);
    .left(194);
    .line-height(24);
    .font-size(18);
    color: #000;
    p {
      .width(290);
      &:nth-child(1) {
        .margin-left(20);
      }
      a {
        float: right;
        color: #b60005;
        text-decoration: underline;
      }
    }
  }
  .info {
    .padding-top(492);
    .left,
    .right {
      .line-height(48);
      .height(48);
      .font-size(24);
      color: #f7ee13;
      float: left;
      .width(320);
      .total {
        .font-size(40);
      }
    }
    .left {
      .padding-left(50);
    }
    .right {
      .padding-right(50);
      text-align: right;
    }
  }
}

.list {
  .width(600);
  margin: 0 auto;
  background: #fff;
  .item {
    position: relative;
    .line-height(150);
    .height(150);
    color: #473b61;
    .font-size(30);
    .padding-left(164);
    border-bottom: 1px solid #c8c7cc;
    a {
      display: block;
      color: inherit;
      text-decoration: none;
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      background: url(../../../../img/my-sort-icon.png) 0 0 no-repeat;
      .background-size(141, 448);
    }
    &:nth-child(2) {
      .background-position(0, -150);
    }
    &:nth-child(3) {
      .background-position(0, -300);
    }
    .img-wrapper-outer {
      position: absolute;
      .top(22);
      .left(24);
      .width(107);
      .height(107);
      .border(5, solid, #fde1e0);
      .padding(5);
      background: #fa9b96;
      .border-radius(50%);
      overflow: hidden;
      /*.img(87, 87);*/
      .img-wrapper {
        background: #f55b54;
        .border-radius(50%);
        overflow: hidden;
        display: block;
        .width(87);
        .height(87);
        .img {
          .max-width(87);
          .min-height(87);
          display: block;
        }
      }
    }
    .nickname {
      float: left;
      .width(200);
      .line-hide();
    }
    .profit {
      float: right;
      .margin-right(25);
      .font-size(36);
      .width(180);
      .line-height(150);
      .height(150);
      .tag {
        .font-size(24);
        vertical-align: top;
      }
    }
  }
}

.loader {
  .height(60);
  .line-height(60);
  text-align: center;
  background-color: #fff;
  z-index: 4;
  .loader-inner {
    .margin-top(10);
    .loader-circle(40px, 40px, #999);
  }
  .desc {
    display: inline-block;
    .height(60);
    vertical-align: top;
  }
}

.popup-wrapper {
  position: absolute;
  width: 100%;
  display: none;
  .top(200);
  .dialog();
  .popup {
    .width(562);
    .height(703);
    .padding-top(4);
    margin: 0 auto;
    background: #fff;
    .border(18, solid, #bd160f);
    /*.border-radius(10);*/
    /*background: #fff url(../../../../img/my-guides-popup.png) 0 0 no-repeat;*/
    /*background-size: 100% auto;*/
    z-index: 1002;
    position: relative;
    .title {
      .line-height(92);
      .font-size(36);
      color: #b80506;
      text-align: center;
    }
    .bd {
      .line-height(36);
      color: #333333;
      .font-size(24);
      .padding(0, 32);
    }
    .ft {
      position: absolute;
      .bottom(32);
      .width(498);
      .left(14);
      a {
        .border-radius(6);
        display: block;
        .width(480);
        .line-height(60);
        margin: 0 auto;
        .font-size(30);
        color: #fff;
        text-align: center;
        background: -webkit-gradient(linear, 0 0, 100% 100%, from(#ffc140), to(#e68326));
        background: -webkit-linear-gradient(top, #ffc140, #e68326);
        background: -o-linear-gradient(top, #ffc140, #e68326);
      }
    }
  }
}