<div class="dialog J_Dialog charge-dialog" id="J_Dialog">
   <h2>确认支付</h2>
	<div class="progress" id="J_Progress">
   	    <div class="progress-inner"></div>
   </div>
   <div class="dialog-content J_Content">
   	   
       <ul>
       	    <li class="first">金额（美元）<span class="num"><%= data.amount %></span></li>
       	    <li class="second">折合人民币（元）<span class="num"><%=data.paid_amount%></span></li>
       	    <li class="third">
       	    	<span class="logo charge-logo "></span>
       	    	<p>第三方独立支付平台</p>
       	    </li>
       </ul>
   </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogClose" id="J_DialogSetupCancel">取消</span>
       <span class="dialog-btn J_DialogConfirm">确认</span>
   </div>
</div>
<div class="dialog-mask J_DialogMask"></div>