<div class=" dialog-logout-serviceCode" id="J_Dialog">
   <!--<span class="wrapper-icon"><span class="icon"></span></span>-->
   <div class="dialog-content J_Content">
          <p class="title">客服微信号</p>
      </div>
      <div class="dialog-content J_Content">
      		<img id="serQrCode" src="">
      </div>
   <div class="dialog-buttons clearfix">
       <span class="dialog-btn J_DialogConfirm">取消</span>
   </div>
   <img id="serQrCode_mask" src="">
</div>
<div class="dialog-mask J_DialogMask serviceQRLogout-mask"></div>