@import '../../variable.less';
.highcharts-tooltip {
  background: #f1375e;
  p {
    .font-size(18);
    .line-height(26);
    color: #ebebeb;
  }
}

.highcharts-axis {
  path {
    stroke: transparent;
  }
}

.highcharts-series-group {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
