<div class="weixin-bottom-banner">
	<% if(data.page === 'category') {%>
	<p>近期累计盈利超过10000美元的交易品种</p>
    <% } else if (data.page === 'detail') {%>
    <p>近期操作该品种累计盈利突出的英豪用户</p>
    <% } else if (data.page === 'friends') {%>
    <p><span id="J_FilterName">今日</span>有 <span class="J_BottomNum bottom-num">0</span>位朋友为您带来 $<span class="J_BottomMoney bottom-money">0</span> 奖金</p>
    <% } else { %>
	<p>你的朋友赚钱，你排名就越靠前！<a href="../share.html">邀请好友</a></p>
	<% } %>
</div>
