@import '../../variable.less';
@import '../../base.less';
.icon-weixin();
.com-header();
.icon {
    background: url(../../../img/bg-icon.png) 0 0 no-repeat;
    .background-size(400, 1500);
}

header {
    display: block;
    .header-inner {
        display: block;
    }
}

.content {
    .padding-bottom(44);
    // .border-bottom(2, solid, #e5e5e8);
    // background: #efeff4;
    background: #fff;
    .aMent_cont{
    	.height(80);
    	background: #FFFFFF;
    	// .line-height(80);
    	.padding(20);
    	.font-size(24);
    	color: #807691;
    	.border-bottom(1,solid,#C7C7CC);
    	li{display: inline-block;padding: 0.2rem;}
    	.anMent_date{float: right;}
    }
}

.content_details{
    .aMentDialod{
        position: relative;
        .height(950);
        .anMent_title{
            .font-size(26);
            font-weight: 800;
            .padding(20);
            text-align: center;
        }
        .anMent_alone{
            .font-size(22);
            text-indent: 1.2rem;
            .padding-left(30);
            .padding-right(30);
            .line-height(40);
        }
        .anMent_date{
            position: absolute;
            .bottom(0);
            .right(60);
            span{display: block;text-align: center;}
        }
    }
}