@import '../../../variable.less';
#J_TradeCount .trade-count-inner{
	.data-bd{
		div{
			.padding(8, 0);
			.item{
				width: 33%;
				display: inline-block;
				.padding-left(30);
			}
			.left{
				float: left;
			}
			.right{
				float: right;
			}
			.desc{
				width: 100%;
			}
		}
	}
	.trade-count-charts-wrapper{
		.padding-bottom(100);
		.trade-count-charts-inner{
			position: relative;
			.padding(10, 30);
			.trade-count-chart{
				.height(260);
				margin-bottom: 1px;
			}
		}
	}
}