@import '../../variable.less';
html {
  background: #fff;
}

.icon {
  background: url(../../../img/bg-icon.png) 0 0 no-repeat;
  .background-size(400, 1500);
}

h1,
h2,
h3 {
  font-weight: normal;
}

body {
  .padding-bottom(100);
}

header {
  .width(640);
  overflow: hidden;
  .header-inner {
    position: relative;
    .height(88);
    .line-height(88);
    .font-size(36);
    text-align: center;
    background: #967bdc;
    color: #fff;
    .go-back {
      position: absolute;
      .left(18);
      .top(22);
      .width(49);
      .height(44);
      .icon {
        display: block;
        .width(23);
        .height(40);
        .background-position(0, -435);
      }
    }
  }
}

.phone-wrapper {
  text-align: center;
  .padding-bottom(15);
  p {
    .font-size(18);
    color: #807691;
    text-align: left;
    .padding-left(38);
    .line-height(38);
  }
  a {
    color: #967adc;
    .font-size(50);
    .line-height(100);
    font-weight: bold;
  }
}

.content {
  .loader {
    .height(3000);
    .line-height(60);
    text-align: center;
    background-color: #fff;
    z-index: 4;
    .loader-inner {
      .margin-top(10);
      .loader-circle(40px, 40px, #999);
    }
    .desc {
      .font-size(24);
      display: inline-block;
      .height(60);
      vertical-align: top;
    }
  }
  ul {
    .item {
      position: relative;
      overflow: hidden;
      /*.height(72);*/
      .line-height(71);
      .padding-left(40);
      //.padding-right(40);
      border-bottom: 1px solid #bcb3ca;
      .font-size(24);
      color: #807691;
      &.phone-wrapper {
        .padding-top(12);
        .line-height(32);
        .height(88);
        .padding-left(40);
        background-color: #f4f1fb;
        span {
          float: right;
          .width(480);
          &.warn {
            float: left;
            .width(80);
          }
          &.warn-content {
            float: left;
          }
        }
        input {
          .margin-top(12);
          .padding-left(10);
          .height(54);
          outline: 0;
          border: 1px solid #ccc;
          color: #807691;
        }
      }
      &.error {
        input {
          border-color: #f9584a;
        }
        .err {
          .padding-left(160);
          color: #f9584a;
          .line-height(56);
        }
      }
      &.last {
        .err {
          padding: 0;
        }
      }
      /* .num {
                float: left;
                .width(174);
            }
            .discount {
                float: left;
                .width(88);
            }*/
      /*.wrapper {
                float: right;
                .width(400);*/
      input,
      select {
        .margin-top(9);
        .margin-left(40);
        .height(54);
        .width(390);
        .font-size(20);
        .border-radius(4);
        color: #807691;
        outline: 0;
        border: 1px solid #ccc;
        color: #807691;
      }
      &.last {
        .num-wrapper {
          float: left;
          .width(280);
          .padding-right(10);
          input {
            margin-left: 0;
            float: right;
            .width(120);
            .padding-left(10);
          }
          &.error {
            input {
              border-color: #f9584a;
            }
            .err {
              color: #f9584a;
              .line-height(56);
              text-align: right;
            }
          }
        }
      }
      &.upload {
        .height(432);
        ul {
          .padding(34, 0);
        }
        .upload-item {
          position: relative;
          margin: 0 auto;
          .padding-top(38);
          .width(262);
          .height(162);
          border: 1px dashed #807691;
          text-align: center;
          &.error {
            border-color: #f9584a;
          }
          &:first-child {
            .margin-bottom(30);
          }
          p {
            .font-size(22);
            color: #e0e0e0;
          }
          .err {
            .line-height(44);
            color: #f9584a;
          }
          input,
          .preview {
            position: absolute;
            z-index: 1;
            .top(-10);
            .left(-40);
            height: 100%;
            width: 100%;
            opacity: 0;
          }
          .preview {
            top: 0;
            left: 0;
            opacity: 1;
          }
          .img {
            width: 100%;
            height: 100%;
          }
          input {
            z-index: 2;
          }
          .icon {
            display: block;
            margin: 0 auto;
            .width(54);
            .height(43);
            .background-position(0, -1127);
          }
        }
        .tips {
          color: #f9584a;
          .font-size(18);
          .line-height(34);
          text-align: center;
        }
      }
      &.bank {
        .height(508);
        .desc-item {
          .font-size(20);
          text-align: center;
          color: #807691;
        }
      }
    }
    .available{
      .J_CardSelect{
        .margin-left(16);
      }
    }

  }
  .desc {
    .font-size(18);
    .line-height(34);
    .padding(36, 40, 38);
    color: #807691;
    text-align: justify;
  }
}

input::-webkit-input-placeholder {
  color: #dfdce2;
}

.dialog-new();
body {
  .dialog-new-style {
    .dialog-inner {
      .dialog-buttons {
        .dialog-btn {
          float: none;
          width: auto;
          display: block;
        }
      }
    }
  }
}

footer {
  text-align: center;
  /*   .padding-top(60);*/
  .padding-bottom(20);
  .buy {
    .btn();
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}