<div class="dialog J_Dialog dialog-autumn <% if (data.done) {%> no-more <%}%> <% if (data.activity) {%> activity <%}%> " id="J_DialogAutumn">
   <span class="J_Close close J_DialogClose"></span>
   <div class="dialog-content J_Content <% if (data.luck){%> liuliang <% } %>">
     <% if (data.done) {%>
       <p class="title">今天已参与过活动，明天再继续吧</p>
       <p class="title">可以将活动分享给好朋友或继续抽奖</p>
      <% } else if (data.luck) { %>
        <p class="title">投资英豪将为<%= data.phone %></p>
        <p class="title"> 充<%= data.name %>！分享活动让朋友也来领流量吧，明天还有机会呦~</p>
      <% } else if (data.money) { %>
        <p class="title">您的投资英豪账户获得<%= data.name %>。 </p>
        <p class="title">把活动分享给朋友，明天还有机会的！</p>
      <% } else if(data.activity) { %>
        <div class="content-wrapper">
            <div class="time">
                 <h3>活动时间： </h3>
                 <p>2015年9月25日-2015年9月28日</p>
            </div>
            <div class="join">
                <h3>参与方式：</h3>
                <p>1、输入手机号并填写正确验证码</p>
                <p>2、点击“试试手气，抽流量”按钮</p>
                <p>3、若抽中流量奖励，则根据您的手机号网络类型，赠送对应流量：</p>
                <ul>
                      <li>移动手机流量30MB</li>
                      <li>联通手机流量20MB</li>
                      <li>电信手机流量30MB</li>
                </ul>
            </div>
            <div class="desc">
                  <h3>活动说明：</h3>
                  <p>1、抽中流量奖励，会根据用户注册的手机号网格类型，对应的奖励，为移动手机流量30MB或联通手机流量20MB或电信手机流量30MB。</p>
                  <p>2、抽中美元红包奖励，请登录投资英豪查询。帐号为领奖手机号，密码以短信形式发送。</p>
                  <p>3、当用户成功参与活动后， 在24小时内会收到充值流量的短信提示，请注意查收，如因用户的手机自身问题（如手机号为黑名单，手机号欠费及停机状态等）出现流量不能成功充值的情况，由用户自行负责，相同手机号每天限参与一次“抽流量”活动。</p>
            </div>
            <p>本活动最终解释权归北京掌迭英豪科技有限公司所有</p>
        </div>

      <% } %>
   </div>
   <% if (!data.activity) {%>
   <div class="dialog-buttons clearfix">
      <% if (data.money) {%> 
       <a class="dialog-btn " href="../lottery.html" id="J_DialogSetupCancel">领取红包</a>
      <% } else {%>
       <a class="dialog-btn " href="<%= getLotteryUrl() %>" id="J_DialogSetupCancel">继续抽奖</a>
      <% } %>
       <span class="dialog-btn J_DialogConfirm">分享活动</span>
   </div>
   <% } %>
</div>
<div class="dialog-mask J_DialogMask"></div>