@import '../../../variable.less';
@import '../../../base.less';
.icon-weixin();
.com-header();
html,
body {
    background-color: #180e45;
}

.dialog-ios8();
.content {
    .padding-top(535);
    background: #180e45 url('../../../../img/mid-autumn-bg.jpg') 0 0 no-repeat;
    .background-size(640,
    1027);
    .min-height(1027);
    .action-wrapper {
        //.margin-top(16);
        .padding(0,
        90);
        input {
            .height(60);
            .width(460);
            .border-radius(6);
            text-align: center;
            outline: 0;
        }
        .tel {
            .border(2,
            solid,
            #fff);
            background: transparent;
            .font-size(24);
            color: #dcd3f6;
            text-align: left;
            .padding-left(16);
            &::-webkit-input-placeholder {
                color: #dcd2f7;
            }
        }
        .wrapper {
            .padding-top(8);
            input {
                background-color: transparent;
                .width(300);
                .border(2,
                solid,
                #fff);
                .font-size(24);
                color: #dcd3f6;
                text-align: left;
                .padding-left(16);
                &::-webkit-input-placeholder {
                    color: #dcd2f7;
                }
            }
            .get-code {
                float: right;
                .width(150);
                .line-height(60);
                .padding-left(0);
                border: none;
                background: #544578;
                text-align: center;
                color: #fff;
                .border-radius(6);
            }
        }
        .register {
            .margin-top(8);
            .line-height(60);
            border: none;
            background: #7c7194;
            color: #fff;
        }
    }
    .link {
        .margin-top(10);
        .line-height(38);
        .font-size(18);
        .margin-left(480);
        display: block;
        .width(90);
        text-decoration: underline;
        color: #fff;
    }
    .qrcode-wrapper {
        .margin-top(-30);
        // .padding-top(17);
        .padding-left(96);
        .desc-wrapper {
            .padding-top(102);
            .margin-left(162);
            .line-height(28);
            .font-size(18);
            color: #fff;
        }
    }
    .img-wrapper {
        float: left;
        .width(154);
        .height(157);
        .border(6,
        solid,
        #3d2075);
        .border-radius(6);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .slide {
        .margin-top(40);
        .width(640);
        overflow: hidden;
        position: relative;
        /*.item-wrapper-outer {
            position: relative;
            overflow: hidden;
            .height(160);
        }
        ul {
            position: absolute;
            top: 0;
            left: 0;
            .height(160);
        }*/

        .km-slider-outer {
            position: relative;
            .height(72);
            width: 100%;
            overflow: hidden;
        }
        
        ul {
            position: absolute;
            left: 0;
            .height(72);
        }
        li {
            float: left;
            .line-height(72);
            .width(640);
            .font-size(24);
            text-decoration: underline;
            color: #7366bd;
            background-color: #170d3a;
            text-align: center;
        }
    }
}

.dialog-autumn {
    position: absolute;
    top: 20%;
    z-index: 1000;
    .padding(124,
    40);
    .width(640);
    .height(610);
    color: #3d4245;
    visibility: visible;
    background: url('../../../../img/autumn-alert.png') 0 0 no-repeat;
    .background-size(640,
    610);
    &.no-more {
        background: url('../../../../img/autumn-alert-1.png') 0 0 no-repeat;
        .background-size(640,
        610);
    }
    &.activity {
        background: url('../../../../img/autumn-alert-2.png') 0 0 no-repeat;
        .background-size(640,
        1027);
        .top(0);
        .height(1027);
        .padding-top(44);
        .close {
            .top(40);
        }
        .content-wrapper {
            .padding-left(48);
            .padding-right(56);
            text-align: left;
            overflow-y: scroll;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            .height(710);
        }
        p {
            .font-size(26);
            .line-height(46);
        }
        .time,
        .join,
        .desc {
            .margin-top(16);
            .h3 {
                .font-size(26);
                .line-height(46);
            }
            p {
                .font-size(22);
                .line-height(32);
            }
        }
        ul {
            .padding-left(200);
            .font-size(22);
            .line-height(32);
        }
    }
    .close {
        position: absolute;
        .top(104);
        .right(21);
        z-index: 1;
        .width(46);
        .height(46);
    }
    .dialog-title {
        .height(86);
        .line-height(86);
        text-align: center;
        .font-size(36);
        color: #fff;
        background: #967bdc;
    }
    .close-wrapper {
        position: absolute;
        .top(20);
        .right(12);
        .width(44);
        .height(44);
    }
    .dialog-close {
        position: absolute;
        /* .top(28);
        .right(20);*/
        .top(8);
        .left(8);
        .width(28);
        .height(28);
        .background-position(0,
        -583);
    }
    .message {
        color: red;
        .line-height(40);
        .height(40);
        text-align: center;
    }
    .dialog-content {
        position: relative;
        .padding-top(150);
        .line-height(44);
        .font-size(26);
        color: #fff;
        text-align: center;
        &.liuliang {
            .padding-left(68);
            .padding-right(76);
            text-align: left;
        }
    }
    .dialog-buttons {
        position: absolute;
        .padding-left(42);
        .bottom(122);
        .dialog-btn {
            float: left;
            .width(230);
            .height(68);
            .line-height(68);
            text-align: center;
            background: #967bdc;
            .font-size(30);
            color: #431891;
            /*            border-top: 1px solid #c6b8ed;*/
            background: url('../../../../img/alert-btn.png') 0 0 no-repeat;
            .background-size(474,
            68);
            /*.border-bottom(3px,
            solid,
            #7e64c5);
            .border-radius(4);
            margin-bottom: .25rem;*/
            &:nth-child(2) {
                .background-position(-245,
                0);
                .margin-left(12);
                color: #c26501;
            }
            /* &.active {
                border-color: #967bdc;
            }*/
            /* &.J_DialogClose {
                .margin-right(40);
                background: #7688ba;
                border-top-color: #b8bdda;
                border-bottom-color: #5b6aa1;
                &.active {
                    border-color: #7688ba;
                }
            }*/
        }
    }
}