<div class="km-slider-outer">
    <ul class="clearfix J_ItemWrapper" >
    	<% $.each(data, function(index, item ){ %>
        <li class="J_Item">恭喜用户<%= item.phone %> 获得<%= item.prize_name %></li>
      <% }); %>
     
    </ul>
</div>