@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
    .width(750);
    background: #F2F2F2;
    .header-inner{
      position: relative;
        .height(88);
        .line-height(88);
        .font-size(38);
        text-align: center;
        position: relative;
        .go-back{
          position: absolute;
          .width(44);
          .height(44);
          .top(22);
          .left(30);
        }
    }
  }

.content{
  .font-size(28);
  .padding(30, 30, 80, 30);
  p{
    .line-height(50);
    text-indent: 1.2rem;
  }
}

.loading{
    border: none;
    list-style: none;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    margin: 0 auto;
    .margin-top(200);
    text-align: center;
}