@import '../../../variable.less';

/*@import '../../../base.less';*/

.filter-wrapper {
  position: absolute;
  display: none;
  top: 0;
  .left(640);
  overflow: hidden;
  .padding-top(24);
  .width(345);
  background-color: #5a4984;
  background-size: 100% auto;
  h2 {
    .padding-left(30);
    color: #fff;
    .font-size(22);
    .line-height(50);
    border-top: 1px solid #6e5c9c;
    border-bottom: 1px solid #6e5c9c;
    background: #4f3e7a;
    .background-size(51, 1100);
  }
  .filters {
    position: relative;
  }
  .bg {
    position: absolute;
    .top(0);
    left: 0;
    .width(20);
    .height(54);
    display: none;
  }
  .quick-filter {
    ul {
      .padding-top(24);
      .padding-left(32);
    }
    li {
      float: left;
      .width(120);
      .height(52);
      .margin-right(42);
      .margin-bottom(32);
      .line-height(50);
      border: 1px solid #8a78b8;
      .border-radius(4);
      text-align: center;
      .font-size(26);
      color: #fff;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &.active {
        background: #7e66b9;
        border-color: #7e66b9;
        border-bottom-color: #3e325a;
      }
    }
  }
  .wrapper {
    .padding-top(10);
    .padding-left(32);
    p {
      .line-height(52);
      .font-size(22);
      color: #fff;
      &.desc {
        .line-height(56);
        color: #fff;
        .font-size(18);
      }
    }
    input {
      .width(222);
      .line-height(50);
      border: 1px solid #7868a0;
      .border-radius(4px);
      background: transparent;
      .font-size(26);
      color: #fff;
      .padding-left(36);
    }
    .err {
      color: red;
    }
  }
  .submit {
    .margin-left(32);
    .width(220);
    .height(60);
    .line-height(56);
    text-align: center;
    display: block;
    background: #967adc;
    .border-bottom(4, solid, #6b4db5);
    color: #fff;
    .font-size(28);
    .border-radius(8);
  }
}