@import '../../../variable.less';
@import '../../../base.less';
@base: 750/16;
body {
  .padding-bottom(120);
}


/*.com-header();*/

body {
  header {
    display: none;
    width: 16rem;
    overflow: hidden
  }
  header .header-inner {
    position: relative;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .9rem;
    text-align: center;
    background: #967bdc;
    color: #fff
  }
  header .header-inner .go-back {
    position: absolute;
    left: .45rem;
    top: .55rem;
    width: 1.225rem;
    height: 1.1rem
  }
  header .header-inner .go-back .icon {
    display: block;
    width: .575rem;
    height: 1rem;
    background-position: 0 -10.875rem
  }
  .go-back .icon {
    background-size: 10rem 37.5rem
  }
  header {
    display: block;
    width: 16rem;
    .filter {
      position: absolute;
      background: url(../../../../img/filter-icon.png) 0 0 no-repeat;
      /*.background-position(10, 10);*/
      background: 100% auto;
      .width(80);
      .height(80);
      .right(4);
      .top(0);
    }
  }
}

.empty {
  .line-height(60);
  .font-size(24);
  text-align: center;
}

.loader {
  .height(60);
  .line-height(60);
  text-align: center;
  background-color: #fff;
  z-index: 4;
  .loader-inner {
    .margin-top(10);
    .loader-circle(40px, 40px, #999);
  }
  .desc {
    display: inline-block;
    .height(60);
    vertical-align: top;
  }
}

header .header-inner {
  display: block;
}

.second-icon();
.list {
  h1 {
    background: #efeff4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .line-height(52);
    .height(54);
    .font-size(26);
    .padding-left(32);
    color: @fontSecondColor;
    /*.width(750);*/
  }
  ul {
    .padding-left(29);
    border-bottom: 1px solid #c8c7cc;
  }
  .item {
    .height(160);
    border-bottom: 1px solid #c8c7cc;
    &:last-child {
      border: none;
    }
  }
  .img-wrapper-outer {
    float: left;
    .width(128);
    .height(128);
    .margin-left(2);
    .margin-top(16);
    .padding(5);
    .border-radius(50%);
    .border(5, solid, #e9e4f7);
    overflow: hidden;
    background: #b8a7e5;
    .img(108, 108);
  }
  .info {
    .margin-top(33);
    float: left;
    .width(332);
    .padding-left(32);
    color: #473b61;
    text-align: left;
    h2 {
      .line-height(50);
      .height(50);
      .font-size(30);
      .line-hide();
      .desc {
        .font-size(24);
        .margin-left(20);
      }
    }
    p {
      .font-size(24);
      .line-height(44);
      .padding-left(46);
      position: relative;
      .type {
        .width(20);
        .height(20);
        .border-radius(50%);
        background: @downColor;
        position: absolute;
        .top(12);
        .left(2);
        &.up {
          background: @upColor;
        }
      }
    }
  }
  .count-wrapper {
    float: right;
    .font-size(48);
    .max-width(200);
    overflow: hidden;
    .margin-right(30);
    .margin-top(53);
    .height(56);
    .line-height(56);
    color: @fontSecondColor;
    .dollar {
      .font-size(24);
      vertical-align: top;
    }
  }
}

footer {
  background: rgba(69, 62, 79, .8);
  .height(120);
  /*.padding-top(18);*/
  .line-height(120);
  width: 16rem;
  position: fixed;
  bottom: 0;
  left: 0;
  .font-size(24);
  text-align: right;
  .padding-right(30);
  color: #fff;
  .total {
    .font-size(48);
    .dollar {
      .font-size(24);
      vertical-align: top;
      .margin-left(20);
      .margin-right(10);
    }
  }
}

body {
  overflow-x: hidden;
  width: 16rem;
  position: relative;
  background: inherit;
  &.unfold {
    overflow: hidden;
  }
}

.filter-wrapper {
  display: none;
  background: #5a4984 url(../../../../img/filter-bg.png) bottom center no-repeat;
  background-size: 100% auto;
  h2 {
    background: #4f3e7a url(../../../../img/filter-bg-shadow.png) 0 0 no-repeat;
  }
  .bg {
    background: transparent url(../../../../img/filter-bg.png) 0 0 no-repeat
  }
}


/*body {
  .footer {
    color: #eee;
    p {
      .font-size(30);
    }
    &.two {
      padding-top: .25rem;
      text-align: center;
      #J_FilterName {
        display: block;
        .font-size(30);
        .line-height(42);
      }
      p {
        .line-height(42);
      }
    }
  }
}*/

.page {
  transition-property: transform;
  -webkit-transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
  transition-duration: 350ms;
  -webkit-transition-duration: 350ms;
  /*-webkit-transform: translateX(0);
        transform: translateX(0);*/
  //.width(640);
  &.move-x {
    -webkit-transform: translateX(-8.625rem);
    transform: translateX(-8.625rem);
  }
  .footer {
    background: rgba(69, 62, 79, .8);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}