<div class="image-captcha" id="J_ImageCaptcha">
	<div class="image-captcha-center dialog-logout" id="J_ImageCaptcha-mask">
	<!--<span class="wrapper-icon"><span class="imageIcon"></span></span>-->
		<p>请输入图中数字验证身份</p>
		<div class="imageWrapper clearfix code-wrapper">
			<div>
	        	<input class="captcha-text" type="text" placeholder="验证码" 	name="captcha" >
	        	<img class="captcha" src="">
	        </div>
	        <p id="captcha-message"></p>
	        <div class="dialog-buttons clearfix">
	            <span class="dialog-btn J_DialogConfirm close-captcha">取消</span>
	            <span class="dialog-btn J_DialogClose close get-captcha disable" id="J_DialogSetupCancel">确认</span>
	            <span class="imagebar"></span>
	        </div>
	        <!--<span class="icon error-icon"></span>-->
	    </div>
	</div>
</div>