  @import '../../../../variable.less';
  .popup {
    position: fixed;
    .width(640);
    .padding-bottom(16);
    bottom: 0;
    left: 0;
    background: #fff;
    .padding(0, 30);
    z-index: 102;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateY(21rem) translateZ(0);
    transform: translateY(21rem) translateZ(0);
    &.show {
      -webkit-transform: translateY(0) translateZ(0);
      transform: translateY(0) translateZ(0);
    }
    &.up {
      .wrapper-icon {
        background: #f9584a;
      }
    }
    .close-outer {
      position: absolute;
      .width(51);
      .height(51);
      .top(0);
      .right(2);
      .padding(12);
      .close {
        display: block;
        .width(35);
        .height(35);
      }
    }
    .warpper-icon-outer {
      position: absolute;
      .top(-46);
      .left(20);
      .border-radius(50%);
      .padding(4);
      background: #fff;
      .width(136);
      .height(136);
    }
    .wrapper-icon {
      .left(4);
      .top(4);
      position: absolute;
      .width(128);
      .height(128);
      /* .left(218);
    .top(-64);*/
      .border-radius(50%);
      background-color: #24bbaa;
      .icon {
        position: absolute;
        .width(72);
        .height(70);
        .left(27);
        .top(29);
        .background-position(0, -231);
      }
    }
    .hd {
      border-bottom: 1px solid #d2d2da;
      .padding-left(146);
      .line-height(102);
      .height(103);
      .font-size(26);
      color: #473b61;
    }
    li {
      position: relative;
      float: left;
      .width(290);
      border-bottom: 1px solid #d2d2da;
      .line-height(86);
      .font-size(20);
      color: #473b61;
      &:nth-child(2),
      &:nth-child(5) {
        .padding-left(12);
      }
      &:nth-child(5) {
        .large {
          float: right;
        }
      }
      .bar {
        position: absolute;
        left: 0;
        .top(17);
        .height(52);
        width: 1px;
        background: #d2d2da;
      }
      &.one {
        .width(580);
      }
      .large {
        .font-size(34);
        color: #473b61;
        vertical-align: bottom;
      }
    }
    .dialog-buttons {
      text-align: center;
      .padding-top(30);
    }
    .dialog-btn {
      display: inline-block;
      .width(478);
      .height(60);
      .line-height(56ewrtewrtq);
      .margin-bottom(17);
      .border-bottom(4px, solid, #7f64c5);
      .font-size(24);
      .border-radius(4);
      background-color: #967adc;
      color: #fff;
      &.active {
        border-color: #967bdc;
      }
      &.order {
        background-color: #7686ba;
        border-bottom-color: #5b6ba1;
        &.active {
          border-color: #7686ba;
        }
      }
      &.list {
        background-color: #6da4ca;
        border-bottom-color: #5388ad;
        &.active {
          border-color: #6da4ca;
        }
      }
      &.share {
        background-color: #967abc;
        border-bottom-color: #6b4db5;
        &.active {
          border-color: #967abc;
        }
      }
    }
  }
  
  .popup-mask {
    z-index: 101;
  }