<div class="item">
  <a href="../my/profile.html?inviteCode=<%= data.inviteCode %>&from=<%= decodeURIComponent(location.href) %>">
    <div class="img-wrapper-outer">
      <div class="img-wrapper">
        <img src="<%= data.avatar %>" class="img" id="J_Img" alt="头像">
      </div>
    </div>
  </a>
  <div class="inner">
    <div class="hd clearfix">
      <p class="name">
        <%= data.nickname %>
      </p>
      <p class="date">
        <%= data.desc %>
      </p>
    </div>
    <div class="bd">
      <div class="desc">
        <%= data.title %>
        <p><%= data.content %></p>
      </div>
      <% if (data.images.length > 0) {%>
        <img src="<%= data.images[0] %>" alt="">
      <% } %>
    </div>
  </div>
</div>
<!-- <ul class="ft clearfix">
        <li class="retweet">
          <span class="count">8888</span>转发
        </li>
        <li>
          <span class="count">8888</span>
          <span class="icon-replay quan-iconfont">&#xe604;</span>
        </li>
        <li class="like">
          <span class="count">8888</span>
          <span class="icon-like quan-iconfont">&#xe605;</span>
        </li>
        <li>
          <span class="icon-more quan-iconfont">&#xe600;</span>
          <div class="action-wrapper clearfix">
            <span class="retweet-btn">转发</span>
            <span class="replay-btn">评论</span>
            <span class="like-btn">赞</span>
          </div>
        </li>
      </ul> -->