@import '../../../variable.less';
.dialog-mask {
  z-index: 101;
}

.attribute-wrapper {
  background: #f7f7f7;
  overflow: hidden;
  position: fixed;
  .top(0);
  .right(0);
  .bottom(0);
  .left(0);
  z-index: 102;
  .hd {
    position: relative;
    h2 {
      .line-height(88);
      text-align: center;
      .font-size(38);
      // background: #F2F2F2;
    }
    .close {
      position: absolute;
      .width(44);
      .height(44);
      .top(22);
      .left(30);
    }
  }
  .bd {
    p {
      .height(86);
      .line-height(86);
      .font-size(28);
      .padding(0, 30);
      .border-bottom(1, solid, #E0E0E0);
      background: #fff
    }
    .strong {
      float: right;
    }
  }
}