@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .edit {
        position: absolute;
        .width(44);
        .height(44);
        .line-height(44);
        .top(22);
      }
      .go-back{
        .left(30);
      }
      .edit{
          .right(30);
          .font-size(30);
          text-align: right;
          &.active{
              .width(80);
              color: #616161;
          }
      }
  }
}

nav {
  .width(750);
    .height(78);
    border-bottom: 1px solid transparent;
    li {
      position: relative;
      float: left;
      .width(125);
      .height(78);
      .line-height(78);
      .font-size(32);
      text-align: center;
      &.active {
          &:before {
            position: absolute;
            bottom: 0;
            .left(0);
            .width(125);
            .height(4);
            font-size: 0;
            content: '';
          }
      }
    }
}
.content{
    .width(750);
    overflow: hidden;
    .content-ul{
        .width(830);
        .transform(translate3d(-1.58rem, 0, 0));
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        &.unfold{
            .transform(translate3d(0, 0, 0));
            .padding-bottom(130);
        }
    }
}
.info-item{
    width: 100%;
    .font-size(28);
    .border-bottom(1, solid, transparent);
    .radio{
        display: inline-block;
        .width(74);
        .padding-left(30);
        .margin-right(30);
        overflow: hidden;
        vertical-align: middle;
        .icon-radio{
            display: block;
            .width(44);
            .height(44);
            margin: 0 auto;
        }
    }
    a{
        display: inline-block;
        .width(720);
        .padding(30);
        .padding-left(0);
        vertical-align: middle;
        overflow: hidden;
    }
    .top{
        .padding(15, 0);
        overflow: hidden;
        .dot{
            float: left;
            .width(18);
            .height(18);
            .border-radius(50%);
            .margin-top(12);
            .margin-right(12);
        }
    }
    h2{
        float: left;
        .font-size(32);
        vertical-align: middle;
    }
    .time{
        float: right;
        .font-size(26);
        vertical-align: middle;
    }
    .info-content{
        .max-height(80);
        overflow: hidden;
    }
    &.readed{
        .dot{
            display: none;
        }
    }
}

.edit-wrapper{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    .height(130);
    .padding(0, 30);
    .border-top(1, solid, #c8c7cc);
    background: #fff;
    box-shadow: 0 -1px 3px #d6d5d9;
    overflow: hidden;
    .transform(translate3d(0, 2.8rem, 0));
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    &.unfold{
        .transform(translate3d(0, 0, 0));
    }
    .left{
        float: left;
        .margin-top(43);
    }
    .right{
        float: right;
        .margin-top(21);
    }
    .icon{
        display: inline-block;
        .width(44);
        .height(44);
        vertical-align: middle;
    }
    .desc{
        .line-height(44);
        .font-size(32);
        .padding-left(30);
        vertical-align: middle;
    }
    .btn{
        display: inline-block;
        .width(170);
        .height(88);
        .line-height(88);
        .border-radius(3);
        .font-size(34);
        text-align: center;
        color: #fff;
    }
}

.empty{
    .padding-top(120);
    text-align: center;
    border: none;
}

.loading{
    .width(120);
    .loading(60, 120, #ccc, #fff);
    margin: 0 auto;
    .margin-top(120);
    text-align: center;
}