@import '../../../../variable.less';
.selfQrCode-dialog{
	.width(640);
	.margin-left(-320);
	top: 15%;
	.us-info{
		.font-size(34);
		.padding(30, 0);
		.us-img-wrapper{
			.width(140);
			.height(140);
			float: left;
			.border-radius(50%);
			.margin-right(30);
			overflow: hidden;
			.us-img{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.us-name{
			.width(200);
			.margin-top(20);
			.line-hide();
		}
	}
	.us-code-wrapper{
		position: relative;
		.padding(30, 0);
		.us-qrcode-inner{
			display: block;
			position: relative;
			width: 100%;
			.height(450);
			text-align: center;
			.us-qr-img{
				margin: 0 auto;
			}
			.us-dialog-load{
				position: absolute;
				margin: auto;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-color: #ccc;
				border-bottom-color: transparent;
			}
		}
		.us-qr-desc{
			.padding-bottom(60);
			.line-height(30);
			.height(30);
			text-align: center;
			.font-size(26);
			// .margin-top(50);
			vertical-align: top;
			overflow: hidden;
			.us-name{
				display: inline-block;
				.height(30);
				.max-width(180);
				.line-hide();
				vertical-align: top;
			}
		}
	}
}