<div class="pro-trading-guide-wrapper">
    <div class="guide-pro-trading-top">
        <div class="item-icon">
            <span class="guide-icon-desc"></span>
        </div>
        <div class="item-desc">
            <p class="guide-icon-arrow"></p>
            <p class="guide-desc">查看品种的相关信息</p>
        </div>
    </div>
    <div class="guide-pro-trading-guide-bt">
        <p class="guide-desc sm">点击更多设置 挂单 / 止盈 / 止损</p>
        <p class="guide-icon-arrow"></p>
        <!-- <p class="guide-desc more">更多设置</p> -->
    </div>
</div>