<div class="pro-trading-guide-wrapper">
    <div class="guide-pro-trading-top">
        <div class="item-icon">
            <span class="guide-icon-desc"></span>
        </div>
        <div class="item-desc">
            <p class="guide-icon-arrow"></p>
            <p class="guide-desc">我的相关信息隐藏在这里</p>
        </div>
    </div>
    <div class="guide-pro-trading-guide-bt">
        <p class="guide-desc sm">点此可以设置 挂单 / 止盈 / 止损</p>
        <p class="guide-icon-arrow"></p>
        <p class="guide-desc more">更多设置</p>
    </div>
</div>