<div class="guide-wrapper">
  <!-- <div class="J_GuideMask mask"></div> -->
  <div class="guide-content">
    <div class="wrapper-inner">
    <div class="inner">
      <p>您认为该品种价格会涨还是会跌？</p>
      <p>点这里下单，赚钱归你赔钱我出</p>
      </div>
    </div>
    <span class="J_Close close"></span>
    
  </div>
</div>