<div class="guide-wrapper result">
  <div class="J_GuideMask mask"></div>
  <div class="guide-content">
    <div class="inner-1">
      <img src="<%= getNewGuideQRCode() %>" alt="">
    </div>
    <span class="J_Close close"></span>
    
  </div>
</div>