<div class="guide-wrapper wxresult">
  <div class="J_GuideMask mask"></div>
  <div class="guide-content">
    <div class="inner-1">
      <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&scene=110&__biz=<%= getWXIDWL() %>#wechat_redirect">
        <h3>关注官方微信领赠金</h3>
        <p>点此关注官微 <span><%= getWeiXinWL() %></span></p>

      </a>
    </div>
    <span class="J_Close close"></span>
    
  </div>
</div>