@import '../../variable.less';
@import '../../base.less';
html {
    background: #8451da;
}

body {
    background: url(../../../img/404.png) 0 0 no-repeat;
    /*.background-size(640, 1008);*/
    background-size: 100% auto;
}

.hd {
    /*background: url(../../../img/404-hd.png) 0 0 no-repeat;*/
    /*.background-size(422, 232);*/
    /* background-size: 66% auto;
    height: 116px;
    margin-left: 34.375%;
    margin-top: 38px;*/
    margin-top: 38px;
    padding-left: 34.375%;
    img {
        width: 66%;
    }
    /* .height(232);

    .margin-left(220);
    .margin-top(76);*/
}

.ft {
    position: absolute;
    /*.width(640);*/
    /*.height(320);*/
    /*.height(254);*/
    /*.bottom(36);*/
    img {
        display: block;
        margin: 0 auto;
        /*   width: 240px;
        height: 240px;*/
        max-width: 45%;
        /*  .width(480);
        .height(480);*/
        /*.margin-bottom(10);*/
        margin-bottom: 4px;
        /*background: red;*/
    }
    /*.padding-top(174);
   background: url(../../../img/404-ft.png) 0 0 no-repeat;
   .background-size(640, 254);*/
    /*  .bottom(36);
    .padding-top(60);*/
    bottom: 18px;
    width: 100%;
    /*.background-size(640, 480);*/
    p {
        /*margin: 0 auto;*/
        /* .width(314);*/
        /*width: 49%;*/
        text-align: center;
        /*line-height: 13px;*/
        line-height: 1.3;
        font-size: 10px;
        /* .line-height(26);
        .font-size(20);*/
        color: #c5b6ed;
        text-align: center;
    }
}

input {
    -webkit-appearance: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}