@import '../../variable.less';
@import '../../base.less';
html {
    background: #8451da;
}

body {
    background: url(../../../img/404.png) 0 0 no-repeat;
    /*.background-size(640, 1008);*/
    background-size: 100% auto;
}

.hd {
    margin-top: 38px;
    padding-left: 34.375%;
    img {
        width: 66%;
    }
}

.ft {
    position: absolute;
    img {
        display: block;
        margin: 0 auto;
        max-width: 45%;
        margin-bottom: 4px;
    }
    bottom: 18px;
    width: 100%;
    p {
        text-align: center;
        line-height: 1.3;
        font-size: 10px;
        color: #c5b6ed;
        text-align: center;
    }
}

input {
    -webkit-appearance: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

h1,
h2,
h3 {
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}