<div class="popup">
	<div class="hd">
		<span class="warpper-icon-outer">
	    <span class="wrapper-icon"><span class="icon"></span></span>
	  </span>
    <h2>领取成功</h2>
    <span class="J_ClosePopup close-outer">
    	<span class="close"></span>
    </span>
  </div>
  <ul class="clearfix">
  	<li class="item clearfix">
      <div class="left-wrapper">
        <p>领取红包（个）：</p>
        <p class="desc">真实及模拟资金红包总和</p>
      </div>
      <div class="right"><%= data.count %></div>
    </li>
  	<li class="item clearfix">
      <div class="left-wrapper">
        <p>真实资金（$）：</p>
        <p class="desc">已充值到您的实盘账户</p>
      </div>
      <div class="right"><%= data.amount %></div>
    </li>
  </ul>
  <div class="dialog-buttons clearfix" id="J_Success">
       <a class="dialog-btn  J_Order J_SwitchReal" href="./option.html">马上进行实盘交易</a>
       <a class="dialog-btn order J_List J_SwitchReal" href="./account.html">查看我的账户</a>
   </div>
</div>
