 <ul class="clearfix">
    <li >
        <a class="color" href="./pro-chart.html<%= data %>">图表</a>
    </li>
    <li class="active">
        <a class="color" href="javascript:void(0);">下单</a>
    </li>
    <li>
        <a class="color" href="./pro-list.html<%= data %>">持仓</a>
    </li>
</ul>