@import '../../../variable.less';
@import '../../../base.less';
.icon-weixin();
.com-header();
.content {
    .padding-bottom(20);
    .item-wrapper {
        overflow: hidden;
        background-color: #f4f1fc;
    }
    .item {
        position: relative;
        .height(166);
        .margin-bottom(10);
        .padding(0, 42, 0, 80);
        background: #fff;
        color: @fontColor;
        .link {
            display: block;
            color: inherit;
        }
        .left {
            float: left;
            .width(250);
            .padding-top(3);
            h2 {
                overflow: hidden;
                .height(62);
                .line-height(62);
                .font-size(30);
            }
            li {
                .line-height(30);
                .font-size(20);
            }
        }
        .right {
            float: left;
            .width(266);
            text-align: right;
            p {
                .font-size(20);
                .line-height(60);
                .num {
                    .font-size(36);
                }
            }
            .order-wrapper {
                .margin-top(10);
                p {
                    .line-height(38);
                    .font-size(18);
                }
                .order {
                    display: inline-block;
                    .width(120);
                    .line-height(40);
                    .font-size(20);
                    background: #c1afeb;
                    color: #fff;
                    .border-radius(2);
                    text-align: center;
                }
            }
        }
        .tag {
            position: absolute;
            .top(26);
            .left(36);
            .width(20);
            .height(20);
            .border-radius(50%);
            background: #32d8a3;
            &.up {
                background: #f9594a;
            }
        }
    }
    .loader-minix();
    .empty {
        font-family: Microsoft YaHei, Helvetica, Arial, sans-serif;
        .line-height(60);
        text-align: center;
    }
    .desc {
        .padding-top(20);
        .font-size(22);
        color: #a39db0;
        text-align: center;
        .line-height(40);
    }
}