@import '../../../base.less';
@import '../../../variable.less';
.rotateanimate();
header{
  .width(750);
  background: #F2F2F2;
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .add {
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        background: red;
      }
      .go-back{
        .left(30);
      }
      .add{
        .right(30);
      }
  }
}

.loading{
  position: absolute;
  .width(120);
  .loading(60, 120, #ccc, #fff);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  .margin-top(120);
  text-align: center;
}

.empty {
  .line-height(60);
  .font-size(24);
  text-align: center;
}

// .list {
//   h1 {
//     background: #efeff4;
//     border-top: 1px solid #ccc;
//     border-bottom: 1px solid #ccc;
//     .line-height(52);
//     .height(54);
//     .font-size(26);
//     .padding-left(32);
//     .count {
//       .font-size(30);
//       .margin-left(40);
//     }
//   }
//   .list-wrapper {
//     position: relative;
//     .fold {
//       .width(68);
//       .height(68);
//       .right(48);
//       .bottom(-42);
//       position: absolute;
//       z-index: 1;
//       background: red;
//       &.unfold {
//         .background-position(0, -376);
//       }
//     }
//   }
//   ul {
//     .padding-left(29);
//     border-bottom: 1px solid #c8c7cc;
//     .max-height(320);
//     overflow: hidden;
//     &.unfold {
//       max-height: initial;
//     }
//   }
//   .item {
//     .height(160);
//     border-bottom: 1px solid #c8c7cc;
//     &:last-child {
//       border: none;
//     }
//   }
//   .img-wrapper-outer {
//     float: left;
//     .width(128);
//     .height(128);
//     .margin-left(2);
//     .margin-top(16);
//     .padding(5);
//     .border-radius(50%);
//     .border(5, solid, #e9e4f7);
//     overflow: hidden;
//     background: #b8a7e5;
//   }
//   .info {
//     .margin-top(33);
//     float: left;
//     .width(332);
//     .padding-left(32);
//     color: #473b61;
//     text-align: left;
//     h2 {
//       .line-height(50);
//       .height(50);
//       .font-size(30);
//       .line-hide();
//       .desc {
//         .font-size(24);
//         .margin-left(20);
//       }
//     }
//     p {
//       .font-size(24);
//       .line-height(44);
//       position: relative;
//       .type {
//         .width(20);
//         .height(20);
//         .border-radius(50%);
//         position: absolute;
//         .top(12);
//         .left(2);
//       }
//     }
//   }
//   .detail-wrapper {
//     float: right;
//     .width(225);
//     .trade,
//     .get {
//       .margin-top(56);
//       .line-height(48);
//       border: 1px solid #a5a2ab;
//       .padding(0, 10);
//       display: inline-block;
//       color: #a5a2ab;
//       .font-size(20);
//       .border-radius(5);
//       &.on {
//         background: #ab95e3;
//         border-color: #ab95e3;
//         color: #fff;
//       }
//     }
//     .get {
//       .margin-left(8);
//       .padding(0, 8);
//     }
//   }
// }