@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .show-slide-menu,
      .fn {
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
      }
      .show-slide-menu{
        .left(30);
      }
      .fn{
        .right(30);
            .bar {
              display: block;
              .width(44);
              .height(44);
          }
          ul {
            position: absolute;
            z-index: 50;
            .top(60);
            .right(0);
          }
          li { 
            a {
              text-decoration: none;
            }
          }
      }
  }
}

nav {
  .width(750);
    .height(78);
    border-bottom: 1px solid transparent;
    li {
      position: relative;
      float: left;
      .width(250);
      a {
          display: block;
          .height(78);
          .line-height(78);
          .font-size(32);
          text-align: center;
          // &:hover,
          // &:visited{
          //    color: #3583DE;
          // }
      }
      &.active {
          &:before {
              position: absolute;
            bottom: 0;
              .left(0);
              .width(250);
              .height(4);
              font-size: 0;
              content: '';
          }
      }
    }
}

.content {
  margin: 0 auto;
  .width(750);
  .padding-bottom(198);
  &.real {
    .demo-list {
      display: none;
    }
    .real-list {
      display: block;
    }
  }
  .real-list {
    display: none;
  }
  .item {
    .padding-bottom(2);
  }
  .link {
    display: block;
    position: relative;
    .padding(30, 0);
    .padding-left(75);
    .padding-right(57);
    .height(185);
    .font-size(24);
    background: #fff;
    .margin_checkItem{
      position: absolute;
      .width(28);
      .padding(6, 0);
      .top(52);
      .left(11);
      .font-size(14);
      .line-height(18);
      text-align: center;
      border: 1px solid transparent;
    }
    .kindTag{
      .top(94);
    }
    .guideAll{
      position: absolute;
      .width(40);
      .height(40);
      .top(105);
      .right(30);
      background: #967bdc;
      -webkit-box-shadow: 0px 5px 9px rgba(0,0,0,.25);  
      -moz-box-shadow: 0px 5px 9px rgba(0,0,0,.25);  
      box-shadow: 0px 5px 9px rgba(0,0,0,.25); 
      .triangleAll{
        display: inline-block;
        border-style:none;
        transform: rotate(90deg);
        .width(10);
        .height(18);
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIJJREFUeNpi+P//vxQQbwRiCSBmwIVBxI3/EHAdn2IQUfUfAXAqhjEIKkbmVOJTjG4FTsXYHI5VMa7gwFDMgCfsqpEVMzFgByBxZST+c2wmMQHxPCTT9gExF1GK0D3DjKZoL0wRskK8imAKCSqCKSSoCKbwACFFMIUgyQ58ikAYIMAAn48wETXNe4cAAAAASUVORK5CYII=) 0 0 no-repeat;
        .background-size(10, 18);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
      }
      .triangleAllUp{
        transform: rotate(270deg);
        .top(10);
      }
    }
    .name-wrapper {
      position: relative;
      float: left;
      .padding-top(8);
      .width(200);
      p {
        .line-height(40);
        overflow: hidden;
      }
      .tag{
        .font-size(28);
      }
      .name {
        .font-size(34);
        .line-hide();
      }
    }
    .detail {
      float: left;
      .padding-top(5);
      .padding-left(12);
      .width(418);
      li {
        float: left;
        .padding-left(22);
        .width(135);
        .height(69);
        p {
          .line-height(30);
          .height(30);
        }
        .name {
          .line-height(26);
          .height(26);
        }
      }
    }
  }
  .link_all{
    position: relative;
    .margin-bottom(40);
    border-top:1px solid;
    border-bottom:1px solid;
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,.25);  
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,.25);  
    box-shadow: 0px 3px 5px rgba(0,0,0,.25); 
    .name-wrapper {
      .name,
      .date{
        .padding-right(30);
        float: right;
      }
      .padding-left(0);
      .name{
        .padding-left(1000);
        .padding-bottom(20);
        .margin-top(-20);
        .font-size(40);
      }
      .date{
        .font-size(30);
      }
      .symbolName{
        float:left;
      }
    }
    .desc-name{
      .width(560);
      .padding-left(30);
      .font-size(32);
      .line-height(80);
      .line-hide();
      .name{
        .height(80);
      }
    }
    .detail{
      width: 100%;
      overflow: hidden;
      .item{
        .width(200);
        .height(40);
        .font-size(22);
        .line-height(40);
        .padding-bottom(0);
        .line-hide();
        &:first-child{
          .width(180);
        }
        &:last-child{
          .width(220);
        }
        .num{
          .padding-left(5);
        }
      }
    }
  }
  #J_DemoList,
  #J_List{
    background-color: #f3f2f2;
  }
  .linkAll_detail{
    .padding-bottom(40);
    background-color: #f3f2f2;
    .link{
      .name-wrapper{
        .width(200);

      }
      background-color: #f3f2f2;
      border-bottom:1px solid #dddcdf;
    }
  }
  .empty {
    .height(60);
    .line-height(60);
    text-align: center;
    background-color: #fff;
  }
  .qrcode {
    .padding-top(20);
    .width(350);
    .margin-left(200);
    .img(350, 350, 350, 350);
    text-align: center;
  }
  .loading{
    .width(120);
    .loading(60, 120, #ccc, #fff);
    text-align: center;
    margin: 0 auto;
    .margin-top(120);
  }
}

footer {
  position: fixed;
  .width(750);
  .height(100);
  .footer();
  bottom: 0;
  background-color: #EDEDED;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}