@import '../../base.less';
@import '../../variable.less';
.rotateanimate();
header{
  .width(750);
  .header-inner{
    position: relative;
      .height(88);
      .line-height(88);
      .font-size(38);
      text-align: center;
      position: relative;
      .go-back,
      .pocket {
        position: absolute;
        .width(44);
        .height(44);
        .top(22);
        background: red;
      }
      .go-back{
        .left(30);
      }
      .pocket{
        .right(30);
      }
  }
}

nav {
  .width(750);
    .height(78);
    border-bottom: 1px solid #E6E6E6;
    li {
      position: relative;
      float: left;
      .width(375);
      .height(78);
      .line-height(78);
      .font-size(32);
      text-align: center;
      &.active {
        &:before {
          position: absolute;
          bottom: 0;
          .left(0);
          .width(375);
          .height(4);
          font-size: 0;
          background: #3583DE;
          content: '';
        }
      }
    }
}

.content {
  position: relative;
  .padding-bottom(200);
  .item {
    .padding(25, 30);
    .font-size(28);
    border-bottom: 1px solid #e7e6eb;
    .num {
      float: right;
      span {
        .margin-left(4);
      }
    }
  }
  .loading{
    position: absolute;
    .width(120);
    .loading(60, 120, #ccc, #fff);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    .margin-top(120);
    text-align: center;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  .width(750);
  .height(100);
  .padding-top(16);
  .action-wrapper {
    position: absolute;
    .top(-88);
    .left(0);
    .width(750);
    .height(88);
    background-color: #fff;
    a {
      display: inline-block;
      .width(330);
      .height(88);
      .padding(20, 0);
      .margin(0, 20);
      .border-radius(5);
      .font-size(32);
      text-align: center;
      background-color: red;
      color: #fff;
      &.extract {
        border-color: green;
      }
      &.recharge-demo {
        .width(690);
        background: red;
      }
    }
  }
  .bottom-banner {
    display: none;
    position: absolute;
    .bottom(0);
    .height(60);
    .width(750);
    .font-size(28);
    .line-height(60);
    background: #dadbdd;
    .close-wrapper {
      position: absolute;
      .top(0);
      .left(0);
      .width(44);
      .height(44);
    }
    .close {
      position: absolute;
      .top(0);
      .left(0);
      .width(28);
      .height(28);
      background: red;
    }
    .desc {
      .margin-left(30);
      color: #706781;
    }
    .login {
      float: right;
      .margin-right(25);
      .width(140);
      .height(54);
      text-align: center;
      color: #fff;
    }
  }
}